<template>
  <section class="our-excellence-section">
    <div class="container">
      <div class="row title-wrapper no-gutters">
        <div class="col-sm-6 wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".5s">
          <span v-bind="$parent.dKey('b6subtitle')" class="section-title">{{subtitle}}</span>
          <h3 v-bind="$parent.dKey('b6title')">{{title}}</h3>
        </div>
        <div v-bind="$parent.dKey('b6titleRight')" class="col-sm-6 big-title-st text-right resp-number wow fadeInRight" data-wow-duration="2s" data-wow-delay=".5s">{{bgTitle}}</div>
      </div>
      <div class="row our-excellence-wrapper">
        <div class="col-3 wow fadeInDown" data-wow-duration="2s" data-wow-delay=".5s">
          <div class="our-excellence-overview">
            <div class="for-borders">
              <span v-bind="$parent.dKey('b6array#0#title')" class="gradient-words">{{getInfo(0, 'title')}}</span>
              <div class="row our-excellence-content">
              <div class="col-4 excellence-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="74" height="74" viewBox="0 0 74 74">
                  <defs><path id="i4oha" d="M192.407 5223.96h2.196v2.445h-2.196zm58.593-1.472V5234h-74v-11.512c0-7.277 4.73-13.469 11.276-15.661-3.348-1.85-5.621-5.417-5.621-9.506 0-4.791 3.12-8.864 7.432-10.299-.028-.963-.078-1.926-.017-2.887l2.191.139a27.721 27.721 0 0 0-.054 1.743c0 .052.01.276.02.528.42-.05.845-.078 1.278-.078 3.5 0 6.615 1.667 8.6 4.247.94-5.308 5.351-9.43 10.797-9.924v-1.067h2.196v1.067c5.446.494 9.858 4.616 10.797 9.924 1.985-2.58 5.1-4.247 8.6-4.247.625 0 1.237.056 1.833.158l.033-.315a34.597 34.597 0 0 0 .01-2.07l2.195-.06a22.203 22.203 0 0 1-.101 3.041c4.024 1.59 6.88 5.515 6.88 10.1 0 4.089-2.273 7.656-5.621 9.506 6.546 2.192 11.276 8.384 11.276 15.66zm-8.077-23.206c-6.123-.258-9.834-2.315-11.426-3.445-1.224 1.086-3.002 2.267-5.498 3.128.77 3.99 4.286 7.013 8.496 7.013 4.098 0 7.537-2.865 8.428-6.696zm-8.428 8.892c-1.296 0-2.552.174-3.746.499l3.746 4.296 3.746-4.296a14.265 14.265 0 0 0-3.746-.499zm-8.628-11.497c4.546-1.755 5.983-4.62 5.998-4.651l1.976.958c-.028.058-.271.542-.811 1.233 1.48.978 4.787 2.672 10.114 2.875-.121-4.668-3.953-8.43-8.649-8.43-4.555 0-8.297 3.541-8.628 8.015zm-1.952 3.042a12.164 12.164 0 0 1-4.38 3.844 18.462 18.462 0 0 1 7.262 4.324 16.515 16.515 0 0 1 2.47-1.06 10.889 10.889 0 0 1-5.352-7.108zm-.25-4.815c-7.088-.263-11.314-2.672-13.05-3.927-1.387 1.249-3.433 2.622-6.342 3.606.832 4.616 4.876 8.131 9.727 8.131 4.738 0 8.707-3.352 9.665-7.81zM214 5204.91c-1.55 0-3.049.22-4.47.626l4.47 5.125 4.47-5.125a16.218 16.218 0 0 0-4.47-.626zm-9.873-12.604c5.268-1.963 6.964-5.24 7.038-5.39l1.973.963c-.032.068-.326.654-.99 1.483 1.634 1.107 5.464 3.14 11.736 3.35-.06-5.401-4.47-9.778-9.884-9.778-5.278 0-9.603 4.159-9.873 9.372zm-.042 7.413a10.89 10.89 0 0 1-5.351 7.108c.856.287 1.681.643 2.47 1.06a18.461 18.461 0 0 1 7.262-4.324 12.164 12.164 0 0 1-4.381-3.844zm-19.208-3.041c4.485-1.73 5.936-4.53 6.001-4.659l1.973.965c-.028.058-.271.542-.812 1.233 1.481.978 4.788 2.672 10.115 2.875-.122-4.668-3.953-8.43-8.65-8.43-4.555 0-8.297 3.541-8.627 8.016zm8.628 9.3c4.098 0 7.537-2.865 8.428-6.696-6.123-.258-9.834-2.315-11.427-3.445-1.224 1.086-3.001 2.267-5.497 3.128.77 3.99 4.286 7.013 8.496 7.013zm0 2.196c-1.296 0-2.552.174-3.747.499l3.747 4.296 3.746-4.296a14.243 14.243 0 0 0-3.746-.499zm2.043 23.63v-10.633c0-4.392 1.543-8.43 4.114-11.603l-.198-.092-4.861 5.575v6.838h-2.196v-6.838l-4.862-5.575c-4.923 2.265-8.35 7.245-8.35 13.012v9.315h4.634v-8.826h2.196v8.826zm34.708-10.633c0-6.587-3.936-12.272-9.58-14.825l-5.578 6.397v7.754h-2.196v-7.754l-5.579-6.397c-5.643 2.553-9.579 8.238-9.579 14.825v10.632h5.496v-10.08h2.196v10.08h17.128v-10.08h2.196v10.08h5.496zm18.548 1.317c0-5.767-3.426-10.747-8.349-13.012l-4.862 5.575v6.838h-2.195v-6.838l-4.862-5.575c-.066.03-.132.06-.197.092a18.374 18.374 0 0 1 4.113 11.603v10.632h9.523v-8.826h2.196v8.826h4.633zm-15.407 1.472h2.196v2.445h-2.196zm-20.495-1.13h2.196v2.754h-2.196zm26.583-58.961h2.196v2.444h-2.196zm6.147 11.326h2.196v2.445h-2.196zm-58.64-10.104h2.195v2.444h-2.196zm-8.138 11.867h2.196v2.444h-2.196zm13.995 3.137c-.15.68-.277 1.38-.375 2.077l-2.174-.305c.106-.754.242-1.51.405-2.246zm1.24-4.02c-.26.643-.496 1.31-.703 1.983l-2.098-.646c.225-.733.482-1.458.764-2.158zm7.628-9.748c-.565.403-1.118.839-1.642 1.293l-1.44-1.659c.577-.5 1.185-.98 1.807-1.423zm-3.153 2.736a21.907 21.907 0 0 0-1.365 1.58l-1.73-1.352a23.88 23.88 0 0 1 1.504-1.742zm-2.57 3.287a22.37 22.37 0 0 0-1.037 1.816l-1.955-.999c.35-.686.733-1.358 1.139-1.996zm9.338-8.122c-.631.291-1.256.616-1.857.965l-1.102-1.9a24.78 24.78 0 0 1 2.04-1.06zm3.942-1.383c-.673.166-1.347.368-2.004.599l-.727-2.073a24.296 24.296 0 0 1 2.203-.658zm28.324 14.486l-2.115.591a20.04 20.04 0 0 0-.662-1.972l2.042-.808c.277.7.524 1.437.735 2.189zm-1.742-4.265l-1.953 1.004a22.161 22.161 0 0 0-1.043-1.813l1.849-1.184c.413.644.799 1.314 1.147 1.993zm-13.952-11.83l-.718 2.076a22.393 22.393 0 0 0-2.006-.59l.519-2.134c.741.18 1.483.398 2.205.649zm16.521 20.674l-2.185.216a25.924 25.924 0 0 0-.29-2.086l2.16-.393c.133.731.24 1.493.315 2.263zm-12.265-18.84l-1.097 1.902c-.6-.347-1.226-.669-1.859-.958l.912-1.998a24.65 24.65 0 0 1 2.044 1.053zm3.846 2.605l-1.442 1.657a21.8 21.8 0 0 0-1.64-1.294l1.274-1.788a23.65 23.65 0 0 1 1.808 1.425zm3.25 3.458l-1.73 1.355a22.103 22.103 0 0 0-1.365-1.583l1.592-1.514c.525.554 1.03 1.14 1.502 1.742zm-20.354-2.497h2.196v2.181h-2.196zm0 4.362h2.196v2.181h-2.196zm0 4.362h2.196v2.182h-2.196zm4.419-15.157l-.348 2.17-.024-.005c-.597-.078-.858-.11-1.457-.137v-.002c-.132-.005-.264-.01-.394-.012v2.238h-2.196v-2.179c-.558.039-1.174.127-1.448.161l-.3.04-.322-2.172c1.472-.276 3.664-.467 6.489-.102z"/></defs><g><g transform="translate(-177 -5160)"><use fill="#fff" xlink:href="#i4oha"/></g></g>
                </svg>
              </div>
              <div class="col-8 excellence-text">
                <p v-bind="$parent.dKey('b6array#0#content')" class="m-0">{{getInfo(0, 'content')}}</p>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
          <div class="our-excellence-overview">
            <div class="for-borders">
              <span v-bind="$parent.dKey('b6array#1#title')" class="gradient-words">{{getInfo(1, 'title')}}</span>
              <div class="row our-excellence-content">
              <div class="col-4 excellence-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="90" height="60" viewBox="0 0 90 60">
                  <defs><path id="fboda" d="M580.722 5179.047L592 5179v12h-16zM590 5181h-7l-3 8h10zm52.79 29.952c0 2.364-1.913 4.286-4.264 4.286-2.35 0-4.263-1.922-4.263-4.286 0-2.363 1.913-4.286 4.263-4.286 2.351 0 4.264 1.923 4.264 4.286zm-2.843 0c0-.787-.637-1.428-1.42-1.428-.784 0-1.422.64-1.422 1.428 0 .788.638 1.429 1.421 1.429.784 0 1.421-.641 1.421-1.429zm-50.21 0c0 2.364-1.912 4.286-4.263 4.286s-4.263-1.922-4.263-4.286c0-2.363 1.912-4.286 4.263-4.286 2.35 0 4.263 1.923 4.263 4.286zm-2.842 0c0-.787-.638-1.428-1.421-1.428-.784 0-1.421.64-1.421 1.428 0 .788.637 1.429 1.42 1.429.784 0 1.422-.641 1.422-1.429zM657 5160.001v50h-10c.008.157.527.791.527.951 0 4.989-4.038 9.047-9 9.047-4.963 0-9-4.058-9-9.047 0-.16-.535-.794-.527-.951h-35c.008.157.474.791.474.951 0 4.989-4.038 9.047-9 9.047-4.963 0-9-4.058-9-9.047 0-.16.518-.794.526-.951h-10v-8.096h1.895v-12.242L577 5174h19v-14zm-78 44h-10v4h8c.422-1.068 1.23-3.178 2-4zm12.632 6.951c0-3.413-2.763-6.19-6.158-6.19-3.396 0-6.158 2.777-6.158 6.19 0 3.413 2.762 6.19 6.158 6.19 3.395 0 6.158-2.777 6.158-6.19zm-19.895-9.047L596 5202v-26l-17.227.19L571 5190v12zM632 5204h-40c.77.823 1.578 2.933 2 4h36c.422-1.067 1.23-3.177 2-4zm12.684 6.952c0-3.413-2.762-6.19-6.158-6.19-3.395 0-6.158 2.777-6.158 6.19 0 3.413 2.763 6.19 6.158 6.19 3.396 0 6.158-2.777 6.158-6.19zM655 5204h-10c.77.823 1.469 2.552 1.89 3.619l8.11.381zm0-42h-57l.263 39.905L655 5202zm-47 4v2h-5v5l-1.895.429v-7.714zm43 0v7h-2v-5h-5l-.358-2.285zm-43 31v2l-6.895.048v-7.715L603 5192v5zm43-5v7l-7.358.048L644 5197h5v-5zm-67 2h8v2h-8z"/></defs><g><g transform="translate(-567 -5160)"><use fill="#fff" xlink:href="#fboda"/></g></g>
                </svg>
              </div>
              <div class="col-8 excellence-text">
                <p v-bind="$parent.dKey('b6array#1#content')" class="m-0">{{getInfo(1, 'content')}}</p>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 wow fadeInDown" data-wow-duration="2s" data-wow-delay=".5s">
          <div class="our-excellence-overview">
            <div class="for-borders">
              <span v-bind="$parent.dKey('b6array#2#title')" class="gradient-words">{{getInfo(2, 'title')}}</span>
              <div class="row our-excellence-content">
              <div class="col-4 excellence-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="74" height="73" viewBox="0 0 74 73">
                  <defs><path id="nx5wa" d="M1014.287 5189.649h2.159v2.156h-2.16zm-46.276 24.601l7.341-3.162.855 1.98-7.34 3.163zm45.151-6.444l1.527-1.526 5.614 5.608-1.527 1.525zm-47.49-24.86l.348-2.126 7.054 1.149-.348 2.128zm28.46-5.232h2.16v3.45h-2.16zm-18.79 24.289l1.738-1.28 1.436 1.942-1.737 1.282zm-5.472-7.401l1.737-1.281 4.19 5.666-1.737 1.281zm30.063 9.545l1.274-6.93 2.124.39-1.274 6.93zm-3.883 22.253l.2 2.147c-.984.091-1.985.138-2.975.138v-2.158c.923 0 1.857-.042 2.775-.127zm15.444-3.41c-.655.455-1.336.89-2.023 1.293l-1.094-1.858c.64-.377 1.274-.783 1.885-1.205zm-4.948.426l.961 1.932a31.915 31.915 0 0 1-9.04 2.913l-.35-2.127a29.784 29.784 0 0 0 8.429-2.718zm-28.296-54.812l1.015 1.903a30.08 30.08 0 0 0-3.27 2.021l-1.252-1.757a31.994 31.994 0 0 1 3.507-2.167zm15.025-3.752v2.158c-4.208 0-8.292.868-12.138 2.582l-.88-1.968a31.77 31.77 0 0 1 13.018-2.772zm36.275 31.916c0 8.659-3.108 17.04-8.75 23.599a36.276 36.276 0 0 1-27.525 12.631c-9.529 0-18.53-3.66-25.343-10.31a36.091 36.091 0 0 1-7.995-11.616 35.955 35.955 0 0 1-2.937-14.304c0-7.415 2.228-14.545 6.444-20.617a36.323 36.323 0 0 1 29.831-15.613c2.982 0 5.95.364 8.822 1.081l-.524 2.093a34.29 34.29 0 0 0-8.298-1.016 34.162 34.162 0 0 0-27.03 13.288l15.136 2.467-5.02 12.766 7.26 9.81-2.762 15.865-10.313 5.284c6.261 5.6 14.274 8.665 22.73 8.665a34.12 34.12 0 0 0 25.244-11.153l-10.922-11.567-5.437 6.879-7.245-8.443 2.455-11.688-7.24-9.57-.72-11.495 7.266-2.505.705 2.038-5.713 1.97.576 9.21 7.44 9.835-2.437 11.607 4.845 5.646 5.36-6.78 12.475 13.212a34.053 34.053 0 0 0 7.463-21.269c0-2.145-.202-4.295-.6-6.392l2.12-.402c.424 2.23.639 4.515.639 6.794zm-60.656 23.831l10.022-5.135 2.42-13.898-7.422-10.027 4.48-11.39-13.556-2.21a33.835 33.835 0 0 0-5.679 18.83c0 8.996 3.452 17.428 9.735 23.83zm60.009-37.416l-.06.091-13.342 18.465-13.402-18.556c-2.797-4.839-2.797-10.618 0-15.456 2.797-4.84 7.807-7.728 13.402-7.728 5.594 0 10.604 2.889 13.402 7.728 2.797 4.838 2.797 10.617 0 15.456zm-1.87-14.378c-2.408-4.163-6.719-6.65-11.532-6.65-4.814 0-9.125 2.487-11.532 6.65-2.398 4.149-2.407 9.099-.027 13.253l11.559 15.997 11.558-15.997c2.38-4.154 2.371-9.103-.027-13.253zm-.376 6.65c0 6.144-5.005 11.142-11.156 11.142-6.152 0-11.157-4.998-11.157-11.141 0-6.146 5.005-11.144 11.157-11.144 6.151 0 11.156 4.998 11.156 11.144zm-2.159 0c0-4.955-4.036-8.986-8.997-8.986s-8.997 4.03-8.997 8.987c0 4.953 4.036 8.985 8.997 8.985 4.96 0 8.997-4.032 8.997-8.985z"/></defs><g><g transform="translate(-957 -5160)"><use fill="#fff" xlink:href="#nx5wa"/></g></g>
                </svg>
              </div>
              <div class="col-8 excellence-text">
                <p v-bind="$parent.dKey('b6array#2#content')" class="m-0">{{getInfo(2, 'content')}}</p>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
          <div class="our-excellence-overview">
            <div class="for-borders">
              <span v-bind="$parent.dKey('b6array#3#title')" class="gradient-words">{{getInfo(3, 'title')}}</span>
              <div class="row our-excellence-content">
              <div class="col-4 excellence-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="66" height="73" viewBox="0 0 66 73">
                  <defs><path id="p126a" d="M1357 5211h18v2h-18zm33.241 9.63c-.016.001-.225-.63-.24-.63-1.427 0-2.626.057-3.636-.946a5.216 5.216 0 0 1-1.552-3.727l2.459.002c-.001.742.292 1.444.825 1.974a3.013 3.013 0 0 0 2.122.863zm-13.24-9.63H1381v2h-4zm14-40h13v2h-13zm15 0H1409v2h-3zm-16.933-3.49l-2.449-.233c.098-1.034-1.023-2.077-1.986-2.188-1.913-.105-3.95-.068-5.918-.033-1 .018-1.706-.056-2.715-.056v-2c.987 0 1.682-.391 2.671-.409 2.029.339 4.12.186 6.13.038l.053.005c2.187.219 4.453 2.35 4.213 4.876zM1370 5163h3v2h-3zm-11 0h8l.181 2.093h-8.324zm52 55v2c-6.189-.038-12.809-.038-19 0v-2c6.373-.274 12.893-.165 19 0zm1-41v37h-22c-2.827 0-5.041-1.882-5.18-4.682h-.008v-.268c0-1.27-.546-3.05-1.812-3.05h-29v27h-7v-66c-.495-.74-1-1.587-1-2.483 0-2.49 2.021-4.516 4.505-4.516s4.505 2.026 4.505 4.516c0 .926-.287 1.826-.814 2.582L1354 5169h29c2.622 0 4.272 1.872 4.272 4.5l-.272 3.5zm-60 54v-62c-.004.001-.277-.137-.282-.135a4.88 4.88 0 0 1-.284.07l-.019.004a4.75 4.75 0 0 1-.294.05l-.01.002a4.41 4.41 0 0 1-1.264-.008h-.007c-.2-.03-.397-.073-.59-.129-.009-.002-.242.149-.25.146v62zm.55-66.483a2.05 2.05 0 0 0-2.045-2.051 2.05 2.05 0 0 0 0 4.101c.586 0 1.147-.256 1.537-.702.328-.374.509-.854.509-1.348zM1385 5174c0-1.269-1.217-2.801-2.483-2.801l-28.517-.2V5204h28c.832 0 2.319-.378 3 0zm25 5h-23v30c0 1.564 1.541 2.887 3.101 2.887L1410 5212z"/></defs><g><g transform="translate(-1346 -5160)"><use fill="#fff" xlink:href="#p126a"/></g></g>
                </svg>
              </div>
              <div class="col-8 excellence-text">
                <p v-bind="$parent.dKey('b6array#3#content')" class="m-0">{{getInfo(3, 'content')}}</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name: 'OurExcellence',

  props: ['title', 'subtitle', 'bgTitle', 'advantages'],

  mounted() {
    document.querySelectorAll('[data-key]').forEach(function(node){
      node.contentEditable = true
    })
  },

  methods: {
    getInfo(id, field) {
      if (typeof this._props.advantages != 'undefined')
        return this._props.advantages[id][field]
      return ''
    }
  }
}

</script>