<template>
  <section class="type-weight-section">
    <div class="container">
      <div class="row title-wrapper no-gutters">
        <div class="col-sm-9 wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".5s">
          <span v-bind="$parent.dKey('b4subtitle')" class="section-title">{{subtitle}}</span>
          <h2 v-bind="$parent.dKey('b4title')">{{title}}</h2>
        </div>
        <div v-bind="$parent.dKey('b4titleRight')" class="col-sm-3 big-title-st text-right resp-number wow fadeInRight" data-wow-duration="2s" data-wow-delay=".5s">{{bgTitle}}</div>
      </div>
      <div class="row type-weight-services-overview">
        <div class="col-4 type-weight-service wow fadeInRight" data-wow-duration="2s" data-wow-delay=".5s">
          <router-link :event="$root.isAdmin() ? '' : 'click'" v-bind:to="'/' + $root.locale + '/industry#food-industry'" v-bind:class="{'type-weight-service-hover': !$root.isAdmin()}" class="full type-weight-service-img">
            <span v-if="$root.isAdmin()" class="hidden" v-bind="$parent.dKey('b4array#0#link')">{{getInfo(0, 'link')}}</span>
            <img src="//assets.gtagency.de/img/type1.jpg" alt="">
            <div v-bind:class="{'show-type': $root.isAdmin()}" class="type-weight-content">
              <div class="type-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64">
                  <defs><path id="feyha" d="M223.305 3214.543a4.166 4.166 0 0 1-2.956 1.222c-1.07 0-2.14-.407-2.955-1.222l-7.457-7.457a3.567 3.567 0 0 1-.719-3.988c.045-.098.065-.222.017-.27l-1.257-1.257a.218.218 0 0 0-.156-.065.216.216 0 0 0-.156.065 3.527 3.527 0 0 1-2.51 1.04c-.95 0-1.841-.37-2.512-1.04l-7.78-7.78c-3.886-3.887-5.792-7.744-5.667-11.466.098-2.894 1.457-4.599 1.514-4.67a1.04 1.04 0 0 1 1.538-.08l31.056 31.057a4.185 4.185 0 0 1 0 5.91zm-1.466-4.445l-30.089-30.088c-.779 1.909-1.439 6.296 4.581 12.315l7.78 7.78c.278.278.65.432 1.044.432.395 0 .766-.154 1.045-.433a2.278 2.278 0 0 1 1.622-.671c.612 0 1.188.238 1.622.671l1.257 1.258c.663.663.822 1.683.403 2.598a1.484 1.484 0 0 0 .3 1.66l7.456 7.457a2.109 2.109 0 0 0 2.979 0 2.108 2.108 0 0 0 0-2.979zm2.404-28.924l-6.617 6.616a1.034 1.034 0 0 1-1.466 0 1.037 1.037 0 0 1 0-1.466l6.617-6.616a1.036 1.036 0 1 1 1.466 1.466zm-2.817-3.663l-6.744 6.744c-.651.651-1.05 1.47-1.067 2.188l-.057 2.344c-.006.266-.115.52-.303.708l-2.173 2.173a1.034 1.034 0 0 1-1.466 0 1.037 1.037 0 0 1 0-1.466l1.88-1.88.046-1.929c.03-1.257.64-2.57 1.674-3.604l6.744-6.744a1.036 1.036 0 1 1 1.466 1.466zm-17.722 28.647l-8.295 8.294a4.154 4.154 0 0 1-2.955 1.224 4.154 4.154 0 0 1-2.955-1.224 4.152 4.152 0 0 1-1.224-2.955c0-1.117.434-2.167 1.224-2.956l8.006-8.006a1.037 1.037 0 0 1 1.466 1.466l-8.006 8.006a2.092 2.092 0 0 0-.617 1.49c0 .562.219 1.091.617 1.489.397.397.927.616 1.489.616.563 0 1.091-.219 1.49-.616l8.293-8.294a1.037 1.037 0 0 1 1.467 1.466zm24.357-22.012l-6.744 6.744c-1.044 1.044-2.394 1.632-3.707 1.612l-1.998-.03-1.863 1.863a1.034 1.034 0 0 1-1.466 0 1.037 1.037 0 0 1 0-1.467l2.173-2.173c.198-.198.471-.307.749-.303l2.437.037c.747.008 1.569-.364 2.21-1.005l6.743-6.744a1.036 1.036 0 1 1 1.466 1.466zM239 3196c0 8.548-3.329 16.584-9.373 22.627-6.043 6.044-14.08 9.373-22.627 9.373-8.548 0-16.583-3.329-22.627-9.373-6.045-6.043-9.373-14.08-9.373-22.627 0-8.548 3.329-16.583 9.373-22.627 6.044-6.044 14.08-9.373 22.627-9.373 8.548 0 16.584 3.329 22.627 9.373 6.045 6.043 9.373 14.08 9.373 22.627zm-2.073 0c0-7.994-3.113-15.509-8.766-21.162-5.652-5.652-13.167-8.765-21.161-8.765-7.994 0-15.509 3.113-21.161 8.765-5.653 5.653-8.766 13.168-8.766 21.162s3.113 15.509 8.766 21.162c5.652 5.651 13.167 8.765 21.16 8.765 7.995 0 15.51-3.114 21.162-8.765 5.653-5.653 8.766-13.168 8.766-21.162z"/><linearGradient id="feyhb" x1="175" x2="239" y1="3196" y2="3196" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-175 -3164)"><use xlink:href="#feyha"/><use fill="url(#feyhb)" xlink:href="#feyha"/></g></g>
                </svg>
              </div>
              <h6 v-bind="$parent.dKey('b4array#0#title')">{{getInfo(0, 'title')}}</h6>
              <div v-bind="$parent.dKey('b4array#0#content')" v-html="getInfo(0, 'content')" class="type-text"></div>
            </div>
          </router-link>
        </div>
        <div class="col-4 type-weight-service wow fadeInRight" data-wow-duration="2s" data-wow-delay=".75s">
          <router-link :event="$root.isAdmin() ? '' : 'click'" v-bind:to="'/' + $root.locale + '/industry#diy-logistic'" v-bind:class="{'type-weight-service-hover': !$root.isAdmin()}" class="full type-weight-service-img">
            <span v-if="$root.isAdmin()" class="hidden" v-bind="$parent.dKey('b4array#1#link')">{{getInfo(1, 'link')}}</span>
            <img src="//assets.gtagency.de/img/type2.jpg" alt="">
            <div v-bind:class="{'show-type': $root.isAdmin()}" class="type-weight-content">
              <div class="type-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64">
                  <defs><path id="se68a" d="M758.994 3212.096a1.072 1.072 0 0 1-1.162.972c-.135-.017-13.598-1.116-23.135 5.014-.357.22-.697.44-1.027.68a68.688 68.688 0 0 1-6.978 4.353 40.183 40.183 0 0 1-9.831 3.696c-.146.077-.308.12-.473.123-.018 0-.033-.012-.05-.012a43.221 43.221 0 0 1-9.297 1.047l-10.971.03a1.066 1.066 0 1 1 0-2.133l10.968-.03a41.265 41.265 0 0 0 8.286-.875v-3.14a6.319 6.319 0 0 1-4.48-3.069 6.494 6.494 0 0 1-.076-6.506 54.47 54.47 0 0 1 1.462-2.453 43.675 43.675 0 0 0-16.067-2.059 1.07 1.07 0 1 1-.187-2.133 44.868 44.868 0 0 1 17.465 2.36c.344-.502.667-.965.947-1.355a2.402 2.402 0 0 1 3.906 0 61.582 61.582 0 0 1 3.015 4.601 34.464 34.464 0 0 0 5.546-2.438 37.255 37.255 0 0 1-4.649-2.24c-13.905-7.948-24.787-7.414-25.98-7.328a1.069 1.069 0 1 1-.156-2.133 33.68 33.68 0 0 1 6.399.32v-.854a3.205 3.205 0 0 1-1.571-1.298 3.803 3.803 0 0 1-.173-3.662c.446-.893.939-1.762 1.477-2.603a1.619 1.619 0 0 1 2.667 0 27.85 27.85 0 0 1 1.477 2.605 3.801 3.801 0 0 1-.173 3.661 3.203 3.203 0 0 1-1.57 1.297v1.19a54.006 54.006 0 0 1 7.465 1.929v-2.133a4.221 4.221 0 0 1-2.433-1.886 5.166 5.166 0 0 1-.234-4.977 41.141 41.141 0 0 1 2.178-3.852 1.814 1.814 0 0 1 3.103 0 41.456 41.456 0 0 1 2.185 3.852 5.167 5.167 0 0 1-.23 4.977 4.22 4.22 0 0 1-2.436 1.886v2.889a62.3 62.3 0 0 1 7.387 3.358 8.515 8.515 0 0 1 14.82-.474 58.53 58.53 0 0 1 4.456-1.92v-3.362a5.228 5.228 0 0 1-3.383-2.453 5.804 5.804 0 0 1-.15-5.68 49.182 49.182 0 0 1 2.864-4.689 2.089 2.089 0 0 1 3.472 0 49.185 49.185 0 0 1 2.864 4.688 5.803 5.803 0 0 1-.15 5.68 5.228 5.228 0 0 1-3.384 2.454v2.595c8.696-2.917 14.637-2.447 14.996-2.414a1.067 1.067 0 0 1-.192 2.125c-.501-.049-12.398-.99-27.47 8.857a8.32 8.32 0 0 1-.34.213l-.107.067a36.81 36.81 0 0 1-6.495 3.282 45.385 45.385 0 0 0 10.527 3.327 36.658 36.658 0 0 1 14.414-4.79v-1.6a3.122 3.122 0 0 1-1.733-1.406 3.005 3.005 0 0 1 .026-3.05c.455-.757.953-1.488 1.493-2.189a1.67 1.67 0 0 1 2.56 0c.54.701 1.038 1.433 1.493 2.191.562.936.572 2.104.025 3.049-.384.665-1 1.165-1.73 1.404v1.369a46.51 46.51 0 0 1 7.559-.107 1.07 1.07 0 0 1 .971 1.162zm-17.063-16.094a3.005 3.005 0 0 0 2.623-1.538 3.61 3.61 0 0 0 .091-3.581 47.151 47.151 0 0 0-2.735-4.48c-.682 1.056-1.745 2.689-2.694 4.48a3.61 3.61 0 0 0 .092 3.581 3.004 3.004 0 0 0 2.623 1.538zm-37.498-3.485a24.348 24.348 0 0 0-.897-1.644 24.562 24.562 0 0 0-.897 1.642c-.25.51-.224 1.11.07 1.594.167.305.48.5.827.516a.996.996 0 0 0 .826-.516c.294-.484.321-1.084.07-1.592zm8.701 3.016a1.91 1.91 0 0 0 1.693-1.025c.539-.883.588-1.98.131-2.907a38.461 38.461 0 0 0-1.824-3.256 38.561 38.561 0 0 0-1.824 3.256 3.018 3.018 0 0 0 .132 2.907 1.91 1.91 0 0 0 1.692 1.025zm16.065 11.835a65.092 65.092 0 0 1 5.301-3.114 6.383 6.383 0 0 0-5.367-2.92 6.404 6.404 0 0 0-5.67 3.449 34.95 34.95 0 0 0 5.736 2.585zm-9.214 10.301a4.373 4.373 0 0 0 .05-4.388 57.025 57.025 0 0 0-3.48-5.43.269.269 0 0 0-.443 0 57.083 57.083 0 0 0-3.48 5.433 4.374 4.374 0 0 0 .051 4.388v-.003a4.219 4.219 0 0 0 7.302 0zm11.43.055a49.834 49.834 0 0 1-8.72-2.965 6.509 6.509 0 0 1-.872 3.995 6.317 6.317 0 0 1-4.365 3.046v2.66a37.89 37.89 0 0 0 8.226-3.223 65.034 65.034 0 0 0 5.73-3.513zm18.927-10.512a.874.874 0 0 0-.01-.907 19.288 19.288 0 0 0-.935-1.423c-.296.41-.629.903-.936 1.422a.875.875 0 0 0-.01.908 1.155 1.155 0 0 0 1.89 0zm-42.538-29.661a3.733 3.733 0 0 1 3.3-3.925 5.318 5.318 0 0 1 10.185-.871c.47-.14.955-.214 1.444-.22a5.342 5.342 0 0 1 5.226 4.291 3.734 3.734 0 0 1-.426 7.442h-9.6a3.726 3.726 0 0 1-3.678-3.2h-2.72a3.733 3.733 0 0 1-3.73-3.517zm11.73.318c0 .589-.478 1.066-1.067 1.066h-.533a1.6 1.6 0 1 0 0 3.2h9.599a1.594 1.594 0 0 0 1.6-1.6 1.6 1.6 0 0 0-1.6-1.6h-.534a1.066 1.066 0 0 1-1.066-1.066 3.2 3.2 0 1 0-6.4 0zm-9.6-.534a1.6 1.6 0 0 0 1.6 1.6h3.038a3.654 3.654 0 0 1 2.935-2.109 5.334 5.334 0 0 1 1.883-3.103 3.2 3.2 0 0 0-6.256.945c0 .59-.477 1.067-1.066 1.067h-.533a1.592 1.592 0 0 0-1.6 1.6zm25.596-5.115a3.734 3.734 0 0 1 3.3-3.927 5.333 5.333 0 0 1 10.46 0 3.734 3.734 0 0 1-.427 7.442h-9.598a3.733 3.733 0 0 1-3.735-3.515zm2.252.395c.248.599.834.989 1.483.987h9.598a1.6 1.6 0 1 0 0-3.2h-.533a1.066 1.066 0 0 1-1.067-1.067 3.2 3.2 0 1 0-6.399 0c0 .589-.477 1.067-1.066 1.067h-.533a1.6 1.6 0 0 0-1.483 2.213z"/><linearGradient id="se68b" x1="695" x2="759" y1="3196" y2="3196" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-695 -3164)"><use xlink:href="#se68a"/><use fill="url(#se68b)" xlink:href="#se68a"/></g></g>
                </svg>
              </div>
              <h6 v-bind="$parent.dKey('b4array#1#title')">{{getInfo(1, 'title')}}</h6>
              <div v-bind="$parent.dKey('b4array#1#content')" v-html="getInfo(1, 'content')" class="type-text"></div>
            </div>
          </router-link>
        </div>
        <div class="col-4 type-weight-service wow fadeInRight" data-wow-duration="2s" data-wow-delay="1s">
          <router-link :event="$root.isAdmin() ? '' : 'click'" v-bind:to="'/' + $root.locale + '/industry#fmcg-logistics'" v-bind:class="{'type-weight-service-hover': !$root.isAdmin()}" class="full type-weight-service-img">
            <span v-if="$root.isAdmin()" class="hidden" v-bind="$parent.dKey('b4array#2#link')">{{getInfo(2, 'link')}}</span>
            <img src="//assets.gtagency.de/img/type3.jpg" alt="">
            <div v-bind:class="{'show-type': $root.isAdmin()}" class="type-weight-content">
              <div class="type-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="58" height="64" viewBox="0 0 58 64">
                  <defs><path id="fu0ea" d="M1272.655 3072.257a3.923 3.923 0 0 1-2.194 2.111l-16.59 6.39a18.421 18.421 0 0 1-13.668-.153l-8.019-3.363v.414a1.08 1.08 0 0 1-1.074 1.085h-8.592a1.08 1.08 0 0 1-1.074-1.085h-5.37a1.08 1.08 0 0 1-1.074-1.085c0-.6.481-1.084 1.074-1.084h5.37v-1.085c0-.6.48-1.085 1.074-1.085a1.08 1.08 0 0 1 1.074 1.085v2.17h6.444v-13.018h-6.444v6.509c0 .599-.48 1.085-1.074 1.085a1.08 1.08 0 0 1-1.074-1.085v-5.423h-5.37a1.08 1.08 0 0 1-1.074-1.086c0-.599.481-1.084 1.074-1.084h5.37c0-.6.48-1.085 1.074-1.085h8.592a1.08 1.08 0 0 1 1.074 1.085v12.422l8.834 3.709a16.281 16.281 0 0 0 12.085.132l16.59-6.389c.447-.172.805-.518.994-.96.202-.458.213-.978.03-1.444a1.785 1.785 0 0 0-.967-1.01 1.686 1.686 0 0 0-1.342 0l-8.978 3.851a6.58 6.58 0 0 1-2.48.53c-.022 0-.042.006-.064.006h-12.888a1.08 1.08 0 0 1-1.074-1.084c0-.6.481-1.085 1.074-1.085h12.822c.143 0 .281-.03.422-.043a1.624 1.624 0 0 0 1.246-1.575 1.62 1.62 0 0 0-1.602-1.637h-8.33a7.543 7.543 0 0 1-3.388-.807 22.87 22.87 0 0 0-10.261-2.446h-.575a1.08 1.08 0 0 1-1.074-1.086c0-.599.481-1.084 1.074-1.084h.575c3.895.005 7.735.921 11.221 2.676.754.379 1.585.577 2.427.578h8.331c2.076 0 3.76 1.7 3.76 3.797a3.74 3.74 0 0 1-.036.391l6.964-2.987a3.814 3.814 0 0 1 3.007 0 3.936 3.936 0 0 1 2.137 2.217 4.053 4.053 0 0 1-.063 3.115zm-.733-45.583v26.033c0 .472-.3.89-.745 1.034l-23.628 7.593c-.212.068-.44.068-.65 0l-23.629-7.593a1.084 1.084 0 0 1-.752-1.034v-26.033c.003-.473.308-.89.755-1.03l23.628-7.593c.212-.067.44-.067.651 0l23.628 7.594c.033.014.066.03.097.048a1.074 1.074 0 0 1 .33.228c.027.028.056.051.08.082.084.101.148.218.19.342v.038c.028.094.043.192.045.29zm-28.855-5.12l20.083 6.455 4.154-1.335-20.084-6.455zm-7.696 2.474l20.084 6.454 4.153-1.335-20.084-6.455zm34.404 27.885v-23.756l-5.555 1.784v7.887c0 .473-.305.892-.752 1.034l-1.97.632a1.033 1.033 0 0 1-.322.051 1.087 1.087 0 0 1-.322-2.119l1.22-.391v-6.4l-5.548 1.784v6.4l1.106-.356a1.072 1.072 0 0 1 1.349.704 1.087 1.087 0 0 1-.698 1.363l-2.506.807a1.08 1.08 0 0 1-.322.051 1.08 1.08 0 0 1-1.074-1.085v-7.196l-6.087 1.953v15.478a1.08 1.08 0 0 1-1.074 1.084 1.08 1.08 0 0 1-1.074-1.084v-15.478l-17.513-5.627a1.086 1.086 0 0 1-.698-1.362c.18-.57.784-.887 1.35-.705l17.935 5.762 4.69-1.507-20.083-6.456-7.16 2.302v24.447l21.48 6.902v-3.94c0-.598.48-1.084 1.073-1.084a1.08 1.08 0 0 1 1.074 1.085v3.94zm-40.813-5.715v3.255a1.08 1.08 0 0 1-1.074 1.085 1.08 1.08 0 0 1-1.074-1.085v-3.255a1.08 1.08 0 0 1 1.074-1.084 1.08 1.08 0 0 1 1.074 1.084zm4.296 1.086v3.254a1.08 1.08 0 0 1-1.074 1.084 1.08 1.08 0 0 1-1.074-1.084v-3.254c0-.6.481-1.086 1.074-1.086a1.08 1.08 0 0 1 1.074 1.086z"/><linearGradient id="fu0eb" x1="1215" x2="1273" y1="3050" y2="3050" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-1215 -3018)"><use xlink:href="#fu0ea"/><use fill="url(#fu0eb)" xlink:href="#fu0ea"/></g></g>
                </svg>
              </div>
              <h6 v-bind="$parent.dKey('b4array#2#title')">{{getInfo(2, 'title')}}</h6>
              <div v-bind="$parent.dKey('b4array#2#content')" v-html="getInfo(2, 'content')" class="type-text"></div>
            </div>
          </router-link>
        </div>
        <div class="col-4 type-weight-service wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1s">
          <router-link :event="$root.isAdmin() ? '' : 'click'" v-bind:to="'/' + $root.locale + '/industry#automotive-industry'" v-bind:class="{'type-weight-service-hover': !$root.isAdmin()}" class="full type-weight-service-img">
            <span v-if="$root.isAdmin()" class="hidden" v-bind="$parent.dKey('b4array#3#link')">{{getInfo(3, 'link')}}</span>
            <img src="//assets.gtagency.de/img/type4.jpg" alt="">
            <div v-bind:class="{'show-type': $root.isAdmin()}" class="type-weight-content">
              <div class="type-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="65" height="51" viewBox="0 0 65 51">
                  <defs><path id="wu1xa" d="M240 3627.187v24.438h-5.592c-.517 3.63-3.644 6.375-7.494 6.375-3.85 0-6.978-2.745-7.495-6.375h-23.946c-.517 3.63-3.644 6.375-7.495 6.375-3.85 0-6.977-2.745-7.494-6.375h-1.699c-2.055 0-3.785-1.7-3.785-3.719v-36.762c0-2.338 1.839-4.144 4.218-4.144h32.77c2.272 0 4.11 1.806 4.11 4.144v2.231h10.815c.974 0 1.947.425 2.704 1.169l9.41 10.2c.648.638.973 1.487.973 2.443zm-8.652-7.437h-9.842l-.006 10.789H238l-.271-3.458c0-.318-.108-.744-.433-.956zM177 3636.913h37l-.065-23.538v-2.23c0-1.064-.745-2.184-1.935-2.184h-33c-1.19 0-2 1.284-2 2.452v10.789h11c.649 0 1.06.099 1.06.736s-.411 1.225-1.06 1.225h-11v2.943l15.305.082c.649 0 1.081.424 1.081 1.062 0 .638-.237.818-.886.818H177zm16.386 13.65c0-2.976-2.38-5.313-5.408-5.313-3.028 0-5.407 2.337-5.407 5.312s2.38 5.313 5.407 5.313c3.029 0 5.408-2.338 5.408-5.313zm20.55-11.688H177v9.317c0 .85.92 1.308 1.785 1.308h1.699c.484-3.405 3.265-6.028 6.784-6.342l.078-.006c.089-.007.177-.014.267-.018a7.257 7.257 0 0 1 .731 0c.09.004.178.01.267.018l.078.006c3.519.314 6.327 3.101 6.811 6.506H214zm18.385 11.687c0-2.975-2.38-5.312-5.408-5.312-3.028 0-5.407 2.337-5.407 5.312s2.38 5.313 5.407 5.313c3.029 0 5.408-2.338 5.408-5.313zm2.087-1.062l3.592.164v-9.809l-5.679.082c-.649 0-1.081-.425-1.081-1.062 0-.638.432-1.062 1.081-1.062l5.679.081v-5.394h-16.819c-.973 0-1.681-.515-1.681-1.471v-11.279c0-.957.527-1.962 1.5-1.962h8.5l-1.505-1.863c-.325-.213-.67-.588-.995-.588h-11v34.327l3.419-.164c.484-3.405 3.265-6.028 6.784-6.342l.078-.006c.089-.007.177-.014.267-.018a7.257 7.257 0 0 1 .998.018l.078.006c3.519.314 6.3 2.937 6.784 6.342zm-44.266 1.062c0 1.169-.974 2.126-2.164 2.126-1.19 0-2.163-.957-2.163-2.126 0-1.168.974-2.125 2.163-2.125 1.19 0 2.164.957 2.164 2.125zm38.935 0c0 1.169-.974 2.126-2.164 2.126-1.19 0-2.163-.957-2.163-2.126 0-1.168.974-2.125 2.163-2.125 1.19 0 2.164.957 2.164 2.125z"/><linearGradient id="wu1xb" x1="175" x2="240" y1="3633" y2="3632" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-175 -3607)"><use xlink:href="#wu1xa"/><use fill="url(#wu1xb)" xlink:href="#wu1xa"/></g></g>
                </svg>
              </div>
              <h6 v-bind="$parent.dKey('b4array#3#title')">{{getInfo(3, 'title')}}</h6>
              <div v-bind="$parent.dKey('b4array#3#content')" v-html="getInfo(3, 'content')" class="type-text"></div>
            </div>
          </router-link>
        </div>
        <div class="col-4 type-weight-service wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".75s">
          <router-link :event="$root.isAdmin() ? '' : 'click'" v-bind:to="'/' + $root.locale + '/industry#chemical-industry'" v-bind:class="{'type-weight-service-hover': !$root.isAdmin()}" class="full type-weight-service-img">
            <span v-if="$root.isAdmin()" class="hidden" v-bind="$parent.dKey('b4array#4#link')">{{getInfo(4, 'link')}}</span>
            <img src="//assets.gtagency.de/img/type5.jpg" alt="">
            <div v-bind:class="{'show-type': $root.isAdmin()}" class="type-weight-content">
              <div class="type-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64">
                  <defs><path id="qntia" d="M759 3638.255c0 10.887-8.86 19.745-19.748 19.745a19.64 19.64 0 0 1-7.428-1.446 1.021 1.021 0 1 1 .769-1.892 17.61 17.61 0 0 0 6.659 1.295c9.762 0 17.705-7.941 17.705-17.702a17.714 17.714 0 0 0-11.91-16.731 1.021 1.021 0 0 1-.688-.965v-16.346h-.34a1.022 1.022 0 0 1 0-2.043h2.043c.563 0 1.02-.458 1.02-1.02 0-.564-.322-1.283-.885-1.283h-13.87c-.564 0-.906.719-.906 1.282 0 .563.458 1.021 1.02 1.021h7.492a1.021 1.021 0 1 1 0 2.043h-5.789v16.346c0 .435-.275.823-.687.965a17.728 17.728 0 0 0-7.773 5.36 1.02 1.02 0 0 1-1.439.124 1.02 1.02 0 0 1-.125-1.438 19.788 19.788 0 0 1 7.981-5.724v-15.653a3.068 3.068 0 0 1-2.723-3.044c0-1.69 1.259-2.882 2.948-2.882h13.87c1.69 0 2.93 1.193 2.93 2.882a3.068 3.068 0 0 1-2.724 3.044v15.652a19.76 19.76 0 0 1 12.598 18.41zm-12.136 2.57a1.021 1.021 0 1 1 0 2.043 1.021 1.021 0 0 1 0-2.043zm-4.086 4.086a1.021 1.021 0 1 1 .001 2.042 1.021 1.021 0 0 1 0-2.042zm-3.526 6.962c7.51 0 13.62-6.109 13.62-13.617 0-2.142-.505-4.251-1.464-6.147-.868.31-1.367.712-1.892 1.134-.88.707-1.792 1.438-3.924 1.438-1.964 0-3.002-.891-3.836-1.608-.754-.647-1.298-1.115-2.505-1.115-1.207 0-1.75.467-2.505 1.115-.834.717-1.872 1.608-3.835 1.608-2.132 0-3.043-.731-3.924-1.439-.594-.477-1.157-.929-2.258-1.252l-.017-.003a1.021 1.021 0 0 1-1.051-1.517l.026-.048a1.021 1.021 0 0 1 1.024-.497l.372.051c.046.007.093.017.138.03 1.544.438 2.376 1.106 3.046 1.644.74.595 1.23.988 2.644.988 1.206 0 1.75-.467 2.504-1.115.834-.716 1.872-1.608 3.836-1.608 1.964 0 3.002.892 3.836 1.608.754.648 1.298 1.115 2.505 1.115 1.413 0 1.903-.393 2.645-.988.669-.538 1.502-1.206 3.046-1.645a1.06 1.06 0 0 1 .138-.029l.372-.051a1.02 1.02 0 0 1 1.025.5 15.65 15.65 0 0 1 2.096 7.83c0 8.635-7.026 15.66-15.662 15.66-2.317 0-4.55-.495-6.636-1.472a1.02 1.02 0 1 1 .867-1.85c1.812.85 3.753 1.28 5.769 1.28zm-9.741-2.95c.821 2.375.591 4.64-.648 6.38-1.239 1.74-3.305 2.697-5.819 2.697h-21.11c-2.513 0-4.58-.958-5.818-2.697-1.24-1.74-1.47-4.005-.648-6.38l9.927-28.698a1.022 1.022 0 0 1 1.931.668l-9.927 28.698c-.6 1.733-.464 3.341.38 4.527.846 1.186 2.321 1.84 4.155 1.84h21.11c1.835 0 3.31-.654 4.155-1.84.845-1.186.98-2.794.38-4.527l-9.926-28.698a1.02 1.02 0 0 1-.056-.334v-20.431h-.34a1.022 1.022 0 0 1 0-2.043h2.042a1.023 1.023 0 0 0 0-2.043h-13.62a1.023 1.023 0 0 0 0 2.043h7.491a1.021 1.021 0 1 1 0 2.043h-5.788v16.346a1.022 1.022 0 0 1-2.043 0v-16.366a3.068 3.068 0 0 1-2.724-3.044 3.067 3.067 0 0 1 3.065-3.064h13.619a3.067 3.067 0 0 1 3.064 3.064 3.068 3.068 0 0 1-2.724 3.044v20.28zm-23.363-6.667c1.207 0 1.75-.468 2.504-1.115.835-.717 1.873-1.609 3.836-1.609 1.964 0 3.002.892 3.837 1.608.753.648 1.298 1.116 2.505 1.116 1.274 0 1.802-.331 2.359-.763a1.023 1.023 0 0 1 1.591.473l2.869 8.293c.378 1.091.337 2.041-.114 2.674-.45.633-1.656.8-2.811.8h-20.806c-1.155 0-2.024-.167-2.475-.8-.45-.633-.491-1.582-.114-2.674l2.869-8.293a1.022 1.022 0 0 1 1.591-.473c.557.432 1.085.763 2.359.763zm0 2.042c-1.067 0-1.836-.19-2.436-.46l-2.452 7.088c-.145.42-.153.693-.138.813.107.051.353-.139.796-.139h21.34c.443 0 .492.19.599.139.014-.12.006-.394-.139-.813l-2.452-7.088c-.6.27-1.369.46-2.436.46-1.964 0-3.002-.892-3.836-1.608-.754-.648-1.299-1.115-2.506-1.115-1.206 0-1.75.467-2.504 1.115-.834.716-1.872 1.607-3.836 1.608z"/><linearGradient id="qntib" x1="694.98" x2="758.98" y1="3626" y2="3626" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-695 -3594)"><use xlink:href="#qntia"/><use fill="url(#qntib)" xlink:href="#qntia"/></g></g>
                </svg>
              </div>
              <h6 v-bind="$parent.dKey('b4array#4#title')">{{getInfo(4, 'title')}}</h6>
              <div v-bind="$parent.dKey('b4array#4#content')" v-html="getInfo(4, 'content')" class="type-text"></div>
            </div>
          </router-link>
        </div>
        <div class="col-4 type-weight-service wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".5s">
          <router-link :event="$root.isAdmin() ? '' : 'click'" v-bind:to="'/' + $root.locale + '/industry#home-appliances-industry'" v-bind:class="{'type-weight-service-hover': !$root.isAdmin()}" class="full type-weight-service-img">
            <span v-if="$root.isAdmin()" class="hidden" v-bind="$parent.dKey('b4array#5#link')">{{getInfo(5, 'link')}}</span>
            <img src="//assets.gtagency.de/img/type6.jpg" alt="">
            <div v-bind:class="{'show-type': $root.isAdmin()}" class="type-weight-content">
              <div class="type-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="57" viewBox="0 0 60 57">
                  <defs><path id="xz5ga" d="M1259 3656.982a1.01 1.01 0 0 1-1 1.018h-26c-.552 0-1-.456-1-1.018a1.01 1.01 0 0 1 1-1.018h7v-5.09c0-.56.448-1.017 1-1.017s1 .456 1 1.018v5.09h8v-5.09c0-.562.448-1.018 1-1.018s1 .456 1 1.018v5.09h7c.552 0 1 .455 1 1.017zm-12.97-14.25c0 .562-.447 1.018-1 1.018a1.014 1.014 0 0 1-1.005-1.018c0-.562.443-1.018.995-1.018h.01c.553 0 1 .456 1 1.018zm15.263-29.816a1.03 1.03 0 0 1 0-1.439.986.986 0 0 1 1.414 0l2 2.036a1.03 1.03 0 0 1 0 1.439.99.99 0 0 1-1.414 0zm-6 0a1.03 1.03 0 0 1 0-1.439.986.986 0 0 1 1.414 0l8 8.143a1.03 1.03 0 0 1 0 1.439.99.99 0 0 1-1.414 0zm19.707-6.826v36.642c0 2.616-2.348 5.355-4.918 5.355h-50.164c-2.57 0-4.918-2.74-4.918-5.355v-36.642c0-2.617 2.43-5.09 5-5.09h50c2.57 0 5 2.473 5 5.09zm-2 36.642v-36.642c0-1.485-1.542-3.055-3-3.055h-50c-1.458 0-3 1.57-3 3.055v36.642c0 1.484 1.542 3.268 3 3.268h50c1.458 0 3-1.784 3-3.268zm-2-36.642v32.57c0 .563-.448.34-1 .34h-50c-.552 0-1 .223-1-.34v-32.57a1.01 1.01 0 0 1 1-1.019h50c.552 0 1 .456 1 1.019zm-2 30.91v.643zm0 0v-29.893h-48V3637z"/><linearGradient id="xz5gb" x1="1215" x2="1275" y1="3630" y2="3629" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-1215 -3601)"><use xlink:href="#xz5ga"/><use fill="url(#xz5gb)" xlink:href="#xz5ga"/></g></g>
                </svg>
              </div>
              <h6 v-bind="$parent.dKey('b4array#5#title')">{{getInfo(5, 'title')}}</h6>
              <div v-bind="$parent.dKey('b4array#5#content')" v-html="getInfo(5, 'content')" class="type-text"></div>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name: 'TypeWeight',

  props: ['title', 'subtitle', 'bgTitle', 'articles'],

  mounted() {
    document.querySelectorAll('[data-key]').forEach(function(node){
      node.contentEditable = true
    })

    $('.type-weight-service-hover').hover(function() {
      $(this).find('.type-weight-content').addClass('show-type');
    }, function() {
      $(this).find('.type-weight-content').removeClass('show-type');
    })

    if (this.$root.isAdmin()) {
      $('.type-weight-services-overview a').on('click', function(event){
        event.preventDefault()
      });
    }
  },

  methods: {
    getInfo(id, field) {
      if (typeof this._props.articles != 'undefined')
        return this._props.articles[id][field]
      return ''
    }
  }
}

</script>
