<template>
  <main v-bind="dKey('pageid', pageName, pageId)">
    <section class="prev-page-section" style="background-image:url(https://assets.gtagency.de/img/about-us-head.jpg);">
      <div class="container">
        <div v-bind="dKey('abTitleTop')" class="grey-title-block resp-number wow slideInRight" data-wow-offset="10"  data-wow-iteration="1">{{info.abTitleTop}}</div>
      </div>
    </section>
    <section class="food-industry-section industry-page about-us-page">
      <div class="container">
        <span v-bind="dKey('abUpInfoTitle')" class="section-title wow slideInLeft" data-wow-offset="5"  data-wow-iteration="1">{{info.abUpInfoTitle}}</span>
        <h3 v-bind="dKey('abTitle')" class="wow slideInLeft" data-wow-offset="5"  data-wow-iteration="1">{{info.abTitle}}</h3>
        <div class="row about-first-content wow fadeInUp" data-wow-offset="5"  data-wow-iteration="1">
          <div v-bind="dKey('abContent')" class="col-lg-6 about-us-page-text" v-html="info.abContent"></div>
          <div class="col-lg-6 col-xl-5 about-us-pict">
            <img src="https://assets.gtagency.de/img/about-us-pict.jpg" alt="">
          </div>
        </div>
        <!-- <p></p> -->
      </div>
    </section>
    <section id="anchor-sect" class="building-section industry-page about-us-page wow fadeInUp" data-wow-offset="10"  data-wow-iteration="1">
      <div class="container">
        <span v-bind="dKey('abPrimeUpTitle')" class="section-title">{{info.abPrimeUpTitle}}</span>
        <h3 v-bind="dKey('abPrimeTitle')">{{info.abPrimeTitle}}</h3>
      </div>
      <div class="about-us-features-overview">
        <div class="part-one-feature">
          <div class="row no-gutters">
            <div class="col-12">
              <div class="row no-gutters">
                <div class="col-6 features-box">
                  <div class="features-box-center">
                    <div class="icon-features line-bottom">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64"><defs>
                        <path id="knyya" d="M214 2121c0 17.673-14.327 32-32 32-17.673 0-32-14.327-32-32 0-17.673 14.327-32 32-32 17.673 0 32 14.327 32 32zm-2 0c0-16.57-13.43-30-30-30s-30 13.43-30 30c0 16.569 13.43 30 30 30s30-13.431 30-30zm-30 1a1 1 0 1 1 0-1.999 1 1 0 0 1 0 2zm13.435 8.192a2.999 2.999 0 0 1 0 4.243 2.999 2.999 0 0 1-4.243 0l-8.505-8.504c-.226.031-.452.07-.687.07a5 5 0 0 1-5-5c0-1.632.792-3.065 2-3.978V2103a3 3 0 1 1 6 0v14.023c1.208.913 2 2.346 2 3.977 0 .237-.038.461-.07.688zM181 2116.101a5.035 5.035 0 0 1 2 0V2103a1 1 0 1 0-2 0zm1 7.9a3 3 0 1 0 .001-6 3 3 0 0 0-.001 6zm12.02 7.605l-7.851-7.852a5.02 5.02 0 0 1-1.415 1.415l7.852 7.853a1 1 0 1 0 1.414-1.416zM210 2121c0 15.464-12.536 28-28 28s-28-12.536-28-28 12.536-28 28-28 28 12.536 28 28zm-2.025 1H205a1 1 0 1 1 0-2h2.975a25.897 25.897 0 0 0-6.9-16.661l-2.105 2.105a1 1 0 1 1-1.414-1.415l2.104-2.104a25.891 25.891 0 0 0-16.66-6.9V2098a1 1 0 1 1-2.001 0v-2.975a25.894 25.894 0 0 0-16.661 6.9l2.104 2.105a1 1 0 1 1-1.414 1.414l-2.104-2.103a25.897 25.897 0 0 0-6.899 16.661H159a1 1 0 1 1 0 2h-2.974a25.9 25.9 0 0 0 6.9 16.66l2.105-2.103a1 1 0 1 1 1.414 1.414l-2.103 2.103a25.893 25.893 0 0 0 16.66 6.899l.001-2.974a1 1 0 1 1 2 0l-.001 2.974a25.89 25.89 0 0 0 16.66-6.9l-2.103-2.104a1 1 0 0 1 1.415-1.415l2.102 2.104a25.889 25.889 0 0 0 6.9-16.66z"/><linearGradient id="knyyb" x1="150" x2="214" y1="2121" y2="2121" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-150 -2089)"><use fill="#f78449" xlink:href="#knyya"/><use fill="url(#knyyb)" xlink:href="#knyya"/></g></g>
                      </svg>
                    </div>
                    <p v-bind="dKey('abPrime1')">{{info.abPrime1}}</p>
                  </div>
                </div>
                <div class="col-6 operativeness-img-wrapper features-box">
                  <div class="operativeness-img">
                    <img src="https://assets.gtagency.de/img/clock-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 individual-approach features-box">
              <div class="features-box-center">
                <div class="icon-features line-bottom">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="54" viewBox="0 0 64 54"><defs>
                    <path id="cwhka" d="M214 2404v40c0 2.211-1.79 4-4 4h-56c-2.21 0-4-1.789-4-4v-40c0-2.21 1.79-4 4-4h8v-5a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v5h24v-5a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v5h8c2.21 0 4 1.79 4 4zm-18 0h4v-8h-4zm-32 0h4v-8h-4zm48 0a2 2 0 0 0-2-2h-8v3a1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1v-3h-24v3a1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1v-3h-8a2 2 0 0 0-2 2v40a2 2 0 0 0 2 2h56a2 2 0 0 0 2-2zm-22 23a1 1 0 0 1 1-1h10a1 1 0 1 1 0 2h-10a1 1 0 0 1-1-1zm16-6a1 1 0 0 1-1 1h-14a1 1 0 1 1 0-2h14a1 1 0 0 1 1 1zm0 12a1 1 0 0 1-1 1h-14a1 1 0 1 1 0-2h14a1 1 0 0 1 1 1zm-16-18a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2h-6a1 1 0 0 1-1-1zm-4 9c0 7.731-6.269 14-14 14s-14-6.269-14-14 6.269-14 14-14 14 6.269 14 14zm-14 12c2.831 0 5.428-.986 7.48-2.626-.935-1.292-3.117-3.374-7.48-3.374-4.361 0-6.543 2.08-7.48 3.374A11.937 11.937 0 0 0 172 2436zm12-12c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 3.072 1.165 5.867 3.065 7.99 1.278-1.663 3.949-3.99 8.935-3.99 4.986 0 7.657 2.327 8.936 3.99A11.94 11.94 0 0 0 184 2424zm-12 4a5 5 0 0 1-5-5v-2a5 5 0 1 1 10 0v2a5 5 0 0 1-5 5zm3-7a3 3 0 1 0-6 0v2a3 3 0 1 0 6 0z"/><linearGradient id="cwhkb" x1="150" x2="214" y1="2421" y2="2421" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-150 -2394)"><use fill="#fff" xlink:href="#cwhka"/><use fill="url(#cwhkb)" xlink:href="#cwhka"/></g></g></svg>
                </div>
                <p v-bind="dKey('abPrime2')">{{info.abPrime2}}</p>
              </div>
            </div>
            <div class="col-6 white-p opacity-block features-box">
              <div class="features-box-center">
                <div class="icon-features line-bottom">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64"><defs>
                    <path id="rfewa" d="M576.242 2451.242a5.999 5.999 0 0 1-8.485 0l-10.664-10.664A27.853 27.853 0 0 1 542 2445c-15.464 0-28-12.536-28-28s12.536-28 28-28 28 12.536 28 28c0 5.56-1.627 10.736-4.422 15.093l10.664 10.664a6 6 0 0 1 0 8.485zM568 2417c0-14.36-11.64-26-26-26s-26 11.64-26 26 11.64 26 26 26 26-11.64 26-26zm6.828 27.171l-10.402-10.402a28.211 28.211 0 0 1-5.657 5.656l10.403 10.403a4 4 0 1 0 5.656-5.657zm-8.828-27.17c0 13.254-10.745 23.999-24 23.999s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24zm-2 0c0-12.151-9.85-22.001-22-22.001s-22 9.85-22 22 9.85 22 22 22 22-9.85 22-22zm-5 0a1 1 0 1 1-2 0c0-8.285-6.716-15.001-15-15.001a1 1 0 1 1 0-2c9.389 0 17 7.611 17 17z"/><linearGradient id="rfewb" x1="514" x2="578" y1="2421" y2="2421" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-514 -2389)"><use fill="#fff" xlink:href="#rfewa"/><use fill="url(#rfewb)" xlink:href="#rfewa"/></g></g></svg>
                </div>
                <p v-bind="dKey('abPrime3')">{{info.abPrime3}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="orange-block-features white-p">
          <div class="orange-block-text">
            <div class="icon-features line-bottom">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64"><defs>
                <path id="jg4sa" d="M902.695 2250.274a1 1 0 0 1-1.236.687l-14.467-4.133a1.001 1.001 0 0 1-.687-1.236 1.006 1.006 0 0 1 1.236-.688l14.467 4.134c.531.152.839.706.687 1.236zm0 7a1 1 0 0 1-1.236.688l-14.467-4.133a1 1 0 0 1-.687-1.237 1.006 1.006 0 0 1 1.236-.687l14.467 4.133a1 1 0 0 1 .687 1.236zm0-14a1 1 0 0 1-1.236.688l-14.467-4.135a1 1 0 0 1-.687-1.236 1.006 1.006 0 0 1 1.236-.687l14.467 4.134a1 1 0 0 1 .687 1.236zm0-7a1.001 1.001 0 0 1-1.236.688l-14.467-4.134a1.001 1.001 0 0 1-.687-1.237 1.007 1.007 0 0 1 1.236-.687l14.467 4.134c.531.152.839.706.687 1.236zm14.307 13.962a1.001 1.001 0 0 1 .687-1.236l14.467-4.134a1.007 1.007 0 0 1 1.237.687 1.001 1.001 0 0 1-.688 1.236l-14.467 4.134a1 1 0 0 1-1.236-.688zm16.693 2.356a1 1 0 0 1-.687 1.237l-14.467 4.133a1 1 0 0 1-.549-1.924l14.467-4.133a1.006 1.006 0 0 1 1.236.687zm0-14a1 1 0 0 1-.687 1.235l-14.467 4.135a1 1 0 0 1-.549-1.924l14.467-4.134a1.005 1.005 0 0 1 1.236.687zm0-7a1.001 1.001 0 0 1-.687 1.236l-14.467 4.134a1.001 1.001 0 0 1-.549-1.924l14.467-4.134a1.007 1.007 0 0 1 1.236.687zM942 2219v49.999a2 2 0 0 1-1.484 1.932l-25.873 6.9A4.992 4.992 0 0 1 910 2281a4.992 4.992 0 0 1-4.643-3.17l-25.873-6.899A2 2 0 0 1 878 2269v-50a2.002 2.002 0 0 1 2.516-1.932L910 2224.93l29.484-7.862a2.004 2.004 0 0 1 1.734.347c.493.379.782.965.782 1.586zm-32.516 51.932L880 2263.07v1.954l30 7.941 30-7.94v-1.955l-29.484 7.862a2.006 2.006 0 0 1-1.032 0zM880 2261l29 7.734v-42L880.001 2219h-.003zm60 8v-1.907l-29.744 7.874a.988.988 0 0 1-.512 0L880 2267.092V2269l25.033 6.675 1.987.53a2.992 2.992 0 0 0 1.789 2.547l.675.18a2.006 2.006 0 0 0 1.032 0l.675-.18a2.993 2.993 0 0 0 1.789-2.546l1.987-.53zm0-8v-42l-29 7.734v42z"/></defs><g><g transform="translate(-878 -2217)"><use fill="#fff" xlink:href="#jg4sa"/></g></g></svg>
            </div>
            <p v-bind="dKey('abPrime4')">{{info.abPrime4}}</p>
          </div>
        </div>
        <div class="part-one-feature">
          <div class="row no-gutters">
            <div class="col-6 white-p clarity-block features-box">
              <div class="features-box-center">
                <div class="icon-features line-bottom">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64"><defs>
                    <path id="t2b8a" d="M1306 2121c0 17.673-14.327 32-32 32-17.673 0-32-14.327-32-32 0-8.476 3.302-16.177 8.683-21.903l-1.097-1.097H1247a.971.971 0 0 1-.456-.123.423.423 0 0 1-.21-.129l-.04-.04-.002-.002-3.999-3.998A1 1 0 0 1 1243 2092h2V2090a1 1 0 0 1 1.707-.707h.001l4.04 4.039a.43.43 0 0 1 .128.211.968.968 0 0 1 .124.457v2.586l1.097 1.097c5.725-5.381 13.426-8.683 21.903-8.683 17.673 0 32 14.327 32 32zm-57-26.586l-1.988-1.988L1247 2094l-1.582.004 1.997 1.996H1249zm55 26.586c0-16.568-13.432-30-30-30-7.925 0-15.126 3.078-20.49 8.097l2.829 2.828A25.902 25.902 0 0 1 1274 2095c14.36 0 26 11.64 26 26s-11.64 26-26 26-26-11.64-26-26c0-6.82 2.629-13.023 6.925-17.661l-2.828-2.828c-5.019 5.362-8.097 12.565-8.097 20.49 0 16.567 13.432 29.999 30 29.999 16.568 0 30-13.431 30-30zm-47.661-16.246A23.91 23.91 0 0 0 1250 2121c0 13.255 10.745 24 24 24s24-10.745 24-24-10.745-24-24-24a23.907 23.907 0 0 0-16.247 6.34l2.846 2.845c3.548-3.213 8.238-5.185 13.401-5.185 11.046 0 20 8.954 20 20s-8.954 20-20 20-20-8.954-20-20c0-5.163 1.973-9.853 5.185-13.401zm4.26 4.259c-2.85 3.184-4.599 7.377-4.599 11.987 0 9.942 8.059 18 18 18s18-8.058 18-18c0-9.941-8.059-18-18-18-4.61 0-8.803 1.748-11.987 4.599l2.828 2.828A13.935 13.935 0 0 1 1274 2107c7.732 0 14 6.268 14 14 0 7.733-6.268 14-14 14s-14-6.267-14-14c0-3.506 1.298-6.703 3.427-9.16zm4.243 4.243A11.946 11.946 0 0 0 1262 2121c0 6.627 5.373 12 12 12s12-5.373 12-12-5.373-12-12-12a11.948 11.948 0 0 0-7.744 2.842l2.844 2.844a7.959 7.959 0 0 1 4.9-1.686 8 8 0 1 1-8 8c0-1.848.633-3.545 1.686-4.9zm4.271 4.271A5.968 5.968 0 0 0 1268 2121a6 6 0 1 0 6-6 5.964 5.964 0 0 0-3.473 1.113l4.18 4.18a1 1 0 1 1-1.414 1.414z"/><linearGradient id="t2b8b" x1="1242" x2="1306" y1="2121" y2="2121" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-1242 -2089)"><use fill="#fff" xlink:href="#t2b8a"/><use fill="url(#t2b8b)" xlink:href="#t2b8a"/></g></g></svg>
                </div>
                <p v-bind="dKey('abPrime5')">{{info.abPrime5}}</p>
              </div>
            </div>
            <div class="col-6 comfort-block features-box">
              <div class="features-box-center">
                <div class="icon-features line-bottom">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64"><defs>
                    <path id="dqdia" d="M1670 2148V2149a4 4 0 0 1-4 4V2153h-44v.002a4 4 0 0 1-4-4v-1.002a1 1 0 0 1 1-1h50a1 1 0 0 1 1 1zm-2 1h-48v.001a2 2 0 0 0 2 2V2151h44v.002a2 2 0 0 0 2-2zm2-40v10c0 14.357-11.64 26-26 26-10.03 0-18.727-5.684-23.063-14H1618c-6.627 0-11.999-5.374-12-11.999h.009L1606 2119v-8a4 4 0 0 1 4-4h58a2 2 0 0 1 2 2zm-52 10v-6.001h-6V2119a6 6 0 0 0 6 5.998h.704a26.008 26.008 0 0 1-.704-6zm1.996 10a25.966 25.966 0 0 1-.736-2H1618a8 8 0 0 1-8-7.999h.01l-.01-.002v-7a1 1 0 0 1 1-1h7v-2h-8a2 2 0 0 0-2 2v8.002c.001 5.522 4.478 9.998 10 9.998zm48.004-19.001a1 1 0 0 0-.995-1H1658v8.586l3.707 3.707a.999.999 0 0 1 .293.707v8a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1v-8c0-.266.105-.52.293-.707l3.707-3.707v-8.586h-36v10c0 2.071.263 4.082.757 6l.243.858c2.951 9.912 12.129 17.142 23 17.142 13.255 0 24-10.744 24-24zm-14 12.414V2129h6v-6.586l-3-3zm-10.776-25.776c-.545-.679-1.224-1.524-1.224-3.138 0-2.947 1.85-4.266 1.93-4.321a1 1 0 0 1 1.151 1.635c-.064.048-1.081.844-1.081 2.686 0 .911.328 1.32.782 1.885.543.676 1.218 1.516 1.218 3.115 0 3.002-1.866 4.28-1.945 4.332a1.002 1.002 0 0 1-1.387-.277 1 1 0 0 1 .277-1.387c.03-.021 1.055-.781 1.055-2.668 0-.895-.309-1.28-.776-1.862zm12 0c-.545-.679-1.224-1.524-1.224-3.138 0-2.947 1.85-4.266 1.93-4.321a1 1 0 0 1 1.151 1.635c-.064.048-1.081.844-1.081 2.686 0 .911.328 1.32.782 1.885.543.676 1.218 1.516 1.218 3.115 0 3.002-1.866 4.28-1.945 4.332a1.002 1.002 0 0 1-1.387-.277 1 1 0 0 1 .277-1.387c.03-.021 1.055-.781 1.055-2.668 0-.895-.309-1.28-.776-1.862zm-24 0c-.545-.679-1.224-1.524-1.224-3.138 0-2.947 1.85-4.266 1.93-4.321a1 1 0 0 1 1.151 1.635c-.064.048-1.08.844-1.08 2.686 0 .911.327 1.32.781 1.885.543.676 1.218 1.516 1.218 3.115 0 3.002-1.866 4.28-1.945 4.332a1.002 1.002 0 0 1-1.387-.277 1 1 0 0 1 .277-1.387c.03-.021 1.055-.781 1.055-2.668 0-.895-.308-1.28-.776-1.862z"/><linearGradient id="dqdib" x1="1606" x2="1670" y1="2121" y2="2121" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-1606 -2089)"><use fill="#fff" xlink:href="#dqdia"/><use fill="url(#dqdib)" xlink:href="#dqdia"/></g></g></svg>
                </div>
                <p v-bind="dKey('abPrime6')">{{info.abPrime6}}</p>
              </div>
            </div>
            <div class="col-12">
              <div class="row no-gutters">
                <div class="col-6 features-box">
                  <div class="features-box-center">
                    <div class="icon-features line-bottom">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44" height="64" viewBox="0 0 44 64"><defs>
                        <path id="w0s0a" d="M1288 2427.958V2451a2 2 0 0 1-3.2 1.6l-10.8-8.1-10.8 8.1a2.01 2.01 0 0 1-2.094.19A2 2 0 0 1 1260 2451v-23.042c-4.883-4.038-8-10.141-8-16.958 0-12.13 9.87-22 22-22s22 9.87 22 22c0 6.817-3.117 12.92-8 16.958zm-24 21.542v-18.914a22.133 22.133 0 0 1-2-1.16V2451zm18-1.5v-16.513a21.87 21.87 0 0 1-8 1.513c-2.822 0-5.519-.54-8-1.513V2448l8-6zm4-18.575c-.644.42-1.311.808-2 1.161v18.914l2 1.5zm8-18.425c0-11.028-8.972-20-20-20s-20 8.972-20 20c0 11.029 8.972 20 20 20s20-8.971 20-20zm-2 0c0 9.925-8.075 18-18 18s-18-8.075-18-18 8.075-18 18-18 18 8.075 18 18zm-2 0c0-8.822-7.178-16-16-16s-16 7.178-16 16 7.178 16 16 16 16-7.178 16-16zm-8.056-1.968a1 1 0 0 1-.232 1.016l-3.146 3.227.745 4.564a1.001 1.001 0 0 1-1.472 1.036l-3.84-2.124-3.842 2.124a1 1 0 0 1-1.472-1.036l.746-4.564-3.147-3.227a1 1 0 0 1 .565-1.687l4.308-.658 1.936-4.123a1 1 0 0 1 1.81 0l1.936 4.123 4.309.658a1 1 0 0 1 .796.671zm-3.022 1.013l-2.913-.445a.997.997 0 0 1-.754-.564l-1.257-2.677-1.257 2.677a.997.997 0 0 1-.754.564l-2.913.445 2.14 2.194c.223.228.323.546.272.86l-.495 3.03 2.523-1.396a1.005 1.005 0 0 1 .968 0l2.523 1.395-.495-3.03c-.05-.313.05-.631.271-.859z"/><linearGradient id="w0s0b" x1="1252" x2="1296" y1="2421" y2="2421" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-1252 -2389)"><use fill="#fff" xlink:href="#w0s0a"/><use fill="url(#w0s0b)" xlink:href="#w0s0a"/></g></g></svg>
                    </div>
                    <p v-bind="dKey('abPrime7')">{{info.abPrime7}}</p>
                  </div>
                </div>
                <div class="col-6 features-box cup-img-wrapper">
                  <div class="cup-img">
                    <img src="https://assets.gtagency.de/img/cup-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="quote-section about-us-page-quote">
      <div class="container">
        <div class="row">
          <div class="col-6 col-xl-4 quote-img position-static">
            <div style="background-image: url(https://assets.gtagency.de/img/partnership-img.png);"></div>
          </div>
          <div class="col-10 col-sm-6 col-xl-8 quote-text about-us-page">
            <h4 v-bind="dKey('abPrime8')">{{info.abPrime8}}</h4>
          </div>
        </div>
      </div>
    </section>
    <section class="motivation-text-section wow fadeInUp" data-wow-offset="10"  data-wow-iteration="1">
      <div class="container motivation-text">
        <span class="section-title"></span>
        <h4 v-bind="dKey('abPrime9')" v-html="info.abPrime9"></h4>
      </div>
    </section>
  </main>
</template>

<script>

import {HTTP} from '../http-common'

export default {
  name: 'AboutUs',

  data() {
    return {
      info: {},
      pageId: 0,
      pageName: 'about-us',
      errors: []
    }
  },

  mounted() {
    document.querySelectorAll('[data-key]').forEach(function(node){
      node.contentEditable = true
    })
  },

  created() {
    this.$root.getPage(this.pageName, this.$root.language_id, response => {
      this.info = response.info
      this.pageId = response.pageId
    })
  },

  watch:{
    $route (to, from) {
      this.$root.getPage(this.pageName, this.$root.language_id, response => {
        this.info = response.info
        this.pageId = response.pageId
      })
    }
  },

  methods: {
    dKey(key, page, pageId) {
      return this.$root.dKey(key, page, pageId)
    }
  }

}


</script>
