<template>
  <main>
    <section class="prev-page-section" style="background-image:url(//assets.gtagency.de/img/contact-img.jpg);">
      <div class="container">
        <div class="grey-title-block resp-number">Admin Panel</div>
      </div>
    </section>
    <section class="career-form-section">
      <div class="container">
        <div v-if="!$root.isAdmin()" class="career-form-wrapper admin-login-form">
          <form class="col-xl-12 col-md-8" @submit="hfInfo" action="#">
            <span class="section-title">Antwerk</span>
            <h3>Информация в шапке/подвале</h3>
            <span class="section-title">Текста ссылок</span>
            <div data-arr="links" class="inputs-wrapper">
              <div>
                <input v-model="links_about" name="links_about" type="text" placeholder="О нас">
              </div>
              <div>
                <input v-model="links_services" name="links_services" type="text" placeholder="Сервисы">
              </div>
              <div>
                <input v-model="links_industry" name="links_industry" type="text" placeholder="Отраслевые решения">
              </div>
              <div>
                <input v-model="links_complex" name="links_complex" type="text" placeholder="Комплексные решения">
              </div>
              <div>
                <input v-model="links_vacancy" name="links_vacancy" type="text" placeholder="Карьера">
              </div>
              <div>
                <input v-model="links_contacts" name="links_contacts" type="text" placeholder="Контакты">
              </div>
              <div>
                <input v-model="links_news" name="links_news" type="text" placeholder="Новости">
              </div>
            </div>
            <div data-arr="services" class="inputs-wrapper">
              <div>
                <input v-model="services_transport" name="services_transport" type="text" placeholder="Транспортные грузоперевозки">
              </div>
              <div>
                <input v-model="services_rail" name="services_rail" type="text" placeholder="Железнодорожные грузоперевозки">
              </div>
              <div>
                <input v-model="services_air" name="services_air" type="text" placeholder="Воздушные грузоперевозки">
              </div>
              <div>
                <input v-model="services_sea" name="services_sea" type="text" placeholder="Морские грузоперевозки">
              </div>
              <div>
                <input v-model="services_add" name="services_add" type="text" placeholder="Дополниельные услуги">
              </div>
            </div>
            <span class="section-title">Тексты шапки/подвала</span>
            <div data-arr="texts" class="inputs-wrapper">
              <div>
                <input v-model="texts_contacts" name="texts_contacts" type="text" placeholder="Контакты">
              </div>
              <div>
                <input v-model="texts_social" name="texts_social" type="text" placeholder="Мы в соц. сетях:">
              </div>
              <div>
                <input v-model="texts_information" name="texts_information" type="text" placeholder="Информация">
              </div>
              <div>
                <input v-model="texts_telephone" name="texts_telephone" type="text" placeholder="Телефон: ">
              </div>
              <div>
                <input v-model="texts_copyright" name="texts_copyright" type="text" placeholder="Копирайт">
              </div>
              <span class="section-title">Форма подписки на новости</span>
              <div>
                <input v-model="texts_subscribe" name="texts_subscribe" type="text" placeholder="Зпголовок">
              </div>
              <div>
                <input v-model="texts_placeholder" name="texts_placeholder" type="text" placeholder="Плейсхолдер Email">
              </div>
              <div>
                <input v-model="texts_submit" name="texts_submit" type="text" placeholder="Текст кнопки отправить">
              </div>
            </div>
            <span class="section-title">Контакты</span>
            <div data-arr="contacts" class="inputs-wrapper">
              <div>
                <input v-model="contacts_email" name="contacts_email" type="text" placeholder="Email">
              </div>
              <div>
                <input v-model="contacts_telephone" name="contacts_telephone" type="text" placeholder="Телефон">
              </div>
              <div>
                <input v-model="contacts_address" name="contacts_address" type="text" placeholder="Адрес">
              </div>
            </div>
            <span class="section-title">Ссылки соц. сетей</span>
            <div data-arr="socials" class="inputs-wrapper">
              <div>
                <input v-model="socials_fb" name="socials_fb" type="text" placeholder="FaceBook">
              </div>
              <div>
                <input v-model="socials_twitter" name="socials_twitter" type="text" placeholder="Twitter">
              </div>
              <div>
                <input v-model="socials_linkedin" name="socials_linkedin" type="text" placeholder="LinkedIn">
              </div>
              <div>
                <input v-model="socials_instagram" name="socials_instagram" type="text" placeholder="Instagram">
              </div>
              <div>
                <input v-model="socials_pinterest" name="socials_pinterest" type="text" placeholder="Pinterest">
              </div>
            </div>
            <div class="send-btns">
              <div class="submit-btn">
                <input type="submit" value="Save">
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
</template>

<script>

import {HTTP} from '../http-common'

export default {
  name: 'Admin',

  data() {
    return {
      links_about: '',
      links_services: '',
      links_industry: '',
      links_complex: '',
      links_vacancy: '',
      links_contacts: '',
      links_news: '',
      services_transport: '',
      services_rail: '',
      services_air: '',
      services_sea: '',
      services_add: '',
      texts_contacts: '',
      texts_social: '',
      texts_information: '',
      texts_telephone: '',
      texts_copyright: '',
      texts_subscribe: '',
      texts_placeholder: '',
      texts_submit: '',
      contacts_email: '',
      contacts_telephone: '',
      contacts_address: '',
      socials_fb: '',
      socials_twitter: '',
      socials_linkedin: '',
      socials_instagram: '',
      socials_pinterest: '',
      hfInfo: {},
      errors: []
    }
  },

  created() {
  },

  methods: {
    getHFInfo() {
      HTTP.get('settings?filter=' + encodeURIComponent(JSON.stringify({
        where: {
          and: [
            {key: 'header-footer'},
            {language_id: this.language_id}
          ]
        }
      }))).then(response => {
        if (response.data.length) {
          this.hfInfo.data = response.data[0].value.length ? JSON.parse(response.data[0].value) : {}
          this.hfInfo.id = response.data[0].id
          this.hfInfo.key = response.data[0].key
          this.hfInfo.language_id = response.data[0].language_id

          for (let group in this.hfInfo.data) {
            for(let key in  this.hfInfo.data[group]) {
              this[group + '_' + key] = this.hfInfo.data[group][key]
            }
          }

          console.log(this.hfInfo);
        }
      }).catch(e => {
        this.errors.push(e)
      })
    },

    hfInfo() {

    }
  }

}

</script>
