<template>
  <main v-bind="dKey('pageid', pageName, pageId)">
    <section class="prev-page-section" style="background-image:url(//assets.gtagency.de/img/port-img.jpg);">
      <div class="container">
        <div v-bind="dKey('complexGeneralTitle')" class="grey-title-block resp-number">{{info.complexGeneralTitle}}</div>
      </div>
    </section>
    <section id="contract-logistics" class="food-industry-section industry-page complex-page">
      <div class="container">
        <span v-bind="dKey('complexUpTitle')" class="section-title">{{info.complexUpTitle}}</span>
        <h3 v-bind="dKey('complexTitle')">{{info.complexTitle}}</h3>
        <div class="row about-first-content">
          <div class="col-lg-6 complex-text">
            <div v-bind="dKey('complexContent1')" v-html="info.complexContent1"></div>
            <h5 v-bind="dKey('complexContentTitle2')">{{info.complexContentTitle2}}</h5>
            <div v-bind="dKey('complexContent2')" v-html="info.complexContent2"></div>
          </div>
          <div class="col-lg-6 col-xl-5 about-us-pict">
            <img src="//assets.gtagency.de/img/truck-port-img.jpg" alt="">
          </div>
        </div>
        <h5 v-bind="dKey('complexAdv')">{{info.complexAdv}}</h5>
        <div class="company-features-wrapper">
          <div class="row">
            <div class="col-12 col-xl-4">
              <div class="row">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="company-features-item">
                    <div class="number-box">
                      <span>01</span>
                      <h5 v-bind="dKey('complexBenefit.cb1')">{{info.complexBenefit.cb1}}</h5>
                    </div>
                    <div v-bind="dKey('complexBenefit.cbdes1')" v-html="info.complexBenefit.cbdes1"></div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="company-features-item">
                    <div class="number-box">
                      <span>02</span>
                      <h5 v-bind="dKey('complexBenefit.cb2')">{{info.complexBenefit.cb2}}</h5>
                    </div>
                    <div v-bind="dKey('complexBenefit.cbdes2')" v-html="info.complexBenefit.cbdes2"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-4">
              <div class="company-features-item big-features-item">
                <div class="number-box">
                  <span>03</span>
                  <h5 v-bind="dKey('complexBenefit.cb3')">{{info.complexBenefit.cb3}}</h5>
                </div>
                <div v-bind="dKey('complexBenefit.cbdes3')" v-html="info.complexBenefit.cbdes3"></div>
              </div>
            </div>
            <div class="col-12 col-xl-4">
              <div class="row">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="company-features-item">
                  <div class="number-box">
                    <span>04</span>
                    <h5 v-bind="dKey('complexBenefit.cb4')">{{info.complexBenefit.cb4}}</h5>
                    </div>
                    <div v-bind="dKey('complexBenefit.cbdes4')" v-html="info.complexBenefit.cbdes4"></div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="company-features-item">
                    <div class="number-box">
                      <span>05</span>
                      <h5 v-bind="dKey('complexBenefit.cb5')">{{info.complexBenefit.cb5}}</h5>
                    </div>
                    <div v-bind="dKey('complexBenefit.cbdes5')" v-html="info.complexBenefit.cbdes5"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-bind="dKey('complexContent3')" v-html="info.complexContent3"></div>
      </div>
    </section>
    <section id="high-precision-logistics" class="building-section change-default industry-page img-left-side">
      <div class="container">
        <span class="section-title"></span>
        <h3 v-bind="dKey('logTitle')">{{info.logTitle}}</h3>
      </div>
      <div class="position-relative">
        <div class="container">
          <div class="row d-flex">
            <div class="col-6 industry-text-wrapper">
              <div class="food-industry-text">
                <div v-bind="dKey('logDes1')" v-html="info.logDes1"></div>
                <h5 v-bind="dKey('logDes2Title')">{{info.logDes2Title}}</h5>
                <div v-bind="dKey('logDes2List')" v-html="info.logDes2List"></div>
                <div v-bind="dKey('logDes2Des')" v-html="info.logDes2Des"></div>
              </div>
            </div>
            <div class="col-6 industry-img-wrapper">
              <div>
                <img src="//assets.gtagency.de/img/big-ship-img.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="quote-section complex-page">
      <div class="container">
        <div class="row">
          <div class="col-6 col-xl-4 quote-img position-static">
            <div style="background-image: url(//assets.gtagency.de/img/hands-img.png);"></div>
          </div>
          <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-8 quote-text">
            <h4 v-bind="dKey('handText')">{{info.handText}}</h4>
          </div>
        </div>
      </div>
    </section>
    <section id="supply-chain-solutions" class="chemical-industry-section industry-page change-default complex-page">
      <div class="container">
        <span class="section-title"></span>
        <h3 v-bind="dKey('cepTitle')">{{info.cepTitle}}</h3>
      </div>
      <div class="position-relative">
        <div class="container">
          <div class="row d-flex solution-on-way-block">
            <div class="col-6 industry-text-wrapper">
              <div class="industry-text">
                <div v-bind="dKey('cepText1')" v-html="info.cepText1"></div>
                <div v-bind="dKey('cepCit')" v-html="info.cepCit"></div>
                <div v-bind="dKey('cepText2')" v-html="info.cepText2"></div>
               <h5 v-bind="dKey('cepTitle3')">{{info.cepTitle3}}</h5>
               <div v-bind="dKey('cepList3')" v-html="info.cepList3"></div>
              </div>
            </div>
            <div class="col-6 industry-img-wrapper">
              <div>
                <img src="//assets.gtagency.de/img/worker-port-img.jpg" alt="">
              </div>
            </div>
          </div>
          <div v-bind="dKey('cepText4')" v-html="info.cepText4"></div>
        </div>
      </div>
    </section>
    <section id="warehouse-logistics" class="our-excellence-section industry-page complex-page">
      <div class="container">
        <span class="section-title"></span>
        <h3 v-bind="dKey('skTitle')">{{info.skTitle}}</h3>
        <div v-bind="dKey('skText1')" v-html="info.skText1"></div>
        <h5 v-bind="dKey('skTitle2')">{{info.skTitle2}}</h5>
        <div v-bind="dKey('skList2')" v-html="info.skList2"></div>
        <h5 v-bind="dKey('skTitle3')">{{info.skTitle3}}</h5>
        <div class="row solutions-for-optimize-wrapper">
          <div class="col-6 col-md-3">
            <div class="solution-icon-item">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="71" viewBox="0 0 60 71"><defs>
                  <path id="fredsd" d="M357.705 6062.39a1.165 1.165 0 0 1-1.18.333l-9.304-2.65-4.673 8.34a1.156 1.156 0 0 1-1.01.587l-.064-.002a1.152 1.152 0 0 1-1.001-.698l-10.425-24.733c-.675.058-1.358.09-2.048.09a23.357 23.357 0 0 1-16.965-7.252l-9.898 23.486 7.886-2.246a1.161 1.161 0 0 1 1.331.541l3.96 7.07 8.02-19.025a1.16 1.16 0 0 1 1.506-.613c.588.24.867.902.624 1.48l-8.937 21.202c-.17.403-.559.674-1.001.698l-.064.002c-.418 0-.806-.224-1.01-.587l-4.673-8.34-9.305 2.65a1.166 1.166 0 0 1-1.18-.332 1.117 1.117 0 0 1-.206-1.19l11.278-26.757c-2.885-3.804-4.595-8.517-4.595-13.615 0-12.588 10.42-22.829 23.229-22.829 12.808 0 23.229 10.24 23.229 22.829 0 11.107-8.114 20.384-18.822 22.414l9.278 22.013 3.96-7.07a1.16 1.16 0 0 1 1.331-.541l7.887 2.246-8.646-20.515a1.126 1.126 0 0 1 .624-1.48 1.16 1.16 0 0 1 1.506.613l9.564 22.693c.17.402.09.864-.206 1.189zm-29.705-21c11.537 0 20.923-9.223 20.923-20.561 0-11.339-9.386-20.563-20.923-20.563-11.537 0-20.924 9.224-20.924 20.563 0 11.338 9.387 20.562 20.924 20.562zm13.047-23.671l-5.51 5.516 1.158 7.646c.064.417-.115.835-.462 1.084a1.167 1.167 0 0 1-1.192.097l-7.041-3.446-7.041 3.446a1.17 1.17 0 0 1-1.192-.098 1.124 1.124 0 0 1-.462-1.083l1.159-7.647-5.511-5.515a1.12 1.12 0 0 1-.274-1.144c.133-.402.482-.698.906-.768l7.757-1.279 3.636-6.855c.198-.374.592-.61 1.022-.61.43 0 .824.236 1.022.61l3.635 6.855 7.758 1.28c.424.07.773.365.906.767a1.12 1.12 0 0 1-.274 1.144zm-3.195-.036l-6.142-1.013a1.153 1.153 0 0 1-.832-.594l-2.878-5.428-2.878 5.428a1.15 1.15 0 0 1-.832.593l-6.142 1.014 4.363 4.367c.254.253.371.609.318.96l-.918 6.054 5.575-2.728a1.163 1.163 0 0 1 1.028 0l5.575 2.728-.918-6.053a1.12 1.12 0 0 1 .318-.961zm8.603 5.56c-1.22 9.054-9.154 15.882-18.455 15.882-10.266 0-18.618-8.208-18.618-18.296 0-10.09 8.352-18.297 18.618-18.297 9.3 0 17.235 6.827 18.455 15.882.084.62-.36 1.19-.991 1.271a1.148 1.148 0 0 1-1.294-.974c-1.07-7.932-8.021-13.913-16.17-13.913-8.995 0-16.312 7.19-16.312 16.03s7.317 16.031 16.312 16.031c8.149 0 15.1-5.982 16.17-13.914a1.148 1.148 0 0 1 1.294-.974c.63.083 1.075.652.991 1.272z"/><linearGradient id="dsdva" x1="298" x2="358" y1="6033" y2="6034" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-298 -5998)"><use fill="#fff" xlink:href="#fredsd"/><use fill="url(#dsdva)" xlink:href="#fredsd"/></g></g></svg>
              </div>
            </div>
            <p v-bind="dKey('skArray.p1')">{{info.skArray.p1}}</p>
          </div>
          <div class="col-6 col-md-3">
            <div class="solution-icon-item">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="56" height="65" viewBox="0 0 56 65"><defs>
                  <path id="ujhfe" d="M743 6013.543v13.97c0 14.387-6.705 23.91-12.33 29.365-6.055 5.873-13.109 9.122-15.67 9.122-2.56 0-9.615-3.249-15.67-9.122-5.625-5.455-12.33-14.978-12.33-29.364v-13.971a1.37 1.37 0 0 1 1.016-1.32c9.292-2.519 17.888-6.128 26.282-11.033.433-.253.971-.253 1.405 0 8.158 4.768 17.246 8.584 26.28 11.034a1.37 1.37 0 0 1 1.017 1.319zm-2.763 1.037c-8.673-2.447-17.36-6.105-25.236-10.629-8.079 4.647-16.353 8.133-25.238 10.63v12.932c0 13.437 6.254 22.323 11.5 27.412 5.955 5.776 12.322 8.34 13.737 8.34 1.415 0 7.782-2.564 13.737-8.34 5.247-5.089 11.5-13.975 11.5-27.412zm-38.26 1.62a115.911 115.911 0 0 1-6.745 2.393v4.281c0 .756-.618 1.368-1.381 1.368a1.374 1.374 0 0 1-1.381-1.368v-5.28c0-.597.391-1.125.967-1.305 2.528-.784 5.06-1.67 7.528-2.632a1.386 1.386 0 0 1 1.792.77 1.362 1.362 0 0 1-.78 1.774zm2.136-2.332a1.359 1.359 0 0 1 .71-1.799l.022-.01a1.39 1.39 0 0 1 1.822.702 1.36 1.36 0 0 1-.707 1.8l-.025.011c-.18.078-.369.115-.554.115a1.383 1.383 0 0 1-1.268-.82zm27.745 33.113a36.046 36.046 0 0 1-4.296 5.313 37.919 37.919 0 0 1-4.273 3.763c-.25.189-.544.28-.837.28-.416 0-.827-.186-1.099-.538a1.358 1.358 0 0 1 .261-1.917 35.193 35.193 0 0 0 3.962-3.489 33.333 33.333 0 0 0 3.97-4.908 1.39 1.39 0 0 1 1.912-.397c.638.413.818 1.26.4 1.893zm-11.562 9.534a1.36 1.36 0 0 1-.494 1.871l-.091.053a1.38 1.38 0 0 1-.691.184c-.477 0-.94-.244-1.197-.682a1.36 1.36 0 0 1 .504-1.868l.08-.047a1.39 1.39 0 0 1 1.889.49zm-9.731-20.876l13.85-13.71a4.487 4.487 0 0 1 3.177-1.302c1.2 0 2.328.462 3.176 1.302a4.42 4.42 0 0 1 0 6.287l-17.027 16.854a4.487 4.487 0 0 1-3.176 1.302c-1.2 0-2.328-.462-3.176-1.301l-8.156-8.074a4.42 4.42 0 0 1 0-6.288 4.487 4.487 0 0 1 3.176-1.302c1.2 0 2.328.463 3.176 1.302zm.977 2.9a1.387 1.387 0 0 1-1.954 0l-5.956-5.896a1.725 1.725 0 0 0-1.223-.501c-.462 0-.897.178-1.223.501a1.701 1.701 0 0 0 0 2.42l8.156 8.074c.327.323.761.5 1.223.5.462 0 .896-.177 1.223-.5l17.027-16.854a1.702 1.702 0 0 0 0-2.421c-.327-.323-.76-.5-1.223-.5-.462 0-.896.177-1.223.5z"/><linearGradient id="htrfw" x1="687" x2="743" y1="6034" y2="6033" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-687 -6001)"><use xlink:href="#ujhfe"/><use fill="url(#htrfw)" xlink:href="#ujhfe"/></g></g></svg>
              </div>
            </div>
            <p v-bind="dKey('skArray.p2')">{{info.skArray.p2}}</p>
          </div>
          <div class="col-6 col-md-3">
            <div class="solution-icon-item">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="71" height="71" viewBox="0 0 71 71"><defs>
                  <path id="qwedb" d="M1142 6019.3v48.516c0 .655-.53 1.183-1.183 1.183h-5.917a1.182 1.182 0 0 1-1.183-1.183v-31.95h-54.434v31.95c0 .654-.53 1.183-1.183 1.183h-5.917a1.183 1.183 0 0 1-1.183-1.183v-49.698c0-.431.234-.829.612-1.036l34.316-18.932c.366-.203.81-.196 1.17.015l34.317 20.116c.362.212.585.6.585 1.02zm-8.283 7.1h-54.434v2.367h54.434zm-54.434 7.1h54.434v-2.366h-54.434zm60.35 33.133v-46.654l-33.15-19.433-33.116 18.27v47.817h3.55v-41.416c0-.653.53-1.183 1.183-1.183h56.8c.654 0 1.183.53 1.183 1.183v41.416zm-8.283 1.183c0 .654-.529 1.183-1.183 1.183h-28.4a1.183 1.183 0 0 1-1.184-1.183v-14.2c0-.654.53-1.183 1.184-1.183h13.016v-13.016c0-.654.53-1.183 1.184-1.183h14.2c.654 0 1.183.529 1.183 1.183zm-4.734-9.466c0 .654-.528 1.183-1.183 1.183h-4.733a1.182 1.182 0 0 1-1.183-1.183v-3.55h-2.367v11.833h11.833V6054.8h-2.367zm-4.733-1.183h2.367v-2.367h-2.367zm-7.1-2.367h-2.367v3.55c0 .654-.529 1.183-1.183 1.183h-4.733a1.183 1.183 0 0 1-1.184-1.183v-3.55h-2.366v11.833h11.833zm-7.1 2.367h2.367v-2.367h-2.367zm21.3-16.567h-2.367v3.55c0 .654-.528 1.183-1.183 1.183h-4.733a1.182 1.182 0 0 1-1.183-1.183v-3.55h-2.367v11.833h11.833zm-7.1 2.367h2.367v-2.367h-2.367zm-8.283-27.216v4.733c0 .653-.529 1.183-1.183 1.183h-11.834c-.653 0-1.183-.53-1.183-1.183v-4.733c0-.653.53-1.183 1.183-1.183h11.834c.654 0 1.183.53 1.183 1.183zm-2.367 1.183h-9.466v2.367h9.466z"/><linearGradient id="qwedr" x1="1071" x2="1142" y1="6034" y2="6033" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-1071 -5998)"><use fill="#fff" xlink:href="#qwedb"/><use fill="url(#qwedr)" xlink:href="#qwedb"/></g></g></svg>
              </div>
            </div>
            <p v-bind="dKey('skArray.p3')">{{info.skArray.p3}}</p>
          </div>
          <div class="col-6 col-md-3">
            <div class="solution-icon-item">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="68" height="76" viewBox="0 0 68 76"><defs>
                  <path id="fjgla" d="M1470.698 6038.794v5.152c0 .711-.575 1.288-1.283 1.288a1.286 1.286 0 0 1-1.283-1.288v-5.152c0-.712.574-1.289 1.283-1.289.708 0 1.283.577 1.283 1.289zm5.132 2.576v5.152c0 .711-.575 1.288-1.283 1.288a1.286 1.286 0 0 1-1.283-1.288v-5.152c0-.711.574-1.288 1.283-1.288.708 0 1.283.577 1.283 1.288zm50.036 14.167c.001 5.69-4.593 10.305-10.262 10.306-5.668.002-10.264-4.611-10.265-10.302-.001-5.691 4.593-10.306 10.262-10.307.708 0 1.282.577 1.282 1.288 0 .711-.574 1.288-1.282 1.288a7.689 7.689 0 0 0-6.382 3.413c-2.374 3.54-1.44 8.343 2.086 10.727 3.527 2.384 8.31 1.446 10.685-2.095 2.374-3.54 1.44-8.343-2.086-10.727a1.291 1.291 0 0 1-.334-1.737 1.28 1.28 0 0 1 1.77-.396 10.316 10.316 0 0 1 4.526 8.542zm-5.992 14.853c-8.165 2.367-16.696-2.361-19.053-10.56l-7.66 4.546c-.034.02-.07.029-.103.044a1.088 1.088 0 0 1-.109.047c-.282.118-.6.118-.883 0a1.066 1.066 0 0 1-.107-.047.99.99 0 0 1-.104-.044l-28.225-16.745a1.289 1.289 0 0 1-.63-1.109v-33.49c0-.039.014-.073.018-.112.004-.039.016-.075.016-.114.023-.147.072-.29.144-.42v-.01c.006-.009.021-.014.021-.023.076-.12.172-.226.283-.314.026-.02.05-.041.076-.06.026-.017.045-.04.072-.056l28.225-16.745a1.28 1.28 0 0 1 1.306 0l28.224 16.745c.39.232.63.654.63 1.11v28.466a15.432 15.432 0 0 1 8.376 9.761c2.358 8.199-2.351 16.764-10.517 19.13zm-53.069-57.358l6.673 3.958 11.963-7.098a1.28 1.28 0 0 1 1.759.454c.36.612.158 1.403-.453 1.765l-10.747 6.376 6.671 3.959 25.703-15.245-6.671-3.958-11.11 6.586a1.28 1.28 0 0 1-1.758-.455 1.292 1.292 0 0 1 .453-1.765l9.891-5.868-6.671-3.958zm7.956 7.713v8.6l6.627 3.933v-8.6zm44.688 19.852v-26.83l-8.552-5.075-25.702 15.25 7.313 4.34 23.229-13.783a1.28 1.28 0 0 1 1.757.454c.36.612.159 1.402-.451 1.764l-23.252 13.796v21.161c0 .712-.575 1.289-1.283 1.289a1.286 1.286 0 0 1-1.283-1.289v-21.161l-7.27-4.314v9.337a1.286 1.286 0 0 1-1.937 1.11l-9.193-5.456a1.289 1.289 0 0 1-.63-1.11v-10.857l-6.629-3.933v30.498l25.659 15.222v-4.183c0-.712.574-1.288 1.283-1.288.708 0 1.283.576 1.283 1.288v4.183l6.499-3.857a15.616 15.616 0 0 1-.085-1.614 15.46 15.46 0 0 1 .507-3.982c2.16-8.222 10.549-13.128 18.737-10.96zm8.981 14.942c0-7.114-5.744-12.881-12.83-12.881-7.085 0-12.829 5.767-12.829 12.88 0 7.115 5.744 12.882 12.83 12.882 7.082-.008 12.821-5.77 12.829-12.881zm-8.074-1.666l-5.773 5.797a1.28 1.28 0 0 1-1.814 0l-1.924-1.932c-.48-.5-.48-1.29 0-1.79a1.28 1.28 0 0 1 1.814-.032l1.017 1.022 4.866-4.886a1.28 1.28 0 0 1 1.783 0c.51.494.524 1.31.031 1.821z"/><linearGradient id="fjglb" x1="1463" x2="1531" y1="6033" y2="6033" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-1463 -5995)"><use fill="#fff" xlink:href="#fjgla"/><use fill="url(#fjglb)" xlink:href="#fjgla"/></g></g></svg>
              </div>
            </div>
            <p v-bind="dKey('skArray.p4')">{{info.skArray.p4}}</p>
          </div>
          <div class="col-6 col-md-4 col-xl-2 ml-auto">
            <div class="solution-icon-item">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="68" height="68" viewBox="0 0 68 68"><defs>
                  <path id="wtpaa" d="M536.388 6310.259c.367.535.581 1.183.581 1.879 0 1.204-.64 2.26-1.6 2.847a3.337 3.337 0 0 1-1.136 4.543c.296.497.465 1.077.465 1.695a3.34 3.34 0 0 1-3.336 3.336h-17.387a2.2 2.2 0 0 1-1.924 1.136h-6.814c-1.213 0-2.2-.987-2.2-2.2v-18.171c0-1.214.987-2.2 2.2-2.2h6.814c.37 0 .719.092 1.026.255.625-.498 1.13-.993 1.467-1.352.643-.685 1.374-1.163 2.175-1.423 2.043-.664 3.426-1.71 4.227-2.472.978-.93 1.378-1.714 1.415-1.941a3.856 3.856 0 0 1 1.15-2.741 3.882 3.882 0 0 1 2.753-1.13h.037a3.743 3.743 0 0 1 2.791 1.281 4.306 4.306 0 0 1 1.037 3.33c-.22 2.001-1.36 4.233-3.102 6.192h7.174a3.908 3.908 0 0 1 3.904 3.904c0 1.343-.682 2.529-1.717 3.232zm-.413-3.232c0-.979-.796-1.775-1.774-1.775h-9.83a1.064 1.064 0 0 1-.669-1.892c2.386-1.931 4.077-4.546 4.31-6.662.068-.616-.124-1.245-.512-1.683a1.62 1.62 0 0 0-1.219-.566c-.485 0-.933.178-1.272.514a1.741 1.741 0 0 0-.518 1.246c0 .894-.729 2.143-1.949 3.34-.973.956-2.66 2.266-5.165 3.08-.456.148-.887.435-1.28.855a16.163 16.163 0 0 1-1.854 1.686c.004.05.008.101.008.153v2.272a1.065 1.065 0 1 1-2.13 0v-2.272a.071.071 0 0 0-.07-.07h-6.814c-.04 0-.071.031-.071.07v18.172c0 .04.032.07.07.07h6.815a.07.07 0 0 0 .07-.07v-11.357a1.065 1.065 0 1 1 2.13 0v10.292h17.11a1.208 1.208 0 0 0 0-2.413 1.065 1.065 0 0 1 0-2.13h1.136a1.208 1.208 0 0 0 0-2.413 1.065 1.065 0 0 1 0-2.13h1.136a1.208 1.208 0 0 0 0-2.413 1.065 1.065 0 1 1 0-2.13h.568c.978 0 1.774-.796 1.774-1.774zm-26.261 13.054c0 .588-.482 1.071-1.07 1.071-.588 0-1.07-.483-1.07-1.07 0-.588.482-1.071 1.07-1.071.588 0 1.07.483 1.07 1.07zm44.215-4.24c.133.353.07.75-.165 1.043l-3.235 4.038.244 5.168c.018.376-.165.734-.48.94l-4.324 2.841-1.364 4.991c-.1.363-.383.646-.746.746l-4.991 1.365-2.84 4.324a1.066 1.066 0 0 1-.94.48l-5.169-.244-4.037 3.235a1.064 1.064 0 0 1-1.042.165l-4.84-1.83-4.84 1.83c-.352.133-.748.07-1.042-.165l-4.038-3.235-5.168.244a1.069 1.069 0 0 1-.94-.48l-2.84-4.324-4.99-1.365a1.064 1.064 0 0 1-.747-.746l-1.365-4.99-4.324-2.842a1.065 1.065 0 0 1-.479-.94l.244-5.168-3.235-4.038a1.065 1.065 0 0 1-.165-1.042l1.829-4.84-1.829-4.84a1.065 1.065 0 0 1 .165-1.042l3.235-4.038-.244-5.169a1.065 1.065 0 0 1 .48-.94l4.324-2.84 1.364-4.991c.1-.363.383-.647.746-.746l4.991-1.365 2.84-4.325c.207-.314.563-.497.94-.479l5.168.244 4.038-3.235c.294-.235.69-.298 1.042-.165l4.84 1.829 4.84-1.83c.352-.132.748-.07 1.042.166l4.037 3.235 5.168-.244c.376-.017.734.164.94.479l2.841 4.325 4.99 1.364c.363.1.647.383.747.747l1.364 4.99 4.325 2.841c.314.207.497.564.479.94l-.244 5.168 3.235 4.039c.235.294.298.69.165 1.042l-1.829 4.84zm-3.963-5.216l1.756-4.648-3.106-3.878a1.065 1.065 0 0 1-.233-.716l.234-4.963-4.153-2.728a1.066 1.066 0 0 1-.442-.61l-1.311-4.792-4.793-1.312a1.063 1.063 0 0 1-.609-.442l-2.728-4.153-4.963.234a1.065 1.065 0 0 1-.716-.233l-3.878-3.106-4.648 1.756c-.242.092-.51.092-.752 0l-4.648-1.756-3.878 3.106a1.068 1.068 0 0 1-.716.233l-4.963-.234-2.728 4.153a1.064 1.064 0 0 1-.61.442l-4.792 1.312-1.31 4.793c-.07.25-.227.466-.443.609l-4.153 2.728.234 4.963c.012.26-.07.514-.233.716l-3.107 3.878 1.757 4.648c.092.243.092.51 0 .753l-1.757 4.648 3.107 3.879c.162.202.245.456.233.715l-.234 4.964 4.153 2.728c.216.143.374.36.442.61l1.311 4.792 4.793 1.311c.25.068.467.226.609.443l2.728 4.153 4.963-.234c.259-.012.514.07.716.232l3.878 3.107 4.648-1.756a1.067 1.067 0 0 1 .752 0l4.648 1.756 3.878-3.107c.202-.162.457-.244.716-.232l4.963.234 2.728-4.153c.143-.217.359-.375.61-.443l4.792-1.31 1.31-4.794c.07-.25.227-.467.443-.609l4.153-2.728-.234-4.964c-.012-.259.07-.513.233-.715l3.106-3.879-1.756-4.648a1.065 1.065 0 0 1 0-.753zm-10.026-16.504a1.062 1.062 0 0 1-1.504-.064 25.959 25.959 0 0 0-1.541-1.541 1.065 1.065 0 0 1 1.44-1.569 28.036 28.036 0 0 1 1.67 1.67 1.065 1.065 0 0 1-.065 1.504zm-5.06-4.61a1.064 1.064 0 0 1-1.47.327c-4.73-3.014-10.427-4.354-16.042-3.773a25.109 25.109 0 0 0-15.119 7.205 24.98 24.98 0 0 0-7.318 16.697 24.975 24.975 0 0 0 5.843 17.13 1.065 1.065 0 0 1-1.63 1.372 27.098 27.098 0 0 1-6.34-18.588 27.105 27.105 0 0 1 7.94-18.117 27.243 27.243 0 0 1 16.405-7.817c6.09-.63 12.271.823 17.405 4.095.496.316.642.974.326 1.47zm12.125 24.293a27.243 27.243 0 0 1-7.817 16.407 27.1 27.1 0 0 1-19.23 7.962 27.076 27.076 0 0 1-17.472-6.363 1.064 1.064 0 1 1 1.37-1.63 24.966 24.966 0 0 0 17.13 5.843 24.979 24.979 0 0 0 16.696-7.318 25.111 25.111 0 0 0 7.204-15.12c.582-5.615-.758-11.312-3.772-16.043a1.064 1.064 0 1 1 1.796-1.144c3.271 5.134 4.725 11.316 4.095 17.406z"/><linearGradient id="wtuaa" x1="486" x2="554" y1="6311" y2="6311" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-486 -6277)"><use xlink:href="#wtpaa"/><use fill="url(#wtuaa)" xlink:href="#wtpaa"/></g></g></svg>
              </div>
            </div>
            <p v-bind="dKey('skArray.p5')">{{info.skArray.p5}}</p>
          </div>
          <div class="col-6 col-md-4">
            <div class="solution-icon-item">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="75" height="55" viewBox="0 0 75 55"><defs>
                  <path id="ysyza" d="M941.21 6330.315c0 1.6-1.31 2.895-2.929 2.895-1.619 0-2.93-1.295-2.93-2.895 0-1.599 1.311-2.894 2.93-2.894 1.619 0 2.93 1.295 2.93 2.894zm-2.929-13.026c0 .8-.656 1.447-1.465 1.447a1.457 1.457 0 0 1-1.465-1.447c0-.799.657-1.447 1.465-1.447.809 0 1.465.648 1.465 1.447zm-41.894 13.026c0 1.6-1.311 2.895-2.93 2.895-1.619 0-2.93-1.295-2.93-2.895 0-1.599 1.311-2.894 2.93-2.894 1.619 0 2.93 1.295 2.93 2.894zM950 6317.29v8.685c0 1.888-1.228 3.5-2.936 4.095.002.082.006.164.006.246 0 4.79-3.942 8.685-8.789 8.685-4.846 0-8.789-3.896-8.789-8.685h-27.246c0 4.79-3.942 8.685-8.789 8.685-4.847 0-8.79-3.896-8.79-8.685h-5.273c-2.423 0-4.394-1.947-4.394-4.341v-37.632c0-2.395 1.971-4.342 4.394-4.342h42.774c2.423 0 4.394 1.947 4.394 4.342v4.342h11.72c2.422 0 4.394 1.948 4.394 4.342 0 1.162-.46 2.288-1.359 3.137l2.526 9.982c3.486.554 6.157 3.546 6.157 7.144zm-23.438-15.92v6.636l3.36-3.318a1.477 1.477 0 0 1 2.07 0 1.434 1.434 0 0 1 0 2.047l-3.358 3.319h12.165l-2.197-8.685zm11.72-5.79h-11.72v2.894h11.72c.808 0 1.464-.648 1.464-1.447 0-.798-.657-1.447-1.465-1.447zm-38.966 34.736c0-3.228-2.668-5.79-5.859-5.79-3.183 0-5.86 2.555-5.86 5.79 0 3.193 2.63 5.79 5.86 5.79 3.23 0 5.86-2.597 5.86-5.79zm24.317-2.894v-39.079c0-.799-.657-1.448-1.465-1.448h-42.774c-.807 0-1.464.65-1.464 1.448v37.632c0 .798.657 1.447 1.464 1.447h5.776c1.221-3.414 4.534-5.79 8.287-5.79 3.751 0 7.063 2.374 8.286 5.79zm20.508 2.894c0-3.228-2.67-5.79-5.86-5.79-3.183 0-5.86 2.555-5.86 5.79 0 3.193 2.63 5.79 5.86 5.79 3.23 0 5.86-2.597 5.86-5.79zm2.93-4.341v-7.238h-4.395c-.81 0-1.465-.647-1.465-1.447s.656-1.447 1.465-1.447h4.142a4.398 4.398 0 0 0-4.142-2.895h-16.114v14.474h3.433c1.22-3.414 4.533-5.79 8.286-5.79 3.65 0 6.883 2.247 8.182 5.513.367-.263.607-.69.607-1.17zm-33.106-20.264c0 7.183-5.915 13.026-13.184 13.026-7.27 0-13.183-5.843-13.183-13.026 0-7.182 5.914-13.026 13.183-13.026 7.27 0 13.184 5.844 13.184 13.026zm-2.93 0c0-5.586-4.6-10.131-10.254-10.131s-10.254 4.545-10.254 10.131c0 5.587 4.6 10.132 10.254 10.132s10.254-4.545 10.254-10.132zm-2.93 0c0 .8-.655 1.448-1.464 1.448h-5.86c-.809 0-1.465-.648-1.465-1.448v-5.79c0-.798.656-1.447 1.465-1.447.81 0 1.465.649 1.465 1.448v4.342h4.395c.809 0 1.464.648 1.464 1.447z"/><linearGradient id="ysyzb" x1="875" x2="950" y1="6312" y2="6311" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-875 -6284)"><use fill="#fff" xlink:href="#ysyza"/><use fill="url(#ysyzb)" xlink:href="#ysyza"/></g></g></svg>
              </div>
            </div>
            <p v-bind="dKey('skArray.p6')">{{info.skArray.p6}}</p>
          </div>
          <div class="col-12 col-md-4 col-xl-2 mr-auto">
            <div class="solution-icon-item">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="69" viewBox="0 0 80 69"><defs>
                  <path id="mpjaa" d="M1300.258 6339.617c-.388.14-.792.21-1.202.21-1.472 0-2.8-.918-3.304-2.284-.662-1.799.28-3.795 2.102-4.45.387-.139.792-.21 1.202-.21 1.472 0 2.8.919 3.303 2.285.663 1.799-.28 3.794-2.1 4.45zm-.101-3.657a1.175 1.175 0 0 0-1.502-.692 1.155 1.155 0 0 0-.7 1.483 1.176 1.176 0 0 0 1.502.692c.607-.219.921-.884.7-1.483zm38.83-10.895l-.005.022c-.005.03-.01.058-.017.087-.005.02-.012.038-.018.057l-.015.05-.029.069-.013.033a1.13 1.13 0 0 1-.044.082l-.009.016c-.017.03-.036.057-.056.085l-.006.008a1.393 1.393 0 0 1-.058.073l-.012.015a1.418 1.418 0 0 1-.15.139l-.017.014c-.02.015-.04.027-.06.04l-.036.025c-.022.013-.045.025-.069.037l-.034.019a1.176 1.176 0 0 1-.088.036l-.023.01-29.406 10.558a9.517 9.517 0 0 1-.916 3.89 9.656 9.656 0 0 1-5.51 4.986 9.84 9.84 0 0 1-3.34.584c-4.089 0-7.777-2.55-9.176-6.347-1.418-3.846-.19-8.015 2.757-10.56l-16.525-44.829-13.935 4.963h-.001l-.002.001h-.002a.73.73 0 0 1-.03.01c-.023.008-.045.015-.067.02-.021.006-.043.01-.064.015l-.036.008a1.238 1.238 0 0 1-.08.01l-.02.002a1.27 1.27 0 0 1-.278-.009l-.037-.008a1.263 1.263 0 0 1-.135-.032l-.037-.014a1.19 1.19 0 0 1-.127-.05l-.035-.02a1.1 1.1 0 0 1-.117-.068l-.037-.029c-.034-.025-.07-.05-.1-.08-.015-.013-.026-.029-.04-.042-.027-.029-.056-.057-.081-.09-.015-.017-.026-.038-.04-.057-.02-.03-.042-.06-.06-.092-.014-.023-.023-.048-.034-.073-.015-.03-.031-.06-.043-.093l-1.604-4.349v-.002-.001c-.007-.017-.011-.034-.016-.051l-.02-.061-.01-.053c-.004-.02-.01-.04-.012-.061-.003-.017-.004-.035-.005-.052-.002-.02-.005-.041-.006-.062v-.052-.061l.005-.052.007-.06c.002-.017.007-.034.01-.051.004-.02.007-.04.012-.059l.015-.048c.006-.02.01-.039.018-.058.005-.015.012-.03.018-.044.008-.02.015-.04.025-.059.006-.014.014-.026.021-.04.01-.02.02-.04.031-.058l.024-.037.038-.056.026-.032.045-.055.028-.028c.017-.018.033-.036.051-.052l.03-.025c.02-.017.038-.033.058-.048l.03-.02c.022-.015.043-.03.066-.044.01-.007.02-.011.03-.017l.074-.04.03-.012c.025-.011.051-.023.078-.033h.003l15.035-5.354h.001c3.036-1.092 6.405.459 7.51 3.457l16.923 45.909c.91.017 1.8.16 2.647.416l-6.68-18.123-6.947-18.845a1.132 1.132 0 0 1 .04-.886c.132-.279.366-.492.66-.597l10.26-3.687.018-.007c.003-.002.007-.002.01-.003l5.854-2.104.009-.004.005-.001 10.273-3.692a1.181 1.181 0 0 1 1.501.691l2.138 5.8c.22.6-.094 1.264-.7 1.482a1.178 1.178 0 0 1-1.503-.691l-1.737-4.71-8.074 2.9 1.736 4.711c.014.037.025.075.035.112l.005.025.018.09v.004c.033.22 0 .448-.097.655a1.158 1.158 0 0 1-.661.597l-5.873 2.11a1.174 1.174 0 0 1-1.501-.691l-1.738-4.71-8.076 2.901 6.146 16.67 9.175-3.296h.002l15.049-5.409-2.806-7.61a1.155 1.155 0 0 1 .701-1.483 1.176 1.176 0 0 1 1.501.691l3.206 8.697v.001l8.152 22.115 3.832-1.376c.262-.094.535-.09.78-.007l.012.004.05.02.054.022.007.003c.269.126.49.352.599.65l1.603 4.349c.07.188.087.382.059.566zm-37.844-38.3l1.336 3.624 3.67-1.319-1.334-3.624zm6.947 18.846l1.336 3.624 3.672-1.32-1.336-3.623zm-3.135 23.068a9.796 9.796 0 0 1 1.454 1.34l23.38-8.395-7.75-21.026-8.076 2.902 1.737 4.71c.222.6-.092 1.266-.7 1.483l-5.873 2.11a1.175 1.175 0 0 1-1.502-.69l-1.737-4.711-8.074 2.901zm-10.316-.92a9.791 9.791 0 0 1 2.202-.794l-16.724-45.368c-.663-1.799-2.684-2.73-4.506-2.075l-.002.001h-.001l-13.934 4.962.802 2.175 13.935-4.963h.003l.002-.002.035-.01.078-.024.07-.013.045-.009c.032-.005.063-.007.095-.01l.02-.001c.037-.002.073-.002.11 0h.004c.188.01.37.064.53.156l.006.003c.029.017.056.035.084.054l.01.007c.024.017.048.037.07.055l.019.015.059.057.022.022c.018.019.034.038.05.058l.024.029c.015.018.027.039.04.058l.026.036c.011.018.02.038.031.057.008.015.018.03.025.046.009.017.015.035.023.053l.023.054zm11.39 6.09c-1.063-2.885-3.866-4.824-6.974-4.824-.863 0-1.717.15-2.537.444-3.846 1.382-5.836 5.596-4.436 9.393 1.063 2.885 3.866 4.823 6.975 4.823.863 0 1.717-.149 2.537-.444a7.337 7.337 0 0 0 4.188-3.789 7.194 7.194 0 0 0 .248-5.603zm30.296-9.646l-.802-2.175-27.759 9.967a9.51 9.51 0 0 1 .801 2.174z"/><linearGradient id="mljab" x1="1259" x2="1339" y1="6311" y2="6312" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f7844a"/><stop offset="1" stop-color="#ffad2f"/></linearGradient></defs><g><g transform="translate(-1259 -6277)"><use fill="#fff" xlink:href="#mpjaa"/><use fill="url(#mljab)" xlink:href="#mpjaa"/></g></g></svg>
              </div>
            </div>
            <p v-bind="dKey('skArray.p7')">{{info.skArray.p7}}</p>
          </div>
        </div>
      </div>
    </section>
    <section class="warranty-text-section complex-page">
      <div class="container">
        <div class="warranty-text-wrapper">
          <div class="big-car-img planet-img">
            <img src="//assets.gtagency.de/img/planet-img.png" alt="">
          </div>
          <div class="warranty-text">
            <h4 v-bind="dKey('complexEnd')">{{info.complexEnd}}</h4>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>

import {HTTP} from '../http-common'

export default {
  name: 'Complex',

  data() {
    return {
      info: {
        complexBenefit: {},
        skArray: {}
      },
      pageId: 0,
      pageName: 'complex',
      errors: []
    }
  },

  mounted() {
    document.querySelectorAll('[data-key]').forEach(function(node){
      node.contentEditable = true
    })
  },

  created() {
    this.$root.getPage('complex', this.$root.language_id, response => {
      this.info = response.info
      this.pageId = response.pageId
    })
  },

  watch:{
    $route (to, from) {
      this.$root.getPage('complex', this.$root.language_id, response => {
        this.info = response.info
        this.pageId = response.pageId
      })
    }
  },

  methods: {
    dKey(key, page, pageId) {
      return this.$root.dKey(key, page, pageId)
    }
  }
}

</script>
