<template>
  <main class="sea-service" v-bind="dKey('pageid', pageName, postId)">
    <div class="fixed-video"><img src="//assets.gtagency.de/vid/img/sea/large/0001.jpg" alt="" /></div>
    <section class="in1">
      <div class="container">
        <div class="hb1">
          <div class="hb-linr"></div>
          <div v-bind="dKey('title')" class="text-hb">{{info.title}}</div>
        </div>
        <div class="title-fs">
          <h1 v-bind="dKey('weTitle')" class="text-center" v-html="info.weTitle"></h1>
        </div>
      </div>
    </section>

    <section class="in2">
      <div class="container has-paralax">
        <div id="id-0" data-pos="4" data-speed="1.2" class="paralax left">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="74" height="61" viewBox="0 0 74 61"><defs><path id="6fwqa" d="M492 248.35v12.7c0 .701-.571 1.27-1.276 1.27h-5.23a6.321 6.321 0 0 1-2.411 6.337c-2.81 2.102-6.8 1.54-8.913-1.257H469a6.375 6.375 0 0 1-6.389 2.407c-3.439-.712-5.647-4.064-4.932-7.487h-5.358a6.321 6.321 0 0 1-2.41 6.337c-2.81 2.102-6.801 1.54-8.914-1.257h-5.17a6.375 6.375 0 0 1-6.388 2.407c-3.44-.712-5.647-4.064-4.932-7.487h-5.231a1.273 1.273 0 0 1-1.276-1.27v-12.7c0-.701.571-1.27 1.276-1.27h5.103c.705 0 1.276.569 1.276 1.27v3.81h12.759v-2.605c-7.9-.555-14.488-6.226-16.178-13.928-2.103-9.584 3.997-19.051 13.626-21.145v-1.692a3.819 3.819 0 0 1 3.828-3.81h5.103a3.819 3.819 0 0 1 3.828 3.81v1.27h12.758v-1.27a3.819 3.819 0 0 1 3.828-3.81h5.103a3.819 3.819 0 0 1 3.828 3.81v1.692c7.737 1.682 13.435 8.24 13.992 16.103.695 9.786-6.713 18.28-16.544 18.97v2.605h12.759v-3.81c0-.701.571-1.27 1.276-1.27h5.103c.705 0 1.276.569 1.276 1.27zm-20.414-31.688v30.353c7.926-.665 14.022-7.257 14.035-15.175-.011-7.918-6.108-14.512-14.035-15.178zm-7.655-2.602h6.38c.43 0 .852.035 1.275.065v-1.335c0-.701-.571-1.27-1.276-1.27h-5.103c-.705 0-1.276.569-1.276 1.27zm5.103 33.02V242h-2.551v5.08zm-28.069 2.54v2.54h28.07v-2.54zm28.07-10.16v-2.54h-2.552v2.54zm0-5.08v-2.54h-2.552v2.54zm0-5.08v-2.54h-2.552v2.54zm0-5.08v-2.54h-2.552v2.54zm0-5.08v-2.54h-2.552v2.54zm-30.621-5.015c.423-.03.844-.065 1.276-.065h6.379v-1.27c0-.701-.571-1.27-1.276-1.27h-5.103c-.705 0-1.276.569-1.276 1.27zm1.276 32.955h24.241V216.6H439.69c-8.452.01-15.302 6.827-15.31 15.24.008 8.413 6.858 15.23 15.31 15.24zm-19.138 5.08h2.551v-2.54h-2.551zm14.034 11.43a3.819 3.819 0 0 0-3.827-3.81 3.819 3.819 0 0 0-3.828 3.81 3.819 3.819 0 0 0 3.828 3.81 3.819 3.819 0 0 0 3.827-3.81zm5.231-1.27h-2.807a6.32 6.32 0 0 1 0 2.54h2.807a6.32 6.32 0 0 1 0-2.54zm10.08 1.27a3.819 3.819 0 0 0-3.828-3.81 3.819 3.819 0 0 0-3.828 3.81 3.819 3.819 0 0 0 3.828 3.81 3.819 3.819 0 0 0 3.828-3.81zm17.862 0a3.819 3.819 0 0 0-3.828-3.81 3.819 3.819 0 0 0-3.828 3.81 3.819 3.819 0 0 0 3.828 3.81 3.819 3.819 0 0 0 3.828-3.81zm5.23-1.27h-2.806a6.32 6.32 0 0 1 0 2.54h2.807a6.32 6.32 0 0 1 0-2.54zm10.08 1.27a3.819 3.819 0 0 0-3.828-3.81 3.819 3.819 0 0 0-3.827 3.81 3.819 3.819 0 0 0 3.827 3.81 3.819 3.819 0 0 0 3.828-3.81zm6.984-9.131h-70.106v5.805h5.842c.37-.496.71-1.42 1.208-1.787 2.8-2.068 6.755-1.484 8.832 1.303h5.17c.37-.496.81-.935 1.309-1.303 2.8-2.068 6.754-1.484 8.831 1.303h7.722c.37-.496.81-.935 1.309-1.303 2.8-2.068 6.754-1.484 8.831 1.303h5.17c.37-.496.81-.935 1.31-1.303 2.8-2.068 6.652-1 8.73 1.787h5.842zm-.605-4.839h-2.552v2.54h2.552zm-46.04-11.266c-3.12 2.044-7.313 1.184-9.367-1.921a4.822 4.822 0 0 1 .194-5.392l4.408-6.278a1.33 1.33 0 0 1 2.092 0l4.409 6.278a4.821 4.821 0 0 1 .194 5.392 6.746 6.746 0 0 1-1.93 1.921zm-.22-3.288a2.306 2.306 0 0 0-.135-2.57l-3.363-4.788-3.364 4.787a2.307 2.307 0 0 0-.135 2.571 4.222 4.222 0 0 0 6.997 0zm-3.498 9.474c-7.047 0-12.759-5.686-12.759-12.7 0-7.014 5.712-12.7 12.759-12.7 7.046 0 12.758 5.686 12.758 12.7-.007 7.01-5.715 12.692-12.758 12.7zm0-2.54c5.637 0 10.207-4.549 10.207-10.16 0-5.61-4.57-10.16-10.207-10.16-5.637 0-10.207 4.55-10.207 10.16.006 5.609 4.572 10.154 10.207 10.16z"/></defs><g><g transform="translate(-418 -209)"><use fill="#fff" xlink:href="#6fwqa"/></g></g></svg>
            </div>
            <div class="bra-content">
              <span v-bind="dKey('weList#0')">{{getData('weList', 0)}}</span>
            </div>
          </div>
        </div>
        <div id="id-1" data-pos="6" data-speed="1.2" class="paralax right">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="49" height="61" viewBox="0 0 49 61"><defs><path id="qye1a" d="M1390 369.127v47.466c0 3.996-3.2 7.247-7.135 7.247h-34.73c-3.935 0-7.135-3.25-7.135-7.247v-32.972c0-3.37 3.926-5.944 7-6.75v-5.996h7v5.996h6l9-13.991h13c3.934 0 7 2.251 7 6.247zm-40 6.744h3v-2.998h-3zm38 40.974v-47.97c0-1.997-3.033-3.997-5-3.997h-12l-8 13.991h-15c-1.967 0-5 3-5 4.997v32.979c0 1.998 3.033 4.996 5 4.996h35c1.967 0 4-2 4-3.997zm-6-46.97v8.994h-14l5-8.994zm-2 1.999h-5l-3 4.997h8zm2.374 41.598l-2.374 1.374-5-5.996h-18l-7 5.996-1.343-1.406 7.343-6.589v-13.99l-7-5.997 2-1.999 6.791 6.002h15.738l6.26-6.683 2.585 2.497-6.374 6.18.078 13.89zM1374 392.86h-16v13.991h16z"/></defs><g><g transform="translate(-1341 -363)"><use fill="#fff" xlink:href="#qye1a"/></g></g></svg>
            </div>
            <div class="bra-content">
              <span v-bind="dKey('weList#1')">{{getData('weList', 1)}}</span>
            </div>
          </div>
        </div>
        <div id="id-2" data-pos="8" data-speed="1.2" class="paralax left">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="59" viewBox="0 0 50 59"><defs><path id="82uta" d="M430 371.476c0-1.598 1.41-2.765 3-2.765h20l.077-1.1a2.895 2.895 0 0 1 2.884-2.898h9.616c1.59 0 2.884 1.3 2.884 2.899L468 368.71h8c1.59 0 4 1.167 4 2.765 0 1.26-.804 2.334-1.923 2.733v39.772c0 .533-.43.966-.962.966s-1.115-.732-1.115-1.266v-39.973c0-.534.583-1.267 1.115-1.267.53 0 .962-.433.962-.966 0-.532-.546-.766-1.077-.766h-19c-.532 0-1.077-.632-1.077-1.165 0-.534.545-.833 1.077-.833h9l-.462-1.1c0-.532-1.007-.899-1.538-.899h-9c-.53 0-1 .367-1 .9v1.932c0 .533-.468 1.165-1 1.165h-21c-.53 0-1.077.234-1.077.767 0 .532.546 1.232 1.077 1.232h40c.532 0 1.23.167 1.23.7 0 .533-.698 1.299-1.23 1.299h-40c-1.59 0-3-1.634-3-3.231zm12.508 23.184h7.684c.52 0 .947.417.962.94.02.688.216 1.438.515 1.959a3.79 3.79 0 0 0 1.32 1.336.967.967 0 0 1 .332 1.299l-3.808 6.733a.96.96 0 0 1-1.322.357 13.477 13.477 0 0 1-4.849-4.895c-1.16-2.02-1.781-4.356-1.796-6.757a.962.962 0 0 1 .962-.972zm6.819 1.933h-5.812c.151 1.71.67 3.396 1.493 4.83a11.554 11.554 0 0 0 3.334 3.663l2.883-5.096a5.587 5.587 0 0 1-1.22-1.464 6.015 6.015 0 0 1-.678-1.933zM480 419.777a2.895 2.895 0 0 1-2.885 2.899h-44.23c-1.59 0-2.885-1.3-2.885-2.899 0-1.26.804-2.334 1.923-2.732v-39.773c0-.533.43-.966.962-.966.531 0 1.115.866 1.115 1.399v39.974c0 .533-.584 1.132-1.115 1.132a.965.965 0 0 0-.962.966c0 .533.546.9 1.077.9h44c.53 0 1.077-.367 1.077-.9 0-.532-.546-1.099-1.077-1.099h-40c-.532 0-1.23-.3-1.23-.833 0-.533.698-1.166 1.23-1.166h40c1.59 0 3 1.5 3 3.098zm-23.321-19.583a.97.97 0 0 1 .333-1.3 3.789 3.789 0 0 0 1.32-1.335c.297-.522.496-1.273.514-1.96a.965.965 0 0 1 .962-.938h7.683a.966.966 0 0 1 .962.972c-.014 2.4-.635 4.736-1.794 6.756a13.502 13.502 0 0 1-4.85 4.895.951.951 0 0 1-.736.1.96.96 0 0 1-.586-.457zm2.096-.204l2.883 5.096a11.584 11.584 0 0 0 3.336-3.663c.822-1.434 1.34-3.12 1.49-4.83h-5.812a6.04 6.04 0 0 1-.675 1.93 5.576 5.576 0 0 1-1.222 1.467zm-5.698-4.363a1.93 1.93 0 0 1 1.923-1.933 1.93 1.93 0 0 1 1.923 1.933 1.93 1.93 0 0 1-1.923 1.932 1.93 1.93 0 0 1-1.923-1.933zm-1.175-3.745l-3.9-6.681a.966.966 0 0 1 .354-1.328c4.05-2.317 9.237-2.317 13.288 0a.967.967 0 0 1 .353 1.328l-3.899 6.68a.961.961 0 0 1-1.286.362c-1.175-.638-2.45-.637-3.624 0a.962.962 0 0 1-1.286-.36zm-1.728-6.779l2.952 5.057a5.506 5.506 0 0 1 3.747 0l2.953-5.057a11.588 11.588 0 0 0-9.652 0z"/></defs><g><g transform="translate(-430 -364)"><use fill="#fff" xlink:href="#82uta"/></g></g></svg>
            </div>
            <div class="bra-content">
              <span v-bind="dKey('weList#2')">{{getData('weList', 2)}}</span>
            </div>
          </div>
        </div>
        <div id="id-3" data-pos="10" data-speed="1.2" class="paralax right">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="43" height="69" viewBox="0 0 43 69"><defs><path id="zdkpa" d="M1382.61 540.22c0 .558-.049 1.78-.61 1.78h-3c-.561 0-1.347-1.222-1.347-1.78 0-.559.786-.22 1.347-.22h3c.561 0 .61-.339.61.22zm4.39 29.118v.008c-.003 3.422-2.548 6.264-5.853 6.754v4.89c0 .558-.455 1.01-1.016 1.01h-29.263a1.013 1.013 0 0 1-1.016-1.01v-4.89c-3.307-.49-5.852-3.334-5.852-6.76v-29.12c0-6.64 5.164-12.102 11.705-12.619v-13.59c0-.559.455-1.011 1.016-1.011h17.558c.56 0 .721.442.721 1v13c6.541.517 12 6.58 12 13.22zM1358 528h4v-5c0-.558.439-2 1-2h5c.56 0 1 1.442 1 2v5h4v-13h-15zm6-5v5h3v-5zm15 53h-27v4h27zm5.968-35.78c0-5.865-5.076-10.217-10.968-10.22-.002 0 .002 0 0 0h-17c-5.552 0-10.487 4.607-11 10h28a.99.99 0 0 1 1 1 .99.99 0 0 1-1 1h-28l.032 27.34c0 2.654 2.3 4.66 4.968 4.66h29c2.319 0 4.532-1.83 5-4h-28c-.561 0-.952-.102-.952-.66s.39-1.34.952-1.34h28zm-31.62 29.12c0 .559-.787.66-1.348.66h-2c-.561 0-1.61-.101-1.61-.66 0-.558.049-1.34.61-1.34h4c.56 0 .347.782.347 1.34zm19.02-11.648c0 3.769-3.08 6.835-6.868 6.835-3.443 0-6.364-2.552-6.81-5.942a6.237 6.237 0 0 1-.074-.82 12.35 12.35 0 0 1 .088-2.031 14.032 14.032 0 0 1 2.365-6.191 1.017 1.017 0 0 1 1.557-.145l.517.515c.545-.811 1.26-2.188 1.342-3.917a1.01 1.01 0 0 1 .547-.85 1.02 1.02 0 0 1 1.012.044c.234.148 5.751 3.714 6.238 11.458.003.043.013.138.024.25.037.376.062.634.062.794zm-2.031 0c-.002-.087-.036-.429-.052-.593-.015-.148-.027-.271-.03-.325-.286-4.546-2.544-7.419-4.021-8.832-.656 2.552-2.2 4.124-2.28 4.203-.19.19-.45.298-.719.298h-.001c-.27 0-.528-.106-.719-.296l-.415-.413c-1.873 3.421-1.41 6.495-1.404 6.528l.005.038c.303 2.397 2.366 4.205 4.799 4.205 2.667 0 4.837-2.159 4.837-4.813z"/></defs><g><g transform="translate(-1344 -513)"><use fill="#fff" xlink:href="#zdkpa"/></g></g></svg>
            </div>
            <div class="bra-content">
              <span v-bind="dKey('weList#3')">{{getData('weList', 3)}}</span>
            </div>
          </div>
        </div>
        <div id="id-4" data-pos="12" data-speed="1.2" class="paralax left">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="62" height="62" viewBox="0 0 62 62"><defs><path id="yjy2a" d="M1345 263c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm-2 0c0-.551-.45-1-1-1-.551 0-1 .449-1 1 0 .551.449 1 1 1 .55 0 1-.449 1-1zm52-46c0 1.654-1.346 3-3 3h-11.5c-.441 0-.836.296-.96.72l-6.58 22.56-1.92-.56 6.58-22.56a3.015 3.015 0 0 1 2.88-2.16h4.5v-2h-4.55a4.972 4.972 0 0 0-4.784 3.55l-8.924 29.45H1336c-.551 0-1 .449-1 1 0 .551.449 1 1 1h36.5c1.93 0 3.5 1.57 3.5 3.5 0 1.05-.474 1.982-1.209 2.624A6.994 6.994 0 0 1 1378 263c0 3.86-3.14 7-7 7s-7-3.14-7-7c0-1.958.81-3.728 2.11-5h-19.22a6.977 6.977 0 0 1 2.11 5c0 3.86-3.14 7-7 7s-7-3.14-7-7 3.14-7 7-7h30.5c.827 0 1.5-.673 1.5-1.5s-.673-1.5-1.5-1.5H1336c-1.654 0-3-1.346-3-3 0-1.302.839-2.402 2-2.816V229h13v-7.528a4.972 4.972 0 0 1 2.764-4.472l3.236-1.618V214h-3v-6h14v6h-3v1.382l3.236 1.618a4.972 4.972 0 0 1 2.764 4.472v16.48l5.752-18.982a6.96 6.96 0 0 1 6.699-4.97H1392c1.654 0 3 1.346 3 3zm-53 41c-2.757 0-5 2.243-5 5s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5zm29 0c-2.757 0-5 2.243-5 5s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5zm-8-46v-2h-10v2zm-14 21h2v-2h-2zm-4 0h2v-2h-2zm-4 0h2v-2h-2zm-4 0h2v-2h-2zm18 2h-18v12h18zm0-4h-2v2h2zm11-9.528a2.982 2.982 0 0 0-1.658-2.683l-4.342-2.171V214h-4v2.618l-4.342 2.171a2.982 2.982 0 0 0-1.658 2.683V229h7v18h8.258l.742-2.448zm27-4.472c0-.551-.449-1-1-1h-5v2h5c.551 0 1-.449 1-1zm-9 28h7v2h-7zm-5 6h6v2h-6zm3 7h7v2h-7zm-8 5c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm-2 0c0-.551-.45-1-1-1-.551 0-1 .449-1 1 0 .551.449 1 1 1 .55 0 1-.449 1-1zm-31-25h10v2h-10zm0 4h10v2h-10zm23-19.91V228h-2v-5.91l-1.447-.723.894-1.789 1.447.723a1.99 1.99 0 0 1 1.106 1.789zm29 22.91h2v2h-2zm-6 6h2v2h-2zm4 7h2v2h-2zm-29-28h2v2h-2z"/></defs><g><g transform="translate(-1333 -208)"><use fill="#fff" xlink:href="#yjy2a"/></g></g></svg>
            </div>
            <div class="bra-content">
              <span v-bind="dKey('weList#4')">{{getData('weList', 4)}}</span>
            </div>
          </div>
        </div>
        <div id="id-5" data-pos="14" data-speed="1.2" class="paralax right">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="65" height="61" viewBox="0 0 65 61"><defs><path id="4jjha" d="M488 395.679v25.053c0 1.802-1.458 3.268-3.25 3.268h-11.917c-1.792 0-3.25-1.466-3.25-3.268V408.75h-6.165l2.13 7.855c.268.99.067 2.027-.553 2.843a3.22 3.22 0 0 1-2.582 1.284h-9.08c0 1.802-1.458 3.268-3.25 3.268H426.25c-1.792 0-3.25-1.466-3.25-3.268v-32.678c0-1.802 1.458-3.268 3.25-3.268v-16.34c0-3.003 2.43-5.446 5.417-5.446h47.666c2.987 0 5.417 2.443 5.417 5.446v23.965c1.792 0 3.25 1.466 3.25 3.268zm-36.834 22.875h-26v2.178c0 .6.487 1.09 1.084 1.09h23.833c.597 0 1.083-.49 1.083-1.09zm0-26.143h-26v23.964h26zm0-4.357c0-.6-.486-1.09-1.083-1.09H426.25c-.597 0-1.083.49-1.083 1.09v2.178h26zm12.074 28.32h-9.907v2.18h9.08c.34 0 .654-.156.86-.429.208-.272.275-.617.185-.947zm-.59-2.178l-1.478-5.446h-7.839v5.446zm6.933-14.16h-16.25v6.535h16.25zm3.25-7.625h9.75v-23.965c0-1.801-1.458-3.267-3.25-3.267h-47.666c-1.792 0-3.25 1.466-3.25 3.267v16.34h21.666c1.792 0 3.25 1.466 3.25 3.268v9.803h16.25v-2.178c0-1.802 1.458-3.268 3.25-3.268zm13 26.143H471.75v2.178c0 .6.486 1.09 1.083 1.09h11.917c.597 0 1.083-.49 1.083-1.09zm0-18.518H471.75v16.339h14.083zm0-4.357c0-.6-.486-1.09-1.083-1.09h-11.917c-.597 0-1.083.49-1.083 1.09v2.178h14.083zm-57.1 12.3l4.334-4.358 1.532 1.54-4.334 4.358zm4.333 3.268l13-13.072 1.533 1.54-13 13.072zm2.167-9.803l6.5-6.535 1.531 1.54-6.5 6.536zm38.998 6.536l5.416-5.445 1.532 1.54-5.415 5.446zm2.167 4.362l5.415-5.445 1.533 1.54-5.416 5.446zm-24.915-30.505l6.5-6.535 1.531 1.54-6.5 6.536zm9.75-2.179l6.5-6.535 1.532 1.54-6.5 6.536zm-6.5 6.537l4.333-4.357 1.532 1.54-4.334 4.358zm5.41-13.058l4.344-4.368 1.532 1.54-4.344 4.368zm-29.56-5.78h2.167v2.179h-2.167zm4.334 0h2.166v2.179h-2.166zm4.333 0h2.166v2.179h-2.166z"/></defs><g><g transform="translate(-423 -363)"><use fill="#fff" xlink:href="#4jjha"/></g></g></svg>
            </div>
            <div class="bra-content">
              <span v-bind="dKey('weList#5')">{{getData('weList', 5)}}</span>
            </div>
          </div>
        </div>
        <div id="id-6" data-pos="16" data-speed="1.2" class="paralax left">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="75" height="34" viewBox="0 0 75 34"><defs><path id="9x34a" d="M480 249.81c0 3.413-2.804 6.19-6.25 6.19s-6.25-2.777-6.25-6.19c0-3.414 2.804-6.191 6.25-6.191s6.25 2.777 6.25 6.19zm-2.5 0c0-2.048-1.682-3.715-3.75-3.715-2.067 0-3.75 1.667-3.75 3.715 0 2.047 1.683 3.714 3.75 3.714 2.068 0 3.75-1.667 3.75-3.714zm-40 0c0 3.413-2.804 6.19-6.25 6.19-3.447 0-6.25-2.777-6.25-6.19 0-3.414 2.804-6.191 6.25-6.191s6.25 2.777 6.25 6.19zm-2.5 0c0-2.048-1.683-3.715-3.75-3.715-2.068 0-3.75 1.667-3.75 3.715 0 2.047 1.682 3.714 3.75 3.714 2.067 0 3.75-1.667 3.75-3.714zm55-4.81v5c0 .683-.56 1.047-1.25 1.047h-5c-.69 0-1.25-.554-1.25-1.238 0-4.779-3.925-8.666-8.75-8.666s-8.75 3.887-8.75 8.666c0 .684-.31 1.191-1 1.191h-23c-.69 0-1-.507-1-1.19 0-4.78-3.925-8.667-8.75-8.667s-8.75 3.887-8.75 8.666c0 .684-.56 1.238-1.25 1.238h-5c-.69 0-1.25-.554-1.25-1.238v-4.952c0-.683.56-1.238 1.25-1.238v-3.714c0-4.711 8.596-7.305 16.9-7.424 7.182-8.61 18.37-11.939 33.27-9.899l.045.008c8.069 1.4 11.72 5.64 14.376 10.097l7.054 2.328c.511.169 1.105.451 1.105.985v8c.69 0 1 .317 1 1zm-18-12h6c-1.404-2.071-3.829-4.681-6-6zm-15 0h13l.074-6.868a20.917 20.917 0 0 0-4.018-1.098c-3.039-.416-6.382-1.07-9.056-1.034zm-21 0h19v-9c-7.729.545-14.366 4.265-19 9zm52 13c-.69 0-1.75-.46-1.75-1.143v-3.714H485c-.69 0-1.25-.555-1.25-1.238 0-.684.56-1.238 1.25-1.238h1.25v-1.584L480 235h-46c-7.533 0-12.956 1.848-14.648 3.667H420c.69 0 1.25.554 1.25 1.238 0 .683-.56 1.238-1.25 1.238h-1.25v3.714c0 .684-1.06 1.143-1.75 1.143v3h3c.624-5.564 5.469-10.333 11.25-10.333S442.376 243.436 443 249h20c.624-5.564 4.969-10.333 10.75-10.333S484.376 243.436 485 249h3z"/></defs><g><g transform="translate(-415 -222)"><use fill="#f9f3f3" xlink:href="#9x34a"/></g></g></svg>
            </div>
            <div class="bra-content">
              <span v-bind="dKey('weList#6')">{{getData('weList', 6)}}</span>
            </div>
          </div>
        </div>
        <div id="id-7" data-pos="18" data-speed="1.2" class="paralax right">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="56" viewBox="0 0 60 56"><defs><path id="gcfya" d="M1369.861 397.223c0 .659-.525 1.193-1.172 1.193a1.183 1.183 0 0 1-1.172-1.193c0-.66.525-1.194 1.172-1.194.647 0 1.172.535 1.172 1.194zm13.11 13.256c0 3.582-1.688 6.696-4.598 8.654a10.88 10.88 0 0 1-9.074 1.453c-1.578-.45-3.41-.688-5.297-.688-1.856 0-3.661.23-5.22.666a10.951 10.951 0 0 1-9.117-1.499c-2.877-1.954-4.535-5.04-4.535-8.586a10.318 10.318 0 0 1 3.355-7.626c.035-.03 3.637-3.29 6.274-9.45 1.563-3.82 5.197-6.287 9.26-6.287 4.065 0 7.699 2.468 9.262 6.286 2.102 4.909 4.766 7.935 5.864 9.053 2.432 1.953 3.825 4.873 3.825 8.024zm-2.345 0a7.836 7.836 0 0 0-2.977-6.186 1.21 1.21 0 0 1-.106-.094c-1.164-1.175-4.12-4.487-6.415-9.852l-.008-.019c-1.196-2.93-3.983-4.825-7.101-4.825-3.117 0-5.904 1.895-7.1 4.826l-.008.02c-2.827 6.607-6.63 10.074-6.88 10.298a7.909 7.909 0 0 0-2.558 5.831c0 2.754 1.284 5.1 3.493 6.602a8.644 8.644 0 0 0 7.195 1.182c1.759-.491 3.778-.75 5.84-.75 2.098 0 4.148.268 5.93.775a8.574 8.574 0 0 0 7.15-1.145c2.24-1.509 3.545-3.887 3.545-6.664zm-4.733-4.586c.459.465.462 1.22.006 1.688a1.157 1.157 0 0 1-1.658.006c-.85-.858-2.54-2.715-4.323-5.504a1.207 1.207 0 0 1 .342-1.651 1.16 1.16 0 0 1 1.622.349c1.665 2.603 3.227 4.32 4.01 5.112zm-28.037-30.252c-.307-2.64.163-5.301 1.288-7.304 1.079-1.918 2.638-3.09 4.392-3.302 3.884-.475 7.36 3.826 7.955 8.96.308 2.636-.161 5.298-1.288 7.303-3.711 6.603-11.375 2.726-12.347-5.657zm2.328-.28c.638 5.505 5.284 9.557 7.985 4.751.882-1.57 1.245-3.697.995-5.837-.433-3.733-2.747-6.886-5.053-6.886-1.29 0-2.29.992-2.932 2.133-.881 1.569-1.244 3.696-.995 5.838zm-4.455 23.692c-1.844.97-3.933.794-5.818-.148-1.9-.949-3.546-2.653-4.634-4.797-1.088-2.145-1.5-4.497-1.161-6.624.36-2.26 1.514-4.006 3.248-4.919 1.734-.913 3.801-.86 5.819.147 1.9.95 3.546 2.653 4.634 4.798 1.088 2.145 1.5 4.497 1.16 6.624-.36 2.26-1.513 4.006-3.248 4.919zm.935-5.301c.26-1.626-.07-3.453-.93-5.146-.859-1.693-2.131-3.026-3.583-3.75-1.185-.593-2.54-.786-3.71-.17-1.06.557-1.773 1.686-2.012 3.18-.259 1.626.071 3.453.93 5.146.86 1.693 2.132 3.025 3.584 3.75 1.335.667 2.652.727 3.71.17 1.059-.557 1.773-1.686 2.011-3.18zm19.872-19.734c.586-5.043 3.829-8.994 7.382-8.994 4.222 0 6.88 5.267 6.256 10.64-.587 5.043-3.83 8.993-7.383 8.993-4.214 0-6.88-5.257-6.255-10.64zm3.183 5.847c.697 1.389 1.708 2.259 2.773 2.387l.013.001c2.374.314 4.891-3.003 5.342-6.87.23-1.993-.08-4.022-.856-5.566-.57-1.136-1.537-2.248-2.787-2.39a2.178 2.178 0 0 0-.285-.016c-2.307 0-4.621 3.154-5.055 6.887-.231 1.993.08 4.022.855 5.567zm18.374 19.045c-4.15 2.073-8.318-.067-9.067-4.77-.703-4.403 1.865-9.46 5.794-11.423 4.2-2.099 8.326.123 9.067 4.771.703 4.402-1.864 9.459-5.794 11.422zm3.481-11.04c-.493-3.09-2.964-4.388-5.721-3.01-3.01 1.503-5.05 5.536-4.514 8.897.238 1.493.952 2.623 2.01 3.18 1.059.557 2.377.496 3.711-.17 3.015-1.506 5.049-5.542 4.514-8.896z"/></defs><g><g transform="translate(-1334 -365)"><use fill="#fff" xlink:href="#gcfya"/></g></g></svg>
            </div>
            <div class="bra-content">
              <span v-bind="dKey('weList#7')">{{getData('weList', 7)}}</span>
            </div>
          </div>
        </div>
        <div id="id-8" data-pos="20" data-speed="1.2" class="paralax left">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="62" viewBox="0 0 64 62"><defs><path id="7i0pa" d="M813.133 685.068v17.864h3.2V688.22c0-.58.478-1.05 1.067-1.05h23.467c.59 0 1.066.47 1.066 1.05v14.712h3.2V688.22c0-.58.478-1.05 1.067-1.05h23.467c.589 0 1.066.47 1.066 1.05v14.712H875v2.102h-61.867v17.864h3.2v-14.712c0-.58.478-1.05 1.067-1.05h23.467c.59 0 1.066.47 1.066 1.05v14.712h3.2v-14.712c0-.58.478-1.05 1.067-1.05h23.467c.589 0 1.066.47 1.066 1.05v14.712H875V725h-62.934c-.589 0-1.066-.47-1.066-1.05V663h2.133v19.966h3.2v-14.712c0-.58.478-1.05 1.067-1.05h23.467c.59 0 1.066.47 1.066 1.05v14.712h3.2v-14.712c0-.58.478-1.05 1.067-1.05h23.467c.589 0 1.066.47 1.066 1.05v14.712H875v2.102zm42.667-11.56h4.267v-4.203H855.8zm-8.533 9.458H868.6v-13.661h-6.4v5.255c0 .58-.478 1.05-1.067 1.05h-6.4c-.59 0-1.067-.47-1.066-1.05v-5.255h-6.4zM827 673.508h4.267v-4.203H827zm-8.533 9.458H839.8v-13.661h-6.4v5.255c0 .58-.478 1.05-1.067 1.05h-6.4c-.59 0-1.066-.47-1.066-1.05v-5.255h-6.4zm37.333 30.475h4.267v-4.204H855.8zm-8.533 9.457H868.6v-13.66h-6.4v5.254c0 .58-.478 1.05-1.067 1.05h-6.4c-.59 0-1.067-.47-1.066-1.05v-5.255h-6.4zM827 713.441h4.267v-4.204H827zm-8.533 9.457H839.8v-13.66h-6.4v5.254c0 .58-.478 1.05-1.067 1.05h-6.4c-.59 0-1.066-.47-1.066-1.05v-5.255h-6.4zm37.333-28.373h4.267v-4.203H855.8zm-8.533 8.407H868.6v-13.66h-6.4v6.305c0 .58-.478 1.05-1.067 1.05h-6.4c-.59 0-1.067-.47-1.066-1.05v-6.306h-6.4zM827 693.475h4.267v-4.204H827zm-8.533 9.457H839.8v-13.66h-6.4v5.254c0 .58-.478 1.05-1.067 1.05h-6.4c-.59 0-1.066-.47-1.066-1.05v-5.255h-6.4z"/></defs><g><g transform="translate(-811 -663)"><use fill="#fff" xlink:href="#7i0pa"/></g></g></svg>
            </div>
            <div class="bra-content">
              <span v-bind="dKey('weList#8')">{{getData('weList', 8)}}</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="in1">
      <div class="container">
        <div class="title-fs">
          <h1 class="text-center" v-bind="dKey('pickTitle')">{{info.pickTitle}}</h1>
          <h2 class="text-center"><span v-bind="dKey('pickSubtitle')">{{info.pickSubtitle}}</span></h2>
        </div>
      </div>
    </section>

    <section class="in3">
      <div class="container has-paralax">
        <div id="id-9" data-pos="30" data-speed="1.5" class="paralax left">
          <div class="rond-r">
            <div class="clip-num align-middle">01</div>
            <div class="clip-text align-middle" v-bind="dKey('pickList#0')">{{getData('pickList', 0)}}</div>
          </div>
        </div>
        <div id="id-10" data-pos="32" data-speed="1.5" class="paralax right">
          <div class="rond-r">
            <div class="clip-num align-middle">02</div>
            <div class="clip-text align-middle" v-bind="dKey('pickList#1')">{{getData('pickList', 1)}}</div>
          </div>
        </div>
        <div id="id-11" data-pos="34" data-speed="1.5" class="paralax left">
          <div class="rond-r">
            <div class="clip-num align-middle">03</div>
            <div class="clip-text align-middle" v-bind="dKey('pickList#2')">{{getData('pickList', 2)}}</div>
          </div>
        </div>
        <div id="id-12" data-pos="36" data-speed="1.5" class="paralax right">
          <div class="rond-r">
            <div class="clip-num align-middle">04</div>
            <div class="clip-text align-middle" v-bind="dKey('pickList#3')">{{getData('pickList', 3)}}</div>
          </div>
        </div>
        <div id="id-13" data-pos="38" data-speed="1.5" class="paralax left">
          <div class="rond-r">
            <div class="clip-num align-middle">05</div>
            <div class="clip-text align-middle" v-bind="dKey('pickList#4')">{{getData('pickList', 4)}}</div>
          </div>
        </div>
        <div id="id-14" data-pos="40" data-speed="1.5" class="paralax right">
          <div class="rond-r">
            <div class="clip-num align-middle">06</div>
            <div class="clip-text align-middle" v-bind="dKey('pickList#5')">{{getData('pickList', 5)}}</div>
          </div>
        </div>
      </div>
    </section>

    <section class="geography-title">
      <div class="container">
        <div class="title-fs">
          <h1 v-bind="dKey('geoTitle')" class="text-center">{{info.geoTitle}}</h1>
        </div>
      </div>
    </section>

    <section class="geography-content">
      <div class="container has-paralax">
        <div id="id-15" data-pos="50" data-speed="1.5" class="paralax left">
          <div class="c-block ma1">
            <div class="content-va"><span v-bind="dKey('geoList#0#strong')">{{getData('geoList', 0, 'strong')}}</span><i v-bind="dKey('geoList#0#text')">{{getData('geoList', 0, 'text')}}</i></div>
          </div>
        </div>
        <div id="id-16" data-pos="52.5" data-speed="1.5" class="paralax right">
          <div class="c-block ma2">
            <div class="content-va"><span v-bind="dKey('geoList#1#strong')">{{getData('geoList', 1, 'strong')}}</span><i v-bind="dKey('geoList#1#text')">{{getData('geoList', 1, 'text')}}</i></div>
          </div>
        </div>
        <div id="id-17" data-pos="55" data-speed="1.5" class="paralax left">
          <div class="c-block ma3">
            <div class="content-va"><span v-bind="dKey('geoList#2#strong')">{{getData('geoList', 2, 'strong')}}</span><i v-bind="dKey('geoList#2#text')">{{getData('geoList', 2, 'text')}}</i></div>
          </div>
        </div>
        <div id="id-18" data-pos="57.5" data-speed="1.5" class="paralax right">
          <div class="c-block ma4">
            <div class="content-va"><span v-bind="dKey('geoList#3#strong')">{{getData('geoList', 3, 'strong')}}</span><i v-bind="dKey('geoList#3#text')">{{getData('geoList', 3, 'text')}}</i></div>
          </div>
        </div>
        <div id="id-19" data-pos="60" data-speed="1.5" class="paralax left">
          <div class="c-block ma5">
            <div class="content-va"><span v-bind="dKey('geoList#4#strong')">{{getData('geoList', 4, 'strong')}}</span><i v-bind="dKey('geoList#4#text')">{{getData('geoList', 4, 'text')}}</i></div>
          </div>
        </div>
        <div id="id-20" data-pos="62.5" data-speed="1.5" class="paralax right">
          <div class="c-block ma6">
            <div class="content-va"><span v-bind="dKey('geoList#5#strong')">{{getData('geoList', 5, 'strong')}}</span><i v-bind="dKey('geoList#5#text')">{{getData('geoList', 5, 'text')}}</i></div>
          </div>
        </div>
        <div id="id-21" data-pos="65" data-speed="1.5" class="paralax left">
          <div class="c-block ma7">
            <div class="content-va"><span v-bind="dKey('geoList#6#strong')">{{getData('geoList', 6, 'strong')}}</span><i v-bind="dKey('geoList#6#text')">{{getData('geoList', 6, 'text')}}</i></div>
          </div>
        </div>
        <div id="id-22" data-pos="67.5" data-speed="1.5" class="paralax right">
          <div class="c-block ma8">
            <div class="content-va"><span v-bind="dKey('geoList#7#strong')">{{getData('geoList', 7, 'strong')}}</span><i v-bind="dKey('geoList#7#text')">{{getData('geoList', 7, 'text')}}</i></div>
          </div>
        </div>
      </div>
    </section>

    <section class="flytry-title">
      <div class="container">
        <div class="title-fs">
          <h1 v-bind="dKey('capTitle')" class="text-center">{{info.capTitle}}</h1>
        </div>
      </div>
    </section>

    <section class="flytry-element">
      <div class="container has-paralax">
        <div id="id-23" data-pos="77" data-speed="1.5" class="paralax left">
          <div class="rond-r">
            <div class="clip-num align-middle">1</div>
            <div v-bind="dKey('capList#0')" class="clip-text align-middle">{{getData('capList', 0)}}</div>
          </div>
        </div>
        <div id="id-24" data-pos="79" data-speed="1.5" class="paralax right">
          <div class="rond-r">
            <div class="clip-num align-middle">2</div>
            <div v-bind="dKey('capList#1')" class="clip-text align-middle">{{getData('capList', 1)}}</div>
          </div>
        </div>
        <div id="id-25" data-pos="81" data-speed="1.5" class="paralax left">
          <div class="rond-r">
            <div class="clip-num align-middle">3</div>
            <div v-bind="dKey('capList#2')" class="clip-text align-middle">{{getData('capList', 2)}}</div>
          </div>
        </div>
        <div id="id-26" data-pos="83" data-speed="1.5" class="paralax right">
          <div class="rond-r">
            <div class="clip-num align-middle">4</div>
            <div v-bind="dKey('capList#3')" class="clip-text align-middle">{{getData('capList', 3)}}</div>
          </div>
        </div>
        <div id="id-27" data-pos="85" data-speed="1.5" class="paralax left">
          <div class="rond-r">
            <div class="clip-num align-middle">5</div>
            <div v-bind="dKey('capList#4')" class="clip-text align-middle">{{getData('capList', 4)}}</div>
          </div>
        </div>
        <div id="id-28" data-pos="87" data-speed="1.5" class="paralax right">
          <div class="rond-r">
            <div class="clip-num align-middle">6</div>
            <div v-bind="dKey('capList#5')" class="clip-text align-middle">{{getData('capList', 5)}}</div>
          </div>
        </div>
      </div>
    </section>

    <section class="conter-title">
      <div class="container">
        <div class="title-fs">
          <h1 v-bind="dKey('countTitle')" class="text-center">{{info.countTitle}}</h1>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="item-c">
              <div v-bind="dKey('countList#0#title')" class="title-c" v-html="getData('countList', 0, 'title')"></div>
              <div v-bind="dKey('countList#0#counter')" class="number-c">{{getData('countList', 0, 'counter')}}</div>
              <div v-bind="dKey('countList#0#text')" class="description-c" v-html="getData('countList', 0, 'text')"></div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="item-c">
              <div v-bind="dKey('countList#1#title')" class="title-c" v-html="getData('countList', 1, 'title')"></div>
              <div v-bind="dKey('countList#1#counter')" class="number-c">{{getData('countList', 1, 'counter')}}</div>
              <div v-bind="dKey('countList#1#text')" class="description-c" v-html="getData('countList', 1, 'text')"></div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="item-c">
              <div v-bind="dKey('countList#2#title')" class="title-c" v-html="getData('countList', 2, 'title')"></div>
              <div v-bind="dKey('countList#2#counter')" class="number-c">{{getData('countList', 2, 'counter')}}</div>
              <div v-bind="dKey('countList#2#text')" class="description-c" v-html="getData('countList', 2, 'text')"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <span v-if="$root.isAdmin()" v-bind="dKey('url')" class="hidden">{{url}}</span>
  </main>
</template>

<script>

import {HTTP} from '../http-common'

export default {
  name: 'ServiceSea',

  data() {
    return {
      url: 'sea-freight',
      animLoaded: false,
      info: {},
      postId: 0,
      pageName: 'service_page',
      errors: []
    }
  },

  mounted() {
    document.querySelectorAll('[data-key]').forEach(function(node){
      node.contentEditable = true
    })
  },

  created() {
    this.$root.$emit('service_page', true)

    this.getPost()
  },

  watch:{
    $route () {
      this.getPost()
    }
  },

  methods: {
    dKey(key, page, pageId) {
      return this.$root.dKey(key, page, pageId)
    },

    getData(key, index, field) {
      if (this.info[key] && this.info[key][index])
        return field ? this.info[key][index][field] : this.info[key][index]
      return ''
    },

    getPost() {
      let self = this

      HTTP.get('posts?filter=' + encodeURIComponent(JSON.stringify({
        where: {
          and: [
            {type: 'service_page'},
            {url: this.url},
            {language_id: this.$root.language_id}
          ]
        }
      }))).then(response => {
        if (response.data.length) {
          self.info = response.data[0].json.length ? JSON.parse(response.data[0].json) : {}
          self.info.title = response.data[0].title
          self.info.id =
          self.postId = response.data[0].id
          self.info.url = response.data[0].url

          document.querySelector('title').text = response.data[0].meta_title.length
            ? response.data[0].meta_title
            : 'Antwerk'

          document.querySelector('meta[name="description"]').text = response.data[0].meta_description.length
            ? response.data[0].meta_description
            : ''

          if (!self.animLoaded) {
            setTimeout(function(){
              window.frameFolder = 'sea';
              window.frameCount = 512;

              self.$root.scriptLoader('//assets.gtagency.de/js/img-anim.js?v=5.0', () => {
                self.animLoaded = true
              })
            }, 1000);
          }
        }
      }).catch(e => {
        self.errors.push(e)
      })
    }
  }
}

</script>
