<template>
  <main class="additional-service" v-bind="dKey('pageid', pageName, postId)">
    <div class="fixed-video"><img src="//assets.gtagency.de/vid/img/additional/small/0001.jpg" alt="" /></div>
    <section class="in1">
      <div class="container">
        <div class="hb1">
          <div class="hb-linr"></div>
          <div v-bind="dKey('title')" class="text-hb">{{info.title}}</div>
        </div>
        <div class="title-fs">
          <h1 v-bind="dKey('cTitle')" class="text-center" v-html="info.cTitle"></h1>
        </div>
      </div>
    </section>

    <section class="in2">
      <div class="container has-paralax">
        <div id="id-0" data-pos="5" data-speed="1.2" class="paralax left">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="68" height="47" viewBox="0 0 68 47"><defs><path id="g46sa" d="M547.77 255.683c0 3.481-2.77 6.317-6.176 6.317-1.662 0-3.227-.66-4.431-1.853a6.256 6.256 0 0 1-1.856-4.464c0-1.685.665-3.257 1.856-4.464a6.235 6.235 0 0 1 4.43-1.853c3.407 0 6.176 2.835 6.176 6.317zm-2.77 0c0-1.938-1.523-3.51-3.406-3.51-1.911 0-3.518 1.6-3.518 3.51 0 1.909 1.607 3.51 3.518 3.51 1.883 0 3.406-1.573 3.406-3.51zm2.367-23.556c.291.266.457.645.457 1.039v7.706c0 .773-.623 1.404-1.384 1.404h-11.271a1.398 1.398 0 0 1-1.385-1.404v-11.51c0-.773.623-1.405 1.385-1.405h7.103c.346 0 .679.127.928.365zm-2.312 1.656l-3.323-3.032h-5.179v8.718h8.502zm-31.099 21.9c0 3.481-2.77 6.317-6.176 6.317-1.661 0-3.226-.66-4.43-1.853a6.256 6.256 0 0 1-1.856-4.464c0-1.685.665-3.257 1.856-4.464a6.235 6.235 0 0 1 4.43-1.853c3.407 0 6.176 2.835 6.176 6.317zm-2.77 0c0-1.938-1.522-3.51-3.406-3.51-1.91 0-3.517 1.6-3.517 3.51 0 1.909 1.607 3.51 3.517 3.51 1.884 0 3.407-1.573 3.407-3.51zm-11.257-3.187c0 .772-.623 1.404-1.384 1.404h-4.168a1.399 1.399 0 0 1-1.385-1.404v-5.138c0-.772.623-1.404 1.385-1.404s1.385.632 1.385 1.404v3.734h2.783c.761 0 1.384.632 1.384 1.404zm4.251-7.65h-16.795A1.398 1.398 0 0 1 486 243.44c0-.772.623-1.403 1.385-1.403h16.795c.762 0 1.385.631 1.385 1.403a1.39 1.39 0 0 1-1.385 1.404zm-15.355-7.89c0-.772.623-1.39 1.384-1.39h.014l16.796.098c.761 0 1.385.632 1.37 1.418a1.407 1.407 0 0 1-1.398 1.39l-16.796-.098a1.381 1.381 0 0 1-1.37-1.418zm2.81-6.36c0-.772.624-1.403 1.385-1.403h16.796c.761 0 1.384.631 1.384 1.404 0 .772-.623 1.403-1.384 1.403H493.02a1.398 1.398 0 0 1-1.385-1.403zM554 231.2l-.11 21.282c0 .772-.624 1.39-1.385 1.39h-2.811a1.398 1.398 0 0 1-1.385-1.404c0-.772.623-1.404 1.385-1.404h1.44l.097-19.218-9.028-7.58h-11.16v26.826h2.783c.761 0 1.384.632 1.384 1.404 0 .772-.623 1.404-1.384 1.404h-16.907a1.398 1.398 0 0 1-1.385-1.404c0-.772.624-1.404 1.385-1.404h11.354v-33.284h-32.511v8.872c0 .772-.623 1.404-1.385 1.404a1.399 1.399 0 0 1-1.385-1.404v-10.276c0-.772.623-1.404 1.385-1.404h35.267c.762 0 1.385.632 1.385 1.404v5.054h11.658c.333 0 .637.112.887.323l9.914 8.324c.318.267.498.674.512 1.095z"/></defs><g><g transform="translate(-486 -215)"><use fill="#fff" xlink:href="#g46sa"/></g></g></svg>
            </div>
            <div class="bra-content"><span v-bind="dKey('cList#0')">{{getData('cList', 0)}}</span></div>
          </div>
        </div>
        <div id="id-1" data-pos="8" data-speed="1.2" class="paralax right">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="70" height="71" viewBox="0 0 70 71"><defs><path id="c7rwa" d="M1303.443 379.23a1.04 1.04 0 0 1 1.036 1.043 1.04 1.04 0 0 1-1.036 1.042 1.04 1.04 0 0 1-1.037-1.042 1.04 1.04 0 0 1 1.037-1.042zm11.191 0a1.04 1.04 0 0 1 1.036 1.043 1.04 1.04 0 0 1-1.036 1.042 1.04 1.04 0 0 1-1.036-1.042 1.04 1.04 0 0 1 1.036-1.042zm-2.349 7.712a1.04 1.04 0 0 1-1.036 1.042h-4.422a1.04 1.04 0 0 1-1.036-1.042 1.04 1.04 0 0 1 1.036-1.042h4.422a1.04 1.04 0 0 1 1.036 1.042zm22.679 38.779a5.39 5.39 0 0 1-4.427 2.279h-35.364a1.04 1.04 0 0 1-1.037-1.042 1.04 1.04 0 0 1 1.037-1.042h19.464c0-.023-.003-.046-.003-.07V421.4c0-1.8 1.456-3.265 3.247-3.265h4.047l-3.916-10.829a1.044 1.044 0 0 1 .62-1.335 1.034 1.034 0 0 1 1.328.623l4.206 11.632a3.267 3.267 0 0 1 2.488 3.174v4.446c0 .024-.003.047-.003.07h3.886a3.39 3.39 0 0 0 1.321-.266c1.608-.681 2.44-2.554 1.89-4.215l-8.105-24.454a3.382 3.382 0 0 0-3.212-2.327h-8.37l-4.123 7.256c-.39.687-1.41.687-1.8 0l-4.421-7.781a1.045 1.045 0 0 1 .385-1.422l.057-.029a14.312 14.312 0 0 1-4.267-2.47h-4.118a1.04 1.04 0 0 1-1.036-1.043v-3.404h-1.243v6.739a1.04 1.04 0 0 1-1.037 1.042 1.04 1.04 0 0 1-1.036-1.042v-7.009a2.156 2.156 0 0 1-1.105-1.883v-4.446c0-.81.447-1.516 1.105-1.884v-2.563c0-9.768 7.903-17.715 17.616-17.715 9.713 0 17.616 7.947 17.616 17.715v2.563a2.157 2.157 0 0 1 1.105 1.883v4.447c0 .81-.447 1.515-1.105 1.883v9.089c.412.507.74 1.094.954 1.742l8.106 24.454a5.455 5.455 0 0 1-.75 4.945zm-40.226-46.63h-2.28a.07.07 0 0 0-.069.07v4.447c0 .038.031.07.07.07h2.28zm12.09-13.199h4.42c6.318 0 11.518 4.898 12.045 11.116h1.288v-2.293c0-8.619-6.972-15.63-15.543-15.63-8.57 0-15.543 7.011-15.543 15.63v2.293h1.288c.527-6.218 5.727-11.116 12.044-11.116zm4.42 2.084h-4.42c-4.919 0-9.018 3.585-9.857 8.291l3.52-4.426a1.032 1.032 0 0 1 1.359-.233l7.257 4.562v-2.566c0-.808.919-1.315 1.597-.877l10.561 6.828v-1.505c0-5.555-4.493-10.073-10.016-10.074zm-13.388 20.147c-.38-.478-.731-.982-1.05-1.508v1.508zm13.774 6.6h-5.192l2.596 4.569zm9.34-12.88l-9.794-6.33v2.537c0 .802-.907 1.31-1.586.883l-8.06-5.066-4.526 5.69a1.046 1.046 0 0 1-.197.189v.024c.011.052.02.104.023.16a12.272 12.272 0 0 0 3.838 8.193h3.945a1.04 1.04 0 0 1 1.036 1.042 1.04 1.04 0 0 1-1.036 1.042h-.94c1.623.8 3.443 1.25 5.361 1.25 5.763 0 10.7-4.011 11.936-9.613zm3.608 11.17v-7.252h-2.28c-.177 0-.344-.045-.49-.123a14.308 14.308 0 0 1-7.596 6.931h8.215c.757 0 1.485.157 2.15.444zm1.105-13.852a.07.07 0 0 0-.07-.07h-2.28v4.586h2.28a.07.07 0 0 0 .07-.07zm-1.106 46.685V421.4c0-.65-.525-1.18-1.171-1.18H1317.88c-.647 0-1.174.529-1.174 1.18v4.446c0 .039.03.07.069.07h1.174v-1.181a1.04 1.04 0 0 1 1.037-1.042 1.04 1.04 0 0 1 1.036 1.042v1.18h1.243v-1.18a1.04 1.04 0 0 1 1.037-1.042 1.04 1.04 0 0 1 1.036 1.042v1.18h1.174a.07.07 0 0 0 .07-.069zm-15.543-19.938a1.04 1.04 0 0 1 1.037 1.042 1.04 1.04 0 0 1-1.037 1.042 1.04 1.04 0 0 1-1.036-1.042 1.04 1.04 0 0 1 1.036-1.042zm0 4.516a1.04 1.04 0 0 1 1.037 1.042 1.04 1.04 0 0 1-1.037 1.042 1.04 1.04 0 0 1-1.036-1.042 1.04 1.04 0 0 1 1.036-1.042zm0 4.515a1.04 1.04 0 0 1 1.037 1.042 1.04 1.04 0 0 1-1.037 1.043 1.04 1.04 0 0 1-1.036-1.043 1.04 1.04 0 0 1 1.036-1.042zm-5.596-4.654c0 9.768-8.398 17.715-18.72 17.715-2.884 0-5.649-.604-8.22-1.795-.52-.24-.747-.86-.508-1.382.24-.523.854-.751 1.374-.51a17.369 17.369 0 0 0 7.353 1.603c9.18 0 16.649-7.012 16.649-15.631 0-3.593-1.331-7.102-3.748-9.88a1.047 1.047 0 0 1-.214-.982l1.215-4.138-4.536 1.636a1.03 1.03 0 0 1-.853-.07c-2.567-1.438-5.51-2.197-8.513-2.197-9.18 0-16.649 7.012-16.649 15.63 0 4.51 2.076 8.8 5.696 11.772.443.364.51 1.02.147 1.467a1.032 1.032 0 0 1-1.458.148c-4.103-3.37-6.457-8.248-6.457-13.386 0-9.768 8.398-17.715 18.721-17.715 3.193 0 6.33.77 9.102 2.232l6.023-2.171a1.032 1.032 0 0 1 1.061.223c.284.27.393.676.282 1.053l-1.635 5.568c2.512 3.085 3.888 6.901 3.888 10.81zm-12.19 8.404c-.346 1.394-1.568 3.753-3.952 3.753h-2.579c-2.197 0-3.984-1.797-3.984-4.006v-8.151a1.04 1.04 0 0 1 1.037-1.042h5.526a1.04 1.04 0 0 1 1.036 1.042v6.669c0 .243.197.44.438.44h1.474a1.05 1.05 0 0 1 1.005 1.295zm-2.601.786a2.521 2.521 0 0 1-2.387-2.521v-5.627h-3.454v7.11c0 1.059.857 1.921 1.911 1.921h2.58c.59 0 1.035-.415 1.35-.883zm.422-15.86c0 2.414-1.952 4.377-4.352 4.377-2.4 0-4.352-1.963-4.352-4.377 0-2.413 1.952-4.376 4.352-4.376 2.4 0 4.352 1.963 4.352 4.376zm-2.072 0a2.289 2.289 0 0 0-2.28-2.292 2.289 2.289 0 0 0-2.28 2.292 2.289 2.289 0 0 0 2.28 2.293 2.289 2.289 0 0 0 2.28-2.293z"/></defs><g><g transform="translate(-1266 -357)"><use fill="#fff" xlink:href="#c7rwa"/></g></g></svg>
            </div>
            <div class="bra-content"><span v-bind="dKey('cList#1')">{{getData('cList', 1)}}</span></div>
          </div>
        </div>
        <div id="id-2" data-pos="11" data-speed="1.2" class="paralax left">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="70" height="60" viewBox="0 0 70 60"><defs><path id="yv1pa" d="M1336 366.53v42.352c-.002 1.949-1.568 3.528-3.5 3.53h-11.764C1319.77 418.436 1311.451 423 1301 423c-10.45 0-18.77-4.564-19.736-10.588H1269.5c-1.932-.002-3.498-1.581-3.5-3.53V366.53c.002-1.948 1.568-3.527 3.5-3.53h63c1.932.003 3.498 1.582 3.5 3.53zm-17.5 44.705c0-5.101-8.014-9.411-17.5-9.411s-17.5 4.31-17.5 9.411c0 5.102 8.014 9.412 17.5 9.412s17.5-4.31 17.5-9.412zm15.167-2.353V366.53c-.001-.65-.523-1.175-1.167-1.176h-63c-.644 0-1.166.527-1.167 1.176v42.353c.001.65.523 1.176 1.167 1.177h11.764c.965-6.025 9.285-10.589 19.736-10.589 10.45 0 18.77 4.564 19.736 10.589h11.764c.644-.001 1.166-.527 1.167-1.177zm-26.894-36.778c.139.418.034.88-.271 1.195l-1.922 1.986.455 2.82a1.18 1.18 0 0 1-.479 1.15c-.365.26-.845.287-1.236.068l-2.32-1.293-2.32 1.293a1.158 1.158 0 0 1-1.236-.067 1.18 1.18 0 0 1-.48-1.152l.456-2.819-1.922-1.986a1.184 1.184 0 0 1-.27-1.195 1.17 1.17 0 0 1 .93-.79l2.608-.402 1.178-2.53a1.166 1.166 0 0 1 1.056-.676c.452 0 .864.263 1.056.676l1.178 2.53 2.609.402c.432.067.791.372.93.79zm-3.527 1.19l-.98-.15a1.17 1.17 0 0 1-.88-.664l-.386-.829-.386.829a1.168 1.168 0 0 1-.88.664l-.98.15.747.773c.26.267.377.643.317 1.011l-.164 1.014.781-.435a1.157 1.157 0 0 1 1.13 0l.78.435-.163-1.014c-.06-.368.057-.744.316-1.01zm-8.957 7.28a1.173 1.173 0 0 1-.826.929l-2.547.74-.734 2.568a1.17 1.17 0 0 1-1.121.851c-.375 0-.728-.182-.947-.49l-1.655-2.318-2.752-.034a1.165 1.165 0 0 1-1.03-.651 1.185 1.185 0 0 1 .105-1.222l1.563-2.144-.941-2.63a1.183 1.183 0 0 1 .272-1.23 1.16 1.16 0 0 1 1.221-.275l2.607.949 2.127-1.577c.352-.26.82-.301 1.211-.105.391.197.64.598.646 1.039l.034 2.775 2.3 1.669c.362.263.544.712.467 1.156zm-3.78-.662l-.828-.6a1.178 1.178 0 0 1-.485-.94l-.013-1.08-.799.592a1.153 1.153 0 0 1-1.087.159l-.854-.31.308.86c.132.37.073.78-.157 1.097l-.588.805 1.07.013c.371.005.717.187.933.49l.596.834.247-.866c.11-.389.412-.692.798-.804zm-2.488 10.16l-1.283 2.34 1.283 2.339c.216.394.19.878-.067 1.247-.258.368-.701.556-1.142.483l-2.796-.46-1.97 1.939a1.16 1.16 0 0 1-1.185.273 1.174 1.174 0 0 1-.782-.938l-.4-2.63-2.508-1.188a1.177 1.177 0 0 1-.671-1.065c0-.456.261-.871.67-1.065l2.51-1.188.399-2.63c.065-.437.367-.799.782-.939a1.16 1.16 0 0 1 1.185.274l1.97 1.938 2.796-.46a1.16 1.16 0 0 1 1.142.483c.257.369.283.853.067 1.248zm-3.636 1.77l.432-.787-1.006.165a1.165 1.165 0 0 1-1.002-.319l-.767-.754-.15.988c-.059.388-.305.721-.657.888l-.823.389.822.389c.353.167.6.5.658.887l.15.989.766-.754c.266-.26.638-.379 1.003-.32l1.005.166-.431-.788a1.185 1.185 0 0 1 0-1.138zm40.97-1.77l-1.283 2.34 1.282 2.339c.217.394.19.878-.067 1.247-.257.368-.7.556-1.142.483l-2.796-.46-1.97 1.939a1.16 1.16 0 0 1-1.185.273 1.174 1.174 0 0 1-.782-.938l-.399-2.63-2.509-1.188a1.177 1.177 0 0 1-.67-1.065c0-.456.26-.871.67-1.065l2.51-1.188.398-2.63c.066-.437.368-.799.782-.939a1.16 1.16 0 0 1 1.186.274l1.97 1.938 2.795-.46a1.16 1.16 0 0 1 1.142.483c.257.369.284.853.067 1.248zm-3.637 1.77l.432-.787-1.005.165a1.165 1.165 0 0 1-1.003-.319l-.767-.754-.15.988c-.058.388-.305.721-.657.888l-.822.389.822.389c.352.167.599.5.658.887l.149.989.767-.754c.265-.26.637-.379 1.002-.32l1.006.166-.432-.788a1.184 1.184 0 0 1 0-1.138zm-7.816-9.256l-2.606.95a1.16 1.16 0 0 1-1.221-.275 1.184 1.184 0 0 1-.273-1.232l.941-2.628-1.563-2.145c-.259-.355-.3-.827-.104-1.222a1.166 1.166 0 0 1 1.03-.651l2.752-.034 1.655-2.319a1.162 1.162 0 0 1 2.068.362l.734 2.568 2.547.74a1.18 1.18 0 0 1 .358 2.085l-2.3 1.669-.033 2.775a1.177 1.177 0 0 1-.646 1.039c-.392.197-.86.156-1.212-.105zm-.207-2.426a1.157 1.157 0 0 1 1.087.159l.8.592.013-1.08c.004-.373.184-.722.485-.94l.827-.6-.858-.25a1.172 1.172 0 0 1-.798-.805l-.248-.865-.595.834a1.163 1.163 0 0 1-.932.49l-1.072.013.588.805c.23.316.29.728.157 1.097l-.308.861zm-15.028 27.546h-3.5v2.353h2.333c.644 0 1.167.527 1.167 1.176 0 .65-.523 1.177-1.167 1.177h-2.333v2.353h3.5c.644 0 1.166.526 1.166 1.176 0 .65-.522 1.177-1.166 1.177H1294a1.172 1.172 0 0 1-1.167-1.177v-9.412c0-.65.523-1.176 1.167-1.176h4.667c.644 0 1.166.527 1.166 1.176 0 .65-.522 1.177-1.166 1.177zm10.5-1.177v7.06c-.002 1.948-1.568 3.527-3.5 3.529h-1.167c-1.932-.002-3.498-1.581-3.5-3.53v-7.059c0-.65.522-1.176 1.167-1.176.644 0 1.166.527 1.166 1.176v7.06c.001.649.523 1.175 1.167 1.176h1.167c.644-.001 1.166-.527 1.166-1.177v-7.059c0-.65.523-1.176 1.167-1.176s1.167.527 1.167 1.176z"/></defs><g><g transform="translate(-1266 -363)"><use fill="#fff" xlink:href="#yv1pa"/></g></g></svg>
            </div>
            <div class="bra-content"><span v-bind="dKey('cList#2')">{{getData('cList', 2)}}</span></div>
          </div>
        </div>
        <div id="id-3" data-pos="14" data-speed="1.2" class="paralax right">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="66" height="66" viewBox="0 0 66 66"><defs><path id="2rdea" d="M533.774 587.258v13.839H501.84v-13.839zm-2.129 2.13h-27.677v9.58h27.677zM507.161 616h21.29v2.129h-21.29zm2.13-8.516h6.386v2.129h-6.387zm10.644 0h6.387v2.129h-6.387zm-10.645 4.258h6.387v2.129h-6.387zm10.645 0h6.387v2.129h-6.387zm-3.193 12.774h17.032v2.13h-17.032zm10.645 4.258h6.387v2.13h-6.387zm-10.645 0h6.387v2.13h-6.387zm28.742-15.968a3.19 3.19 0 0 1-2.13 2.998v2.325h-2.128v-2.325a3.19 3.19 0 0 1-2.13-2.998h2.13a1.066 1.066 0 0 0 2.129 0c0-.586-.477-1.064-1.065-1.064a3.197 3.197 0 0 1-3.193-3.194 3.19 3.19 0 0 1 2.129-2.997v-2.325h2.129v2.325a3.19 3.19 0 0 1 2.129 2.997h-2.13a1.066 1.066 0 0 0-2.128 0c0 .587.477 1.065 1.064 1.065a3.197 3.197 0 0 1 3.194 3.193zm2.129-3.193h2.129v2.129h-2.13zm-12.774 0h2.129v2.129h-2.13zm15.466 6.316a9.546 9.546 0 0 0 1.566-5.252c0-5.282-4.298-9.58-9.58-9.58-5.284 0-9.581 4.298-9.581 9.58 0 5.283 4.297 9.581 9.58 9.581 2.565 0 4.975-1 6.786-2.817l1.507 1.503a11.626 11.626 0 0 1-8.293 3.443c-1.108 0-2.177-.165-3.193-.453v11.098h8.516v5.323a5.329 5.329 0 0 1-5.323 5.322h-39.387V649H488v-10.645h3.052l-.882-7.057a5.48 5.48 0 0 1-.041-.66v-9.05c0-.22.015-.441.041-.66l.886-7.092c.131-1.04.546-1.925 1.149-2.46l4.311-5.541v-7.932H488v-9.58a5.329 5.329 0 0 1 5.323-5.323h40.451a5.329 5.329 0 0 1 5.323 5.323v11.098a11.672 11.672 0 0 1 3.193-.453c6.457 0 11.71 5.253 11.71 11.71 0 2.29-.662 4.51-1.915 6.42zm-53.789-20.155v-7.451a3.197 3.197 0 0 0-3.193-3.194 3.197 3.197 0 0 0-3.194 3.194v7.451zm-4.258 34.864c0 .132.008.265.024.397l.916 7.32h5.447v-5.763l8.167-8.167a1.195 1.195 0 0 0-1.688-1.688l-4.974 4.973h-2.57v-2.13h.407l-.91-1.818a5.372 5.372 0 0 1-.56-2.38v-6.146c0-1.116.342-2.186.991-3.093l4.13-5.782c.131-.184.2-.402.2-.628v-.362c0-.596-.484-1.08-1.08-1.08-.225 0-.515.057-.752.5l-.1.153-6.273 8.013c-.172.134-.39.549-.465 1.144l-.886 7.09a3.272 3.272 0 0 0-.024.397zm8.516 9.846H490.13v6.387h10.645zm6.387-5.323v3.194a5.294 5.294 0 0 1-1.066 3.193h36.195a3.197 3.197 0 0 0 3.194-3.193v-3.194zm29.807-46.838a3.197 3.197 0 0 0-3.194-3.194h-36.221a5.268 5.268 0 0 1 1.092 3.194v14.747a2.854 2.854 0 0 1 2.113-.909c1.77 0 3.21 1.44 3.21 3.209v.362c0 .674-.207 1.319-.598 1.865l-4.13 5.782a3.177 3.177 0 0 0-.595 1.857v6.146c0 .493.116.987.337 1.429l1.02 2.037 3.617-3.617a3.344 3.344 0 0 1 2.349-.973 3.326 3.326 0 0 1 3.322 3.322c0 .888-.345 1.723-.973 2.35l-7.543 7.543v4.882h2.13v2.997a3.19 3.19 0 0 0 2.128-2.997v-5.323h31.936v-11.937c-3.786-1.943-6.387-5.879-6.387-10.418s2.601-8.474 6.387-10.417z"/></defs><g><g transform="translate(-488 -583)"><use fill="#fff" xlink:href="#2rdea"/></g></g></svg>
            </div>
            <div class="bra-content"><span v-bind="dKey('cList#3')">{{getData('cList', 3)}}</span></div>
          </div>
        </div>
        <div id="id-4" data-pos="17" data-speed="1.2" class="paralax left">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="57" height="57" viewBox="0 0 57 57"><defs><path id="myfua" d="M547 255v-30.84h-8.412c-.493 0-.588-.667-.588-1.16v-8c0-.01 0-.005 0 0h-19v6c0 .493-.863 1.257-1.356 1.257a.892.892 0 0 1-.892-.893v-8.687c0-.492-.26-.677-.752-.677h-21c-.492 0-1 .508-1 1v29c0 .492.508 0 1 0h21c.492 0 .751-.033.751-.525v-15.351c0-.493.4-.893.893-.893s1.356.276 1.356.769v15c0 1.476-1.665 3.152-3.141 3.152L504 244v21h43l.215-5.556a.892.892 0 1 1 1.785 0v6.663c0 .494-.4.893-.893.893h-45.695c-.493 0-.412-.507-.412-1v-22l-7.323.152a2.68 2.68 0 0 1-2.677-2.677v-28.798a2.68 2.68 0 0 1 2.677-2.677h21.182a2.68 2.68 0 0 1 2.677 2.677L519 213h20c.237 0 .051-.05.219.117l9.52 9.52a.893.893 0 0 1 .261.631v31.416c0 .493-.4.892-.893.892S547 255.493 547 255zm-9-40c0 .01 0 .005 0 0zm9 9.005V224c-.002 0-.002.002 0 .005zM545 222l-5-5v5zm-30.033 29.828c0 .493-.4.892-.893.892h-5.95a.892.892 0 1 1 0-1.785h5.95c.493 0 .893.4.893.893zm0 4.76c0 .493-.4.892-.893.892h-5.95a.892.892 0 1 1 0-1.785h5.95c.493 0 .893.4.893.893zm30.225-5.712c0 7.316-5.952 13.268-13.268 13.268-7.316 0-13.268-5.952-13.268-13.268 0-2.13.517-4.248 1.495-6.125a.893.893 0 0 1 1.583.825 11.352 11.352 0 0 0-1.294 5.3c0 6.332 5.152 11.483 11.484 11.483s11.483-5.151 11.483-11.483c0-6.332-5.151-11.484-11.483-11.484-3.157 0-6.1 1.255-8.287 3.534a.892.892 0 1 1-1.288-1.236 13.156 13.156 0 0 1 9.575-4.083c7.316 0 13.268 5.953 13.268 13.269zm-8.568 1.904v2.975a2.68 2.68 0 0 1-2.677 2.677h-1.369v1.011a.892.892 0 1 1-1.785 0v-1.011h-2.677a.892.892 0 1 1 0-1.785h2.677v-4.852l-.907-.027a2.68 2.68 0 0 1-2.663-2.677v-3.094a2.68 2.68 0 0 1 2.678-2.678h.892v-1.011a.892.892 0 1 1 1.785 0v1.011h3.154a.892.892 0 1 1 0 1.785h-3.154v4.957l1.383.041a2.68 2.68 0 0 1 2.663 2.678zm-5.83-2.77v-4.906h-.893c-.492 0-.893.4-.893.893v3.094a.893.893 0 0 0 .92.893l.865.025zm4.045 2.77a.893.893 0 0 0-.919-.893l-1.342-.04v4.8h1.369c.492 0 .892-.4.892-.892zM516 214v4c0 .493-.506 1-1 1H496c-.493 0-1.144.001-1.144-.492v-4.76c0-.493.4-.892.892-.892h19.04c.493 0 1.212.651 1.212 1.144zm-2 3h-.079l-.024.616zm-.079 0l.08-2h-17v2zm-13.471 4.364v3.808c0 .493-.4.893-.893.893h-3.808a.892.892 0 0 1-.892-.893v-3.808c0-.493.4-.892.892-.892h3.808c.493 0 .893.4.893.892zm-1.785.893h-2.023v2.023h2.023zm9.4-.893v3.808c0 .493-.399.893-.892.893h-3.808a.892.892 0 0 1-.892-.893v-3.808c0-.493.4-.892.892-.892h3.808c.493 0 .893.4.893.892zm-1.784.893h-2.023v2.023h2.023zm9.4-.893v3.808c0 .493-.399.893-.892.893h-3.808a.892.892 0 0 1-.892-.893v-3.808c0-.493.4-.892.892-.892h3.808c.493 0 .893.4.893.892zm-1.784.893h-2.023v2.023h2.023zm-13.447 6.723v3.808c0 .493-.4.893-.893.893h-3.808a.892.892 0 0 1-.892-.893v-3.808c0-.493.4-.892.892-.892h3.808c.493 0 .893.4.893.892zm-1.785.893h-2.023v2.023h2.023zm9.4-.893v3.808c0 .493-.399.893-.892.893h-3.808a.892.892 0 0 1-.892-.893v-3.808c0-.493.4-.892.892-.892h3.808c.493 0 .893.4.893.892zm-1.784.893h-2.023v2.023h2.023zm-5.831 6.723v3.808c0 .493-.4.893-.893.893h-3.808a.892.892 0 0 1-.892-.893v-3.808c0-.493.4-.892.892-.892h3.808c.493 0 .893.399.893.892zm-1.785.893h-2.023v2.023h2.023zm9.4-.893v3.808c0 .493-.399.893-.892.893h-3.808a.892.892 0 0 1-.892-.893v-3.808c0-.493.4-.892.892-.892h3.808c.493 0 .893.399.893.892zm-1.784.893h-2.023v2.023h2.023zm9.4-8.509v11.424c0 .493-.399.893-.892.893h-3.808a.892.892 0 0 1-.892-.893V228.98c0-.493.4-.892.892-.892h3.808c.493 0 .893.4.893.892zm-1.784.893h-2.023v9.639h2.023zm31.034 2.45l-1.388 1.39.126.125a2.68 2.68 0 0 1 0 3.787l-.168.168a2.669 2.669 0 0 1-1.893.783 2.67 2.67 0 0 1-1.893-.783l-14.22-14.22a.892.892 0 0 1-.245-.457l-.582-2.912c-.061-.04-1.897-2.048-1.897-2.048a.893.893 0 0 1 1.323-1.2l1.592 1.756 3.307.662c.173.034.331.12.456.244l12.832 12.832.74-.74-4.197-3.987a.892.892 0 1 1 1.23-1.294l4.86 4.616c.36.341.367.929.017 1.279zm-9.382-1.22l1.43-1.43-8.601-8.602-1.788-.357.357 1.788zm6.858 3.997l-4.165-4.165-1.43 1.43 4.165 4.166a.894.894 0 0 0 1.262 0l.168-.168a.894.894 0 0 0 0-1.263z"/></defs><g><g transform="translate(-492 -210)"><use fill="#fff" xlink:href="#myfua"/></g></g></svg>
            </div>
            <div class="bra-content"><span v-bind="dKey('cList#4')">{{getData('cList', 4)}}</span></div>
          </div>
        </div>
        <div id="id-5" data-pos="20" data-speed="1.2" class="paralax right">
          <div class="braund">
            <div class="bra-top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="72" viewBox="0 0 64 72"><defs><path id="26zba" d="M1320.559 366.773c0 .583.022.227-.559.227h-27c-.58 0-1.028.356-1.028-.227 0-.582.447-1.773 1.028-1.773h27c.58 0 .559 1.19.559 1.773zm0 7.847c0 .583.022.38-.559.38h-27c-.58 0-1.028.203-1.028-.38 0-.582.447-1.62 1.028-1.62h27c.58 0 .559 1.038.559 1.62zm0 7.847c0 .583.022.533-.559.533h-11c-.58 0-1.272.05-1.272-.533 0-.582.691-1.467 1.272-1.467h11c.58 0 .559.885.559 1.467zm12.44 6.336v32.752c0 1.701-1.303 2.445-2.999 2.445h-26c-.58 0-1.128.168-1.128-.414 0-.583.547-1.586 1.128-1.586h26c.536 0 .897.093.897-.445v-32.752a.975.975 0 0 0-.973-.975h-2.379l.455.172h-21c-1.167 0-2.585-.853-3.097-1.905l-2.556-5.259c-.162-.333.022-.836-.347-.836h-18c-.537 0-1 .462-1 1v9c0 .582-.837 1.359-1.418 1.359-.58 0-.582-.777-.582-1.359v-9c0-1.701 1.304-3 3-3h1l-.066-5.193h-6.869a1.05 1.05 0 0 1-.83-.41 1.057 1.057 0 0 1-.188-.908l3.038-11.83a3.533 3.533 0 0 1 3.417-2.659h41.322c2.631 0 5.176 2.36 5.176 5v8c0 .582-.874 1.456-1.455 1.456-.58 0-.545.126-.545-.456v-9c0-1.477-1.528-3-3-3h-38c.002.005-.261.12-.259.125.018.04.035.081.05.122l.017.042.046.13.013.038c.015.046.028.092.041.139l.01.033.036.15.005.026c.012.055.022.11.031.166l.003.012c.029.183.044.37.044.56V371.76L1286 378h14c1.167 0 2.725.859 3.237 1.911l2.556 5.26c.162.332.838.829 1.207.829h20v-11c0-.583-.036-1.434.545-1.434.58 0 1.455.851 1.455 1.434v11l.924-.282a3.084 3.084 0 0 1 3.076 3.085zm-54.577-18.106zm0 0h5.512v-10.153c0-.791-.64-1.435-1.43-1.435a1.43 1.43 0 0 0-1.383 1.077zm19.274 55.13a18.225 18.225 0 0 1-10.314 3.173c-1.156 0-2.299-.107-3.417-.318a18.225 18.225 0 0 1-6.896-2.855 18.462 18.462 0 0 1-8.069-15.271c0-10.169 8.246-18.442 18.382-18.442 10.136 0 18.383 8.273 18.383 18.442 0 6.12-3.017 11.828-8.07 15.27zm-13.627-5.969l3.313 5.216 3.314-5.216-.02-.002-.07-.005-.125-.008c-.036-.001-.062-.001-.092-.003a4.749 4.749 0 0 0-.206-.004h-5.602a4.76 4.76 0 0 0-.206.004l-.09.003-.107.007-.092.007-.017.001zm8.74.6l-4.05 6.372c.013 0 .025-.002.037-.003.119-.01.237-.02.355-.033l.246-.03c.112-.014.225-.028.337-.044.084-.012.167-.026.251-.04a16.239 16.239 0 0 0 .901-.17 15.808 15.808 0 0 0 1.381-.369c.105-.032.209-.067.313-.102.08-.027.16-.054.24-.083.106-.037.21-.076.314-.116.078-.03.156-.058.233-.089.107-.042.214-.087.32-.132.073-.03.146-.06.22-.093.112-.05.224-.101.335-.153l.195-.091c.131-.063.262-.13.392-.197l.13-.067c.174-.092.346-.186.516-.284l.104-.062c.125-.074.25-.148.373-.225a5.958 5.958 0 0 0-3.144-3.99zm-13.997 3.99c.12.074.242.146.364.218l.115.069c.17.097.34.192.513.283l.14.071c.128.066.255.13.383.193.066.032.133.062.2.093.11.051.22.103.33.152.075.032.15.062.223.094.106.044.21.088.317.13.078.031.156.06.235.09.103.04.207.078.311.116l.243.083a16.066 16.066 0 0 0 1.439.412 17.614 17.614 0 0 0 .828.174c.108.02.217.037.326.055l.252.04c.112.016.224.03.337.044l.246.03c.117.012.235.022.353.032l.038.004-4.049-6.373a5.956 5.956 0 0 0-3.144 3.99zm24.85-13.892c0-9.006-7.303-16.333-16.28-16.333-8.976 0-16.28 7.327-16.28 16.333 0 4.896 2.181 9.494 5.901 12.585a8.068 8.068 0 0 1 4.932-4.96.99.99 0 0 1 .101-.04 8.1 8.1 0 0 1 .284-.089l.032-.01a.973.973 0 0 1 .05-.014l.23-.061.022-.006a7.336 7.336 0 0 1 .277-.063l.01-.002c.173-.036.348-.066.523-.09l.097-.015.045-.006.074-.007c.125-.015.25-.025.376-.034l.114-.007.043-.002c.123-.006.245-.01.368-.01h5.602c.128 0 .255.005.382.01l.024.002.185.011.105.009c.094.008.185.017.276.028l.063.008.195.029c.135.02.27.045.403.073l.017.003c.058.012.115.026.173.04l.103.023.012.003a42.938 42.938 0 0 1 .324.088 8 8 0 0 1 .284.09c.034.011.069.025.101.04a8.068 8.068 0 0 1 4.931 4.96c3.72-3.092 5.901-7.69 5.901-12.586zm-8.673-6.311c.007.135.011.27.011.407v3.177c0 4.214-3.417 7.643-7.618 7.643-4.2 0-7.618-3.43-7.618-7.643v-3.177c0-4.214 3.417-7.643 7.618-7.643.142 0 .282.005.422.013.056.003.112.008.168.013.082.006.163.012.244.021a7.55 7.55 0 0 1 1.028.185c.066.017.131.036.196.054.065.019.13.036.195.056.127.04.252.082.376.128.031.011.062.025.093.037.103.04.205.08.306.125l.102.046c.098.045.195.091.291.14l.054.025.022.012c.02.01.041.02.062.032l.051.028.046.025.063.035.022.012c.033.02.067.038.1.057l.094.057.022.014.022.013a7.487 7.487 0 0 1 .256.164l.021.015h.001a6.945 6.945 0 0 1 .233.164l.06.046.01.008.095.071.083.065.104.086.002.001.07.058a1.52 1.52 0 0 1 .074.064c.03.025.057.052.085.078a7.068 7.068 0 0 1 .287.27l.079.08c.064.067.129.133.19.201l.04.046c.293.327.555.677.785 1.045l.072.114c.036.06.07.123.105.184l.09.162c.029.054.056.108.083.162a7.661 7.661 0 0 1 .307.694 7.64 7.64 0 0 1 .214.643l.029.1c.026.097.05.196.072.295.007.03.015.06.021.091.022.102.041.205.059.308l.015.087c.017.104.03.21.043.315.003.029.008.057.01.086.012.109.02.218.028.328l.005.077zm-7.606-5.126c-.095 0-.189.002-.282.007-.033.001-.066.005-.099.007-.06.004-.12.008-.18.014l-.11.014-.163.02-.118.022-.152.027c-.04.008-.08.019-.122.028l-.143.033c-.04.01-.08.023-.121.034l-.139.04-.121.04c-.045.016-.09.03-.133.046l-.12.047c-.044.017-.087.033-.13.051l-.118.053c-.042.019-.084.037-.124.057-.04.019-.078.04-.117.059l-.12.061c-.039.021-.076.044-.114.066-.039.022-.078.043-.116.066l-.111.07-.112.073c-.036.024-.072.05-.108.076l-.107.076-.105.082c-.035.026-.07.053-.103.08l-.101.087-.098.086c-.034.03-.066.06-.098.092-.032.03-.063.058-.094.089l-.093.096-.09.094-.088.1-.084.099c-.03.034-.057.07-.085.104l-.08.102-.079.11-.075.105-.074.112-.07.11-.068.116c-.022.038-.044.075-.065.114-.022.039-.043.079-.063.119l-.06.117-.058.122-.054.12a5.823 5.823 0 0 0-.051.125l-.05.124a5.017 5.017 0 0 0-.087.255l-.04.13a6.045 6.045 0 0 0-.036.13c-.012.043-.023.088-.033.132l-.03.132a5.183 5.183 0 0 0-.071.406 5.622 5.622 0 0 0-.05.642 6.72 6.72 0 0 0 2.106.336 6.79 6.79 0 0 0 5.04-2.25 1.05 1.05 0 0 1 1.662.132 4.618 4.618 0 0 0 2.218 1.81 5.157 5.157 0 0 0-.01-.255l-.008-.111a5.31 5.31 0 0 0-.017-.183l-.012-.096a5.542 5.542 0 0 0-.086-.483l-.017-.07a5.376 5.376 0 0 0-.055-.213l-.018-.062a5.782 5.782 0 0 0-.067-.213l-.02-.06a5.83 5.83 0 0 0-.079-.21l-.023-.057a5.824 5.824 0 0 0-.089-.204l-.026-.058a5.795 5.795 0 0 0-.099-.198l-.03-.058a5.769 5.769 0 0 0-.114-.202c-.01-.015-.017-.03-.026-.045a5.507 5.507 0 0 0-.148-.231c-.025-.037-.05-.072-.076-.107-.028-.04-.055-.08-.085-.118-.029-.04-.06-.077-.09-.116-.027-.034-.054-.069-.082-.102a5.764 5.764 0 0 0-.096-.111c-.03-.034-.059-.068-.089-.1a5.291 5.291 0 0 0-.294-.296 5.921 5.921 0 0 0-.116-.106l-.114-.1-.047-.037a5.67 5.67 0 0 0-.156-.124l-.05-.037a5.677 5.677 0 0 0-.162-.116c-.016-.01-.032-.022-.047-.033a5.632 5.632 0 0 0-.187-.12l-.049-.03a5.646 5.646 0 0 0-.16-.092l-.065-.036-.119-.061a5.526 5.526 0 0 0-.232-.112l-.058-.026a5.449 5.449 0 0 0-.239-.097l-.052-.021a5.498 5.498 0 0 0-.275-.094l-.139-.04c-.048-.013-.095-.027-.143-.039a5.345 5.345 0 0 0-.451-.093 5.655 5.655 0 0 0-.143-.022l-.15-.019a5.701 5.701 0 0 0-.176-.015l-.122-.01a5.349 5.349 0 0 0-.305-.008zm5.515 8.709v-1.053a6.67 6.67 0 0 1-3.207-1.882 8.888 8.888 0 0 1-5.715 2.09 8.83 8.83 0 0 1-2.11-.256v1.101c0 3.051 2.475 5.534 5.516 5.534 3.042 0 5.516-2.483 5.516-5.534z"/></defs><g><g transform="translate(-1269 -357)"><use fill="#fff" xlink:href="#26zba"/></g></g></svg>
            </div>
            <div class="bra-content"><span v-bind="dKey('cList#5')">{{getData('cList', 5)}}</span></div>
          </div>
        </div>
      </div>
    </section>

    <section class="in1">
      <div class="container">
        <div class="title-fs">
          <h1 class="text-center" v-bind="dKey('sTitle')">{{info.sTitle}}</h1>
        </div>
      </div>
    </section>

    <section class="in3">
      <div class="container has-paralax">
        <div id="id-6" data-pos="35" data-speed="1.5" class="paralax left">
          <div class="rond-r">
            <div class="clip-num align-middle">1</div>
            <div class="clip-text align-middle" v-bind="dKey('sList#0')">{{getData('sList', 0)}}</div>
          </div>
        </div>
        <div id="id-7" data-pos="38" data-speed="1.5" class="paralax right">
          <div class="rond-r">
            <div class="clip-num align-middle">2</div>
            <div class="clip-text align-middle" v-bind="dKey('sList#1')">{{getData('sList', 1)}}</div>
          </div>
        </div>
        <div id="id-8" data-pos="41" data-speed="1.5" class="paralax left">
          <div class="rond-r">
            <div class="clip-num align-middle">3</div>
            <div class="clip-text align-middle" v-bind="dKey('sList#2')">{{getData('sList', 2)}}</div>
          </div>
        </div>
        <div id="id-9" data-pos="44" data-speed="1.5" class="paralax right">
          <div class="rond-r">
            <div class="clip-num align-middle">4</div>
            <div class="clip-text align-middle" v-bind="dKey('sList#3')">{{getData('sList', 3)}}</div>
          </div>
        </div>
        <div id="id-10" data-pos="47" data-speed="1.5" class="paralax left">
          <div class="rond-r">
            <div class="clip-num align-middle">5</div>
            <div class="clip-text align-middle" v-bind="dKey('sList#4')">{{getData('sList', 4)}}</div>
          </div>
        </div>
        <div id="id-11" data-pos="50" data-speed="1.5" class="paralax right">
          <div class="rond-r">
            <div class="clip-num align-middle">6</div>
            <div class="clip-text align-middle" v-bind="dKey('sList#5')">{{getData('sList', 5)}}</div>
          </div>
        </div>
        <div id="id-12" data-pos="53" data-speed="1.5" class="paralax left">
          <div class="rond-r">
            <div class="clip-num align-middle">7</div>
            <div class="clip-text align-middle" v-bind="dKey('sList#6')">{{getData('sList', 6)}}</div>
          </div>
        </div>
      </div>
    </section>

    <section class="in1">
      <div class="container">
        <div class="title-fs">
          <h1 class="text-center" v-bind="dKey('mTitle')">{{info.mTitle}}</h1>
          <h2 class="text-center">
            <span v-bind="dKey('mSubtitle')">{{info.mSubtitle}}</span>
            <div v-bind="dKey('mSubtitle2')">{{info.mSubtitle2}}</div>
          </h2>
        </div>
      </div>
    </section>

    <section class="in3">
      <div class="container has-paralax">
        <div id="id-13" data-pos="70" data-speed="1.5" class="paralax left">
          <div class="rond-r">
            <div class="clip-num align-middle">1</div>
            <div class="clip-text align-middle" v-bind="dKey('mList#0')">{{getData('mList', 0)}}</div>
          </div>
        </div>
        <div id="id-14" data-pos="73" data-speed="1.5" class="paralax right">
          <div class="rond-r">
            <div class="clip-num align-middle">2</div>
            <div class="clip-text align-middle" v-bind="dKey('mList#1')">{{getData('mList', 1)}}</div>
          </div>
        </div>
        <div id="id-15" data-pos="76" data-speed="1.5" class="paralax left">
          <div class="rond-r">
            <div class="clip-num align-middle">3</div>
            <div class="clip-text align-middle" v-bind="dKey('mList#2')">{{getData('mList', 2)}}</div>
          </div>
        </div>
        <div id="id-16" data-pos="79" data-speed="1.5" class="paralax right">
          <div class="rond-r">
            <div class="clip-num align-middle">4</div>
            <div class="clip-text align-middle" v-bind="dKey('mList#3')">{{getData('mList', 3)}}</div>
          </div>
        </div>
        <div id="id-17" data-pos="82" data-speed="1.5" class="paralax left">
          <div class="rond-r">
            <div class="clip-num align-middle">5</div>
            <div class="clip-text align-middle" v-bind="dKey('mList#4')">{{getData('mList', 4)}}</div>
          </div>
        </div>
        <div id="id-18" data-pos="85" data-speed="1.5" class="paralax right">
          <div class="rond-r">
            <div class="clip-num align-middle">6</div>
            <div class="clip-text align-middle" v-bind="dKey('mList#5')">{{getData('mList', 5)}}</div>
          </div>
        </div>
        <div id="id-19" data-pos="88" data-speed="1.5" class="paralax left">
          <div class="rond-r">
            <div class="clip-num align-middle">7</div>
            <div class="clip-text align-middle" v-bind="dKey('mList#6')">{{getData('mList', 6)}}</div>
          </div>
        </div>
      </div>
    </section>

    <span v-if="$root.isAdmin()" v-bind="dKey('url')" class="hidden">{{url}}</span>
  </main>
</template>

<script>

import {HTTP} from '../http-common'

export default {
  name: 'ServiceAdditional',

  data() {
    return {
      url: 'additional-services',
      animLoaded: false,
      info: {},
      postId: 0,
      pageName: 'service_page',
      errors: []
    }
  },

  mounted() {
    document.querySelectorAll('[data-key]').forEach(function(node){
      node.contentEditable = true
    })
  },

  created() {
    this.$root.$emit('service_page', true)

    this.getPost()
  },

  watch:{
    $route () {
      this.getPost()
    }
  },

  methods: {
    dKey(key, page, pageId) {
      return this.$root.dKey(key, page, pageId)
    },

    getData(key, index, field) {
      if (this.info[key] && this.info[key][index])
        return field ? this.info[key][index][field] : this.info[key][index]
      return ''
    },

    getPost() {
      let self = this

      HTTP.get('posts?filter=' + encodeURIComponent(JSON.stringify({
        where: {
          and: [
            {type: 'service_page'},
            {url: this.url},
            {language_id: this.$root.language_id}
          ]
        }
      }))).then(response => {
        if (response.data.length) {
          self.info = response.data[0].json.length ? JSON.parse(response.data[0].json) : {}
          self.info.title = response.data[0].title
          self.info.id =
          self.postId = response.data[0].id
          self.info.url = response.data[0].url

          document.querySelector('title').text = response.data[0].meta_title.length
            ? response.data[0].meta_title
            : 'Antwerk'

          document.querySelector('meta[name="description"]').text = response.data[0].meta_description.length
            ? response.data[0].meta_description
            : ''

          if (!self.animLoaded) {
            setTimeout(function(){
              window.frameFolder = 'additional';
              window.frameCount = 512;

              self.$root.scriptLoader('//assets.gtagency.de/js/img-anim.js?v=5.0', () => {
                self.animLoaded = true
              })
            }, 1000);
          }
        }
      }).catch(e => {
        self.errors.push(e)
      })
    }
  }
}

</script>
