/*---FONTS-----------------*/
  @import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800&subset=cyrillic');
/*---GENERAL-LAYOUT------*/
  /*---general-config----*/
    li{list-style: none;}
    *:after,*:before{position:absolute;content:''}
    a{-webkit-transition: .4s;-o-transition: .4s;transition: .4s;}
    a:hover{text-decoration: none;color: inherit;}
    b{color: #1a1a1a;}
    input:focus{outline: none}
    ::-moz-selection{background-color:rgba(247,132,73,.8);color:#fff}
    ::selection{background-color:rgba(247,132,73,.8);color:#fff}
    .global-wrapper {
      max-width: 1920px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      font-family: 'Montserrat'!important;
      font-weight: 400;
      font-size: 16px;
      padding-right: 100px;
      color: #666666;
      overflow-x:hidden;
    }
    .container{
      max-width: 1560px;
    }
    .full img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
    }
    .scroll-hidden{
      overflow: hidden;
    }
    section{position: relative;}
  /*header*/
    .logo-wrapper{
      position: relative;
      max-width: 1819px;
      width: 100%;
      z-index: 100;
      top: 25px;
    }
    .logo-link {
       display: inline-block;
     }
    .side-fixed-block{
      background-color: #1a1a1a;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 101px;
      z-index: 1900;
    }  
    .burger-btn{
      background-image: -webkit-gradient(linear, left top, right top, from(#f7844a), to(#ffad2f));
      background-image: -webkit-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: -o-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: linear-gradient(to right, #f7844a 0%, #ffad2f 100%);
      height: 100px;
      width: 100%;
      position: relative;
      cursor: pointer;
    }
    .burger-btn div{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }
    .lang-switch{
      padding-top: 10px !important;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
      left: 50%;
    }
    .lang-switch li{
      text-align: center;
    }
    .lang-switch li a{
      color: #fff;
      opacity: .5;
      text-transform: uppercase;
      display: inline-block;
      padding-bottom: 7px;
      margin-bottom: 10px;
      border-bottom: 1px solid transparent;
    }
    .lang-switch li a:hover,
    .lang-switch li a.current-language{
      border-bottom-color: rgba(255,255,255,.5);
      color: #f78449;
      opacity: 1;
    }
    .nav-arrow{
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      cursor: pointer;
    }
    .nav-arrow div{
      display: block;
      position: absolute;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }
    .nav-arrow div:hover{
      -webkit-transform: translate(-50%,-50%) scale(1.1);
          -ms-transform: translate(-50%,-50%) scale(1.1);
              transform: translate(-50%,-50%) scale(1.1);
    }
    .go-top{
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    .main-menu-wrapper{
      display: none;
      z-index: 2000;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url(../img/main-img.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      overflow-x: hidden;
    }
    .main-menu-wrapper:before{
      width: 100%;
      height: 100%;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(26, 26, 26, 0.9)), to(rgba(26, 26, 26,.3)));
      background-image: -webkit-linear-gradient(left, rgba(26, 26, 26, 0.9) 0%, rgba(26, 26, 26,.3) 100%);
      background-image: -o-linear-gradient(left, rgba(26, 26, 26, 0.9) 0%, rgba(26, 26, 26,.3) 100%);
      background-image: linear-gradient(to right, rgba(26, 26, 26, 0.9) 0%, rgba(26, 26, 26,.3) 100%);
      top: 0;
      left: 0;
    }
    .main-menu{
      position: relative;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 50px 0;
      padding-top: 250px;
    }
    .menu-list{
      max-width: 500px;
      width: 100%;
    }
    .menu-list > li > a{
      margin-bottom: 35px;
    }
    .menu-list > li a{
      color: #ffffff;
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1.3;
      display: inline-block;
    }
    .menu-list > li:last-of-type > a{
      margin-bottom: 0;
    }
    .contacts-header-wrapper .contacts-list a{
      color: #fff;
    }
    .contacts-header-block{
      margin-bottom: 50px;
    }
    .close-btn{
      width: 100px;
      position: absolute;
      top: 0;
      right: 0;
    }
    .menu-list-wrapper{
      position: relative;
    }
    .submenu li a{
      color: #ffffff;
      font-size: 0.875em;
      font-weight: 300;
      line-height: 3;
    }
    .submenu{
      position: absolute;
      top: 0;
      left: 46%;
      display: none;
    }
    .font-opacity > a{
      opacity: .1;
    }
    li.current-li > a{
      opacity: 1!important;
    }
  /*footer*/
    .footer-one{
      background-color: #1a1a1a;
      padding: 97px 0;
    }
    .footer-two {
      background-color: #000000;
      padding: 25px 0;
      position: relative;
      margin-top: -1px;
    }
    footer a {
      color: #666666;
      font-size: .875em;
      font-weight: 300;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
    }
    footer a:hover{
      color:#fff;
    }
    .footer-item h2,.footer-item p{
      color: #ffffff;
      font-size: 1.5em;
      font-weight: 700;
      margin-bottom: 1.875em;
    }
    .contacts-list a{
      margin-bottom: 15px;
      display: block;
      padding-left: 31px;
      position: relative;
    }
    .contacts-list a:hover{
      color: #fff;
    }
    .contacts-list a:before{
      width: 17px;
      height: 12px;
      top: 50%;
      -webkit-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
              transform: translate(0,-50%);
      left: 0;
      text-align: center;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      background-repeat: no-repeat;
    }
    .mail-link:before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='12' viewBox='0 0 16 12'%3E%3Cdefs%3E%3Cpath id='h8t4a' d='M161 8252v1a1 1 0 0 1-1 1h-4v.003h-7V8254h-3a1 1 0 0 1-1-1v-3c0-.022.011-.04.013-.062L145 8245l8 6 8-6 .013 7zm-15.987-8.997c0-.271.098-.506.296-.704a.962.962 0 0 1 .704-.297h14c.27 0 .506.1.703.297a.964.964 0 0 1 .297.704l-8 6z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-145 -8242)'%3E%3Cuse fill='%23666' xlink:href='%23h8t4a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .mail-link:hover:before, .main-menu .mail-link:before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='12' viewBox='0 0 16 12'%3E%3Cdefs%3E%3Cpath id='h8t4a' d='M161 8252v1a1 1 0 0 1-1 1h-4v.003h-7V8254h-3a1 1 0 0 1-1-1v-3c0-.022.011-.04.013-.062L145 8245l8 6 8-6 .013 7zm-15.987-8.997c0-.271.098-.506.296-.704a.962.962 0 0 1 .704-.297h14c.27 0 .506.1.703.297a.964.964 0 0 1 .297.704l-8 6z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-145 -8242)'%3E%3Cuse fill='%23f78449' xlink:href='%23h8t4a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .tel-link:before{
      height: 17px !important;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cpath id='e7qya' d='M160.953 8283.772a.346.346 0 0 0-.167-.186l-3.963-1.574c-.197-.062-.34-.006-.426.167l-2.185 4.37c-.074.124-.055.254.056.39l2.13 2.13a13.386 13.386 0 0 1-4.334 4.35l-2.13-2.147c-.136-.112-.265-.13-.388-.056l-4.37 2.185c-.174.087-.229.228-.167.426l1.574 3.963c.049.087.11.148.185.186a.331.331 0 0 0 .13.018c.049 0 .092-.006.13-.018 3.629-.457 6.746-1.985 9.35-4.584 2.606-2.599 4.137-5.719 4.594-9.361a.42.42 0 0 0 .018-.13.3.3 0 0 0-.037-.13z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-145 -8282)'%3E%3Cuse fill='%23666' xlink:href='%23e7qya'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .tel-link:hover:before,.main-menu .tel-link:before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cpath id='e7qya' d='M160.953 8283.772a.346.346 0 0 0-.167-.186l-3.963-1.574c-.197-.062-.34-.006-.426.167l-2.185 4.37c-.074.124-.055.254.056.39l2.13 2.13a13.386 13.386 0 0 1-4.334 4.35l-2.13-2.147c-.136-.112-.265-.13-.388-.056l-4.37 2.185c-.174.087-.229.228-.167.426l1.574 3.963c.049.087.11.148.185.186a.331.331 0 0 0 .13.018c.049 0 .092-.006.13-.018 3.629-.457 6.746-1.985 9.35-4.584 2.606-2.599 4.137-5.719 4.594-9.361a.42.42 0 0 0 .018-.13.3.3 0 0 0-.037-.13z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-145 -8282)'%3E%3Cuse fill='%23f78449' xlink:href='%23e7qya'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .location-link:before{
      height: 16px !important;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12' height='16' viewBox='0 0 12 16'%3E%3Cdefs%3E%3Cpath id='kuqea' d='M159 8331c0 3.313-6 10-6 10s-6-6.687-6-10a6 6 0 0 1 6-6 6 6 0 0 1 6 6zm-6-4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zm0 2a2 2 0 1 1 0 4 2 2 0 0 1 0-4z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-147 -8325)'%3E%3Cuse fill='%23666' xlink:href='%23kuqea'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .location-link:hover:before,.main-menu .location-link:before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12' height='16' viewBox='0 0 12 16'%3E%3Cdefs%3E%3Cpath id='kuqea' d='M159 8331c0 3.313-6 10-6 10s-6-6.687-6-10a6 6 0 0 1 6-6 6 6 0 0 1 6 6zm-6-4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zm0 2a2 2 0 1 1 0 4 2 2 0 0 1 0-4z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-147 -8325)'%3E%3Cuse fill='%23f78449' xlink:href='%23kuqea'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .info-footer-list{
      -webkit-column-count: 2;
              column-count: 2;
    }
    .subscribe-name {
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid rgba(255,255,255,.3);
      margin-bottom: 50px;
      padding-bottom: 15px;
      color: #666666;
    }
    .subscribe-btn{
      display: block;
      max-width: 226px;
      width: 100%;
      height: 56px;
      text-align: center;
      line-height: 56px;
      background-color: rgba(26,26,26,1);
      position: relative;
      text-transform: uppercase;
      font-size: 14px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      border: none;
    }
    .subscribe-btn:before{
      width: 101.8%;
      height: 107%;
      top: -2px;
      left: -2px;
      background-image:-webkit-gradient(linear,left top, right top,from(#f7844a),to(#ffad2f));
      background-image:-webkit-linear-gradient(left,#f7844a 0%,#ffad2f 100%);
      background-image:-o-linear-gradient(left,#f7844a 0%,#ffad2f 100%);
      background-image:linear-gradient(to right,#f7844a 0%,#ffad2f 100%);
      z-index: 1;
    }
    .subscribe-btn input{
      width: 100%;
      height: 100%;
      background-color: rgba(26,26,26,1);
      border: none;
      z-index: 2;
      position: relative;
      color: #f78449;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      text-transform: uppercase;
      cursor: pointer;
    }
    .subscribe-btn input:hover{
      background-color: rgba(26,26,26,0);
      color: #fff;
    }
    .social-bar-footer span{
      padding-right: 9px;
    }
    .social-icon-list li{
      margin: 0 9px;
    }
    .social-icon-list li a svg use{
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      fill:#666;
    }
    .main-menu .social-icon-list li a svg use{
      fill:#f78449;
    }
    .social-icon-list li a:hover svg use{
      fill: #f78449;
    }
  /*main page*/
    .main-slider-section{
      height: 100vh;
      overflow: hidden;
      background-color: #1a1a1a;
      margin-top: -78px;
      position: relative;
      min-height: 600px;
    }
    .main-slider-container,.main-slide {
      width: 100%;
      height: 100%;
      position: relative;
    }
    .main-slide{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .main-slide:before,.main-slide:after{
      height: 100%;
      background-color: #1a1a1a;
      top: 0;
      left: 0;
    }
    .main-slide:before{
      width: 100%;
      opacity: .2;
      z-index: 1;
    }
    .main-slide:after{
      width: 20.61%;
      opacity: .2;
      z-index: 2;
    }
    .swiper-slide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
    .main-slide-content{
      width: 100%;
      position: relative;
      z-index: 10;
    }
    .main-slide-content .section-title{
      color: #fff;
    }
    .main-slide-content h1{
      color: #ffffff;
      font-size: 4.2vw;
      font-weight: 700;
      margin-bottom: .8em;
    }
    .main-slide-content h2{
      color: #ffffff;
      font-size: 1.5em;
      font-weight: 300;
      line-height: 1;
    }
    .main-slider-progress{
      width: 180px!important;
      height: 2px!important;
      position: relative;
      bottom: auto!important;
      left: auto!important;
      top: auto!important;
      background-color: rgba(219,220,222,.3);
    }
    .main-slider-progress .swiper-pagination-progressbar-fill{
      background-color: #fff;
    }
    .slider-navigation{
      position: absolute;
      z-index: 20;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%,0);
          -ms-transform: translate(-50%,0);
              transform: translate(-50%,0);
      bottom: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .main-slider-btns{
      -ms-flex-negative: 0;
          flex-shrink: 0;
      cursor: pointer;
      outline: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid rgba(255,255,255,.5);
      background-repeat: no-repeat;
      background-position: center;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='9' height='16' viewBox='0 0 9 16'%3E%3Cdefs%3E%3Cpath id='zepqa' d='M219.427 879.989l-6.216-6.644c-.324-.254-.324-.666 0-.921l.292-.23a.995.995 0 0 1 1.171 0l6.786 7.09c.007.003.013.004.02.01l.292.23a.586.586 0 0 1 .242.465.58.58 0 0 1-.242.46l-.293.233c-.006.004-.014.005-.02.01l-6.785 7.09a.997.997 0 0 1-1.17 0l-.293-.232c-.324-.255-.324-.667 0-.922z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-213 -872)'%3E%3Cuse fill='%23fff' xlink:href='%23zepqa'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .main-slider-next-btn{
      margin: 0 25px 0 10px;
    }
    .main-slider-prev-btn{
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    .main-slider-btns:hover{
      border: 1px solid rgba(255,255,255,1);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='9' height='16' viewBox='0 0 9 16'%3E%3Cdefs%3E%3Cpath id='zepqa' d='M219.427 879.989l-6.216-6.644c-.324-.254-.324-.666 0-.921l.292-.23a.995.995 0 0 1 1.171 0l6.786 7.09c.007.003.013.004.02.01l.292.23a.586.586 0 0 1 .242.465.58.58 0 0 1-.242.46l-.293.233c-.006.004-.014.005-.02.01l-6.785 7.09a.997.997 0 0 1-1.17 0l-.293-.232c-.324-.255-.324-.667 0-.922z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-213 -872)'%3E%3Cuse fill='%23f78449' xlink:href='%23zepqa'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .main-slider-numbers{
      color: #ffffff;
      font-size: 0.875em;
      font-weight: 300;
      line-height: 23px;
      margin-left: 25px;
    }
    .main-slider-numbers .slider-current{
      font-size: 1.875em;
      font-weight: 600;
      margin-right: 4px;
    }
    .company-logo{
      width: 144px;
      height: 100px;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #fff;
      z-index: 1000;
    }
    .company-logo div{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }
    section h2, section h3{
      color: #1a1a1a;
      font-size: 60px;
      font-weight: 700;
    }
    .title-wrapper{
      margin-bottom:35px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
    }
    .section-title{
      color: #f78449;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      display: inline-block;
      padding-bottom: 1.25em;
      margin-bottom: 2.5em;
      position: relative;
    }
    .section-title:before{
      width: 70px;
      height: 2px;
      background-color: #f78449;
      left: 0;
      bottom: -2px;
    }
    .about-us-section{
      padding: 60px 0 160px;
      position: relative;
      overflow: hidden;
    }
    .big-section-title{
      color: #ffffff;
      font-size: 200px;
      font-weight: 700;
      position: absolute;
      bottom: -19%;
      right: 0;
      white-space: nowrap;
    }
    .big-title-st{
      color: #ffffff;
      font-size: 10vw;
      font-weight: 700;
      line-height:1;
      display: inline-block;
      margin-top: -30px;
    }
    .out-container-img img{
      position: relative;
      right: -17px;
    }
    .about-us-text p{
      max-width: 740px;
      width: 100%;
    }
    .about-us-text h2{
      margin-bottom: 1.467em;
    }
    .about-us-wrapper{
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .ind1{
      right: -5px!important;
    }
    .what-we-do-section,.logistic-services-section{
      padding-top: 120px;
      background-color: #f4f4f4;
    }
    .what-we-do-section{
      overflow: hidden;
    }
    .logistic-services-section .big-title-st,.what-we-do-section .big-titile-st{
      position: relative;
      right: -15px;
    }
    .logistic-services-section{
      padding-bottom: 130px;
    }
    .title-box{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .service-overview{
      width: 20%;
      height: 550px;
      position: relative;
      overflow: hidden;
    }
    .service-overview:before{
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.4);
      top: 0;
      left: 0;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
    }
    .service-overview:hover:before{
      background-color: rgba(0,0,0,.8);
    }
    .service-overview-content{
      z-index: 10;
      position: absolute;
      padding: 0 30px 45px;
      left: 0;
      bottom: 0;
      height: 105px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      width: 100%;
    }
    .service-overview-content:before,.type-weight-content:before{
      background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(247, 132, 73, 0.6)), to(rgba(247, 132, 73, 0)));
      background-image: -webkit-linear-gradient(bottom, rgba(247, 132, 73, 0.6) 0%, rgba(247, 132, 73, 0) 100%);
      background-image: -o-linear-gradient(bottom, rgba(247, 132, 73, 0.6) 0%, rgba(247, 132, 73, 0) 100%);
      background-image: linear-gradient(to top, rgba(247, 132, 73, 0.6) 0%, rgba(247, 132, 73, 0) 100%);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
    }
    .show-more:before,.show-type:before{
      opacity: 1;
    }
    .show-more{
      padding-bottom: 95px;
      height: 470px;
    }
    .service-overview-content h5,.type-weight-content h6,.solution-text h6{
      color: #ffffff;
      font-size: 1.5em;
      font-weight: 700;
      position: relative;
      margin-bottom: 1em;
    }
    .service-overview-content h5:before{
      width: 70px;
      height: 2px;
      background-color: #f78449;
      left: 0;
      top: -22px;
    }
    .service-overview-content ul{
      padding: 0;
      padding-left: 20px;
      margin-bottom: 47px;
    }
    .service-overview-content > div{
      opacity: 0;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
    }
    .show-more > div{
      opacity: 1;
    }
    .service-overview-content ul li{
      color: #ffffff;
      list-style: disc;
    }
    .details-btn{
      display: block;
      border: 2px solid #ffffff;
      width: 230px;
      height: 60px;
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 56px;
      text-align: center;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      position: relative;
    }
    .details-btn:before{
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0);
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      top: 0;
      left: 0;
    }
    .details-btn:hover{
      color: #fff;
    }
    .details-btn:hover:before{
      background-color: rgba(255,255,255,.25);
    }
    .type-weight-section{
      padding-top: 120px;
      background-color: #f4f4f4;
    }
    .type-weight-section .big-title-st{
      position: relative;
      right: -15px;
    }
    .type-weight-services-overview{
      margin-top: -15px;
    }
    .type-weight-service{
      padding-top: 15px;
      padding-bottom: 15px;
      display: block;
    }
    .type-weight-service-img{
      position: relative;
      overflow: hidden;
      display: block;
    }
    .type-weight-service-img:before{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #1a1a1a;
      opacity:.5;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      z-index: 1;
    }
    .type-weight-service-img:hover:before{
      opacity: .8;
    }
    .type-weight-content{
      width: 100%;
      padding: 0 30px 45px;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 198px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      z-index: 2;
    }
    .type-weight-content .type-icon{
      margin-bottom: 35px;
    }
    .type-text p {
      color: #ffffff;
      margin-bottom: 0;
      opacity: 0;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
    }
    .show-type{
      height: 345px;
    }
    .show-type .type-text p{
      opacity: 1;
    }
    .solution-overview{
      display: block;
      padding: 40px 50px 25px 60px;
      border: 2px solid #e7e7e7;
      margin-bottom: 30px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      position: relative;
      color: #666666;
    }
    .solution-overview:before,.solution-overview:after{
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .solution-overview:before{
      background-image: url(../img/hover-style.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .solution-overview:after{
      background-color: #1a1a1a;
    }
    .solution-overview-content{
      position: relative;
      z-index: 3;
    }
    .solution-overview-content > div{
      padding: 0;
    }
    .number-solution{
      color: #ffffff;
      font-size: 150px;
      font-weight: 700;
      line-height: 1;
    }
    .solution-text h6{
      color: #1a1a1a;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
    }
    .solution-text p {
      margin: 0;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
    }
    .hover-style{
      border-color: #1a1a1a;
    }
    .hover-style:before{
      opacity: 1;
    }
    .hover-style:after{
      opacity: .9;
    }
    .hover-style .solution-text h6,.hover-style .solution-text p {
      color: #fff;
    }
    .hover-style .number-solution,.gradient-words{
      background:-webkit-linear-gradient(#f7844a 0%,#ffad2f 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      color: #f7844a;
    }
    .our-excellence-section{
      background-color: #1a1a1a;
      padding: 120px 0 100px;
    }
    .our-excellence-wrapper{
      padding-top: 25px;
      overflow: hidden;
    }
    .our-excellence-section .big-title-st{
      color: #000000;
      position: relative;
      right: -15px;
    }
    .our-excellence-section h3{
      color: #fff;
    }
    .our-excellence-section .title-wrapper{
      margin-bottom: 69px;
    }
    .our-excellence-overview{
      margin-bottom: 60px;
      height: 177px;
      position: relative;
      width: 100%;
    }
    .our-excellence-overview:before{
      width: calc(100% - 3px);
      height: 3px;
      background:-webkit-gradient(linear,right top, left top,from(rgba(247,132,73,.6)),color-stop(40%, transparent));
      background:-webkit-linear-gradient(right,rgba(247,132,73,.6) 0%,transparent 40%);
      background:-o-linear-gradient(right,rgba(247,132,73,.6) 0%,transparent 40%);
      background:linear-gradient(to left,rgba(247,132,73,.6) 0%,transparent 40%);
      top: 0;
      left: 0;
    }
    .our-excellence-overview:after{
      width: calc(100% - 3px);
      height: 3px;
      background:-webkit-gradient(linear,right top, left top,from(rgba(247,132,73,1)),to(rgba(247,132,73,.6)));
      background:-webkit-linear-gradient(right,rgba(247,132,73,1) 0%,rgba(247,132,73,.6) 100%);
      background:-o-linear-gradient(right,rgba(247,132,73,1) 0%,rgba(247,132,73,.6) 100%);
      background:linear-gradient(to left,rgba(247,132,73,1) 0%,rgba(247,132,73,.6) 100%);
      bottom: 0;
      left: 3px;
    }
    .for-borders{
      width: 100%;
      height: 100%;
      position: relative;
      padding: 0 27px 0 32px;
    }
    .for-borders:before{
      width:3px;
      height: 177px;
      background:-webkit-gradient(linear,left bottom, left top,from(rgba(247,132,73,.6)),color-stop(80%, transparent));
      background:-webkit-linear-gradient(bottom,rgba(247,132,73,.6) 0%,transparent 80%);
      background:-o-linear-gradient(bottom,rgba(247,132,73,.6) 0%,transparent 80%);
      background:linear-gradient(to top,rgba(247,132,73,.6) 0%,transparent 80%);
      top: 0;
      left: 0;
    }
    .for-borders:after{
      width:3px;
      height: 177px;
      background:-webkit-gradient(linear,left bottom, left top,from(rgba(247,132,73,1)),to(rgba(247,132,73,.6)));
      background:-webkit-linear-gradient(bottom,rgba(247,132,73,1) 0%,rgba(247,132,73,.6) 100%);
      background:-o-linear-gradient(bottom,rgba(247,132,73,1) 0%,rgba(247,132,73,.6) 100%);
      background:linear-gradient(to top,rgba(247,132,73,1) 0%,rgba(247,132,73,.6) 100%);
      top: 0;
      right: 0;
    }
    .our-excellence-content{
      position: relative;
      top: 50%;
      -webkit-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
              transform: translate(0,-50%);
    }
    .excellence-icon{
      position: relative;
      z-index: 10;
    }
    .excellence-icon svg{
      position: relative;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }
    .gradient-words{
      font-size: 60px;
      position: absolute;
      left: 0;
      top: -48px;
      z-index: 10;
    }
    .excellence-text{
      position: relative;
      z-index: 10;
    }
    .excellence-text p{
      color: #fff;
    }
    .vacancies-section{
      position: relative;
      padding-top: 120px;
      min-height: 865px;
      overflow: hidden;
    }
    .vacancies-section h3{
      margin-bottom: 1.46333em;
    }
    .about-job-there{
      margin-bottom: 120px;
    }
    .job-description p{
      margin-bottom: 3em;
    }
    .workers-think{
      position: relative;
    }
    .to-vacancies-btn{
      display: block;
      width: 296px;
      height: 56px;
      color: #f78449;
      text-align: center;
      line-height: 56px;
      font-size: 14px;
      position: relative;
      background-color: rgba(255,255,255,1);
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      text-transform: uppercase;
    }
    .to-vacancies-btn:before{
      width: 300px;
      height: 60px;
      top: -2px;
      left: -2px;
      background-image:-webkit-gradient(linear,left top, right top,from(#f7844a),to(#ffad2f));
      background-image:-webkit-linear-gradient(left,#f7844a 0%,#ffad2f 100%);
      background-image:-o-linear-gradient(left,#f7844a 0%,#ffad2f 100%);
      background-image:linear-gradient(to right,#f7844a 0%,#ffad2f 100%);
      z-index: -1;
    }
    .to-vacancies-btn:hover{
      background-color: rgba(255,255,255,0);
      color: #fff;
    }
    .worker-description{
      width: 330px;
      margin-left: auto;
    }
    .worker-description p {
      color: #1a1a1a;
      font-size: 1.5em;
      font-weight: 700;
    }
    .worker-description span{
      display: block;
    }
    .worker-name{
      color: #f78449;
      text-transform: uppercase;
      letter-spacing: 2.4px;
    }
    .worker-position{
      color: #999999;
      font-size: .875em;
    }
    .worker-photo{
      position: absolute;
      width: 337px;
      bottom: 0;
      left: 55%;
    }
    .worker-photo img{
      width: 100%;
    }
    .grey-title-block{
      color: #f4f4f4;
      font-size: 200px;
      font-weight: 700;
      line-height: 1;
      text-align: right;
      margin-right: -20px;
      position: relative;
      top: 50px;
      }
    .news-section{
      background-color: #f4f4f4;
      padding: 120px 0 160px;
    }
    .news-overview{
      display: block;
    }
    .news-img{
      display: block;
      position: relative;
    }
    .news-img:before{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0);
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 51 51;' xml:space='preserve' width='51px' height='51px' fill-opacity='0'%3E%3Cg%3E%3Cg%3E%3Cpath d='M310,190c-5.52,0-10,4.48-10,10s4.48,10,10,10c5.52,0,10-4.48,10-10S315.52,190,310,190z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M500.281,443.719l-133.48-133.48C388.546,277.485,400,239.555,400,200C400,89.72,310.28,0,200,0S0,89.72,0,200 s89.72,200,200,200c39.556,0,77.486-11.455,110.239-33.198l36.895,36.895c0.005,0.005,0.01,0.01,0.016,0.016l96.568,96.568 C451.276,507.838,461.319,512,472,512c10.681,0,20.724-4.162,28.278-11.716C507.837,492.731,512,482.687,512,472 S507.837,451.269,500.281,443.719z M305.536,345.727c0,0.001-0.001,0.001-0.002,0.002C274.667,368.149,238.175,380,200,380 c-99.252,0-180-80.748-180-180S100.748,20,200,20s180,80.748,180,180c0,38.175-11.851,74.667-34.272,105.535 C334.511,320.988,320.989,334.511,305.536,345.727z M326.516,354.793c10.35-8.467,19.811-17.928,28.277-28.277l28.371,28.371 c-8.628,10.183-18.094,19.65-28.277,28.277L326.516,354.793z M486.139,486.139c-3.78,3.78-8.801,5.861-14.139,5.861 s-10.359-2.081-14.139-5.861l-88.795-88.795c10.127-8.691,19.587-18.15,28.277-28.277l88.798,88.798 C489.919,461.639,492,466.658,492,472C492,477.342,489.919,482.361,486.139,486.139z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M200,40c-88.225,0-160,71.775-160,160s71.775,160,160,160s160-71.775,160-160S288.225,40,200,40z M200,340 c-77.196,0-140-62.804-140-140S122.804,60,200,60s140,62.804,140,140S277.196,340,200,340z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M312.065,157.073c-8.611-22.412-23.604-41.574-43.36-55.413C248.479,87.49,224.721,80,200,80c-5.522,0-10,4.478-10,10 c0,5.522,4.478,10,10,10c41.099,0,78.631,25.818,93.396,64.247c1.528,3.976,5.317,6.416,9.337,6.416 c1.192,0,2.405-0.215,3.584-0.668C311.472,168.014,314.046,162.229,312.065,157.073z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .news-img:hover:before{
      background-color: rgba(0,0,0,.5);
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 51 51;' xml:space='preserve' width='51px' height='51px' fill-opacity='0.8'%3E%3Cg%3E%3Cg%3E%3Cpath d='M310,190c-5.52,0-10,4.48-10,10s4.48,10,10,10c5.52,0,10-4.48,10-10S315.52,190,310,190z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M500.281,443.719l-133.48-133.48C388.546,277.485,400,239.555,400,200C400,89.72,310.28,0,200,0S0,89.72,0,200 s89.72,200,200,200c39.556,0,77.486-11.455,110.239-33.198l36.895,36.895c0.005,0.005,0.01,0.01,0.016,0.016l96.568,96.568 C451.276,507.838,461.319,512,472,512c10.681,0,20.724-4.162,28.278-11.716C507.837,492.731,512,482.687,512,472 S507.837,451.269,500.281,443.719z M305.536,345.727c0,0.001-0.001,0.001-0.002,0.002C274.667,368.149,238.175,380,200,380 c-99.252,0-180-80.748-180-180S100.748,20,200,20s180,80.748,180,180c0,38.175-11.851,74.667-34.272,105.535 C334.511,320.988,320.989,334.511,305.536,345.727z M326.516,354.793c10.35-8.467,19.811-17.928,28.277-28.277l28.371,28.371 c-8.628,10.183-18.094,19.65-28.277,28.277L326.516,354.793z M486.139,486.139c-3.78,3.78-8.801,5.861-14.139,5.861 s-10.359-2.081-14.139-5.861l-88.795-88.795c10.127-8.691,19.587-18.15,28.277-28.277l88.798,88.798 C489.919,461.639,492,466.658,492,472C492,477.342,489.919,482.361,486.139,486.139z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M200,40c-88.225,0-160,71.775-160,160s71.775,160,160,160s160-71.775,160-160S288.225,40,200,40z M200,340 c-77.196,0-140-62.804-140-140S122.804,60,200,60s140,62.804,140,140S277.196,340,200,340z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M312.065,157.073c-8.611-22.412-23.604-41.574-43.36-55.413C248.479,87.49,224.721,80,200,80c-5.522,0-10,4.478-10,10 c0,5.522,4.478,10,10,10c41.099,0,78.631,25.818,93.396,64.247c1.528,3.976,5.317,6.416,9.337,6.416 c1.192,0,2.405-0.215,3.584-0.668C311.472,168.014,314.046,162.229,312.065,157.073z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .news-description{
      padding-top: 30px;
    }
    .news-time{
      color: #999999;
      font-size: .875em;
      padding-left: 26px;
      display: inline-block;
      margin-bottom: 23px;
      position: relative;
    }
    .news-time:before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cpath id='3pp6a' d='M161 6932a8 8 0 1 1-16.002 0 8 8 0 0 1 16.002 0zm-2 0A6 6 0 1 0 147 6932 6 6 0 0 0 159 6932zm-3.285 1.3a.994.994 0 0 1-.004 1.411c-.392.391-1.042.372-1.434-.02l-1.983-1.982a1.006 1.006 0 0 1-.294-.71V6928a1 1 0 1 1 2 0v3.586z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-145 -6924)'%3E%3Cuse fill='%23999' xlink:href='%233pp6a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      top: 50%;
      -webkit-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
              transform: translate(0,-50%);
      left: 0;
      width:16px;
      height: 16px;
    }
    .news-description .title-like-link{
      color: #1a1a1a;
      font-size: 1.5em;
      font-weight: 700;
      margin-bottom: 1em;
      display: block;
    }
    .news-description .title-like-link:hover{
      color: #f7844a;
    }
    .news-description p {
      color: #666666;
      margin-bottom: 0;
    }
    .map-section{
      overflow: hidden;
    }
    #map {
      width: 100%;
      height: 100%;
    }
    #map div{
      opacity: 1!important;
    }
    .map-section .section-title{
      color: #ffffff;
    }
    .map-section .section-title:before{
      background-color: #ffffff;
    }
    .map-nav-wrapper{
      background-image: -webkit-gradient(linear, left top, right top, from(#f7844a), to(#ffad2f));
      background-image: -webkit-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: -o-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: linear-gradient(to right, #f7844a 0%, #ffad2f 100%);
      padding: 120px 0 160px;
      padding-left: 7.4vw;
      padding-right: 30px;
    }
    .map-nav-wrapper h3{
      color: #ffffff;
    }
    .map-block{
      position: relative;
      padding-left: 0;
    }
    .map-block > img{
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
    }
    .big-map-title{
      position: absolute;
      color: #1a1a1a;
      font-size: 200px;
      font-weight: 700;
      line-height: 1;
      bottom: -56px;
      right: 143px;
      z-index: 100;
    }
    .map-nav-wrapper h3{
      margin-bottom: 1.3em;
    }
    .nav-form form{
      max-width: 490px;
      width: 100%;
    }
    .nav-form form select{
      background-color:transparent;
      color: #fff;
      width: 100%;
      border: none;
      border-bottom: 2px solid #fff;
      padding-bottom: 15px;
      margin-bottom: 42px;
      font-size: 24px;
      font-weight: 700;
      outline: none;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      z-index: 10;
      border-radius: 0;
    }
    .nav-form form .select-wrapper{
      position: relative;
    }
    .nav-form form select::-ms-expand {
      display: none;
    }
    .nav-form form .select-wrapper:after{
      width: 16px;
      height: 11px;
      top: 20px;
      right: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='9' viewBox='0 0 16 9'%3E%3Cdefs%3E%3Cpath id='dl1wa' d='M627.011 7700.427l6.644-6.217c.254-.322.666-.322.922 0l.23.293a.994.994 0 0 1 0 1.171l-7.09 6.786c-.004.007-.005.013-.01.02l-.23.292a.586.586 0 0 1-.466.242.582.582 0 0 1-.46-.242l-.232-.293c-.005-.006-.006-.014-.01-.019l-7.09-6.786a.997.997 0 0 1 0-1.17l.23-.294c.256-.322.668-.322.923 0z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-619 -7694)'%3E%3Cuse fill='%23fff' xlink:href='%23dl1wa'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
     }
    .nav-form form select option{
      color: #000;
      outline: none;
    }
    .show-map-btn{
      max-width: 230px;
      width: 100%;
    }
    .show-map-btn input{
      border: 2px solid #ffffff;
      width: 100%;
      height: 60px;
      line-height: 56px;
      color: #fff;
      text-align: center;
      background-color: transparent;
      cursor: pointer;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      text-transform: uppercase;
    }
    .show-map-btn input:hover{
      color: #f78449;
      background-color: #fff;
    }
  /*career*/
    .prev-page-section{
      margin-top: -78px;
      position: relative;
      height: 480px;
      background-size: cover;
      background-position: center;
    }
    .prev-page-section .container{
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
    }
    .prev-page-section:before{
      width: 100%;
      height: 100%;
      background-color: rgba(26,26,26,.5);
      top: 0;
      left: 0;
    }
    .prev-page-section .grey-title-block{
      color: #fff;
      top: 40px;
    }
    .career-form-section{
      padding: 120px 0 160px;
    }
    .career-form-section h3{
      margin-bottom: 1.6em;
    }
    .inputs-wrapper input{
      width: 100%;
      border: none;
      border-bottom: 2px solid #dedede;
      padding-bottom: 16px;
      margin-bottom: 40px;
      color: #1a1a1a;
      font-size: 24px;
      font-weight: 700;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
    }
    .invalid-data{
      position: relative;
      max-width: 460px;
      width: 100%;
    }
    .inputs-wrapper input:focus{
      border-color: #f98b46;
    }
    .inputs-wrapper input::-webkit-input-placeholder{
      color: #666;
    }
    .inputs-wrapper input::-webkit-input-placeholder {
      color: #666;
    }
    .inputs-wrapper input::-moz-placeholder {
      color: #666;
    }
    .inputs-wrapper input:-ms-input-placeholder {
      color: #666;
    }
    .error-message{
      display: none;
      position: absolute;
      right: 0;
      bottom: 10px;
      color: #ff0000;
      font-size: 12px;
      font-weight: 300;
    }
    .invalid-data input{
      color: #ff0000!important;
      border-bottom-color: #ff0000!important;
    }
    .invalid-data .error-message{
      display: block;
    }
    .send-btns{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .submit-btn{
      max-width: 226px;
      width: 100%;
      height: 56px;
      position: relative;
      border: none;
      background-color: #fff;
      margin-right: 30px;
      cursor: pointer;
    }
    .submit-btn input{
      width: 100%;
      height: 100%;
      border: none;
      background-color: #fff;
      position: relative;
      z-index: 1;
      color: #f78449;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      cursor: pointer;
    }
    .submit-btn:before{
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      top: -2px;
      left: -2px;
      background-image: -webkit-gradient(linear, left top, right top, from(#f7844a), to(#ffad2f));
      background-image: -webkit-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: -o-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: linear-gradient(to right, #f7844a 0%, #ffad2f 100%);
    }
    .submit-btn input:hover{
      background-color: transparent;
      color: #fff;
    }
    .file-btn{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative;
    }
    .file-btn:before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cpath id='hdjha' d='M425 1008.72a4.7 4.7 0 0 1-1.381 3.347l-4.374 4.375a4.714 4.714 0 0 1-3.345 1.384 4.713 4.713 0 0 1-3.344-1.384.728.728 0 0 1 1.029-1.029 3.279 3.279 0 0 0 4.631 0l4.373-4.376a3.254 3.254 0 0 0 .955-2.316c0-.879-.34-1.701-.955-2.317a3.25 3.25 0 0 0-2.315-.955c-.878 0-1.7.34-2.315.955l-3.345 3.346a.727.727 0 1 1-1.029-1.03l3.345-3.346a4.735 4.735 0 0 1 6.689 0 4.7 4.7 0 0 1 1.38 3.347zm-9.1 10.039a.728.728 0 0 1 0 1.03l-2.83 2.83a4.695 4.695 0 0 1-3.345 1.382 4.695 4.695 0 0 1-3.344-1.382 4.698 4.698 0 0 1-1.38-3.345 4.7 4.7 0 0 1 1.38-3.346l4.116-4.12a4.735 4.735 0 0 1 6.69 0 .728.728 0 0 1-1.03 1.03 3.251 3.251 0 0 0-2.315-.954c-.878 0-1.7.34-2.315.954l-4.117 4.119a3.28 3.28 0 0 0 0 4.633 3.25 3.25 0 0 0 2.316.955c.878 0 1.7-.34 2.315-.955l2.83-2.831a.727.727 0 0 1 1.029 0z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-405 -1004)'%3E%3Cuse fill='%23f78449' xlink:href='%23hdjha'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 20px;
      height: 20px;
      left: 0;
      top: 2px;
    }
    .file-btn label{
      color: #f78449;
      font-size: 14px;
      font-weight: 300;
      padding-left: 40px;
      cursor: pointer;
    }
    .filename{
      border: none;
      background-color: transparent;
      color: #f78449;
      font-size: 14px;
      font-weight: 300;
      position: absolute;
      top: 22px;
      left: 40px;
    }
    .jobs-list-section{
      padding: 120px 0 140px;
      background-color: #f4f4f4;
    }
    .jobs-list-section h3{
      margin-bottom: 1.4em;
    }
    .job-item{
      margin-bottom: 20px;
    }
    .job-title{
      width: 100%;
      padding: 35px 35px 29px 29px;
      border: 2px solid #dedede;
      position: relative;
      cursor: pointer;
    }
    .job-title:before{
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      top: -2px;
      left: -2px;
      background-image: -webkit-gradient(linear, left top, right top, from(#f7844a), to(#ffad2f));
      background-image: -webkit-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: -o-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: linear-gradient(to right, #f7844a 0%, #ffad2f 100%);
      opacity: 0;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
    }
    .job-title:after{
      width: 24px;
      height: 24px;
      top: 50%;
      -webkit-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
              transform: translate(0,-50%);
      right: 29px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cpath id='fjgsa' d='M1627 1543h2v11h11v2h-11v11h-2v-11h-11v-2h11z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-1616 -1543)'%3E%3Cuse fill='%23666' xlink:href='%23fjgsa'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      background-repeat: no-repeat;
      background-position: center;
    }
    .job-title:hover:after{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cpath id='fjgsa' d='M1627 1543h2v11h11v2h-11v11h-2v-11h-11v-2h11z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-1616 -1543)'%3E%3Cuse fill='%23fff' xlink:href='%23fjgsa'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    div.job-detail:hover:after,div.job-detail:after{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='2' viewBox='0 0 24 2'%3E%3Cdefs%3E%3Cpath id='qak5a' d='M1616 1662h24v2h-24z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-1616 -1662)'%3E%3Cuse fill='%23fff' xlink:href='%23qak5a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .job-title:hover:before,.job-detail:before{
      opacity: 1;
    }
    .job-title p {
      color: #1a1a1a;
      font-size: 24px;
      font-weight: 700;
      position: relative;
      z-index: 1;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
    }
    .job-title:hover p,.job-detail p{
      color: #fff;
    }
    .job-text{
      background-color: #fff;
      padding: 30px;
      padding-right: 39px;
      display: none;
    }
    .job-text ul{
      padding-left: 21px;
    }
    .job-text ul li {
      list-style: disc;
    }
    .hr-section{
      min-height: auto;
    }
    .hr-section .grey-title-block{
      color: #1a1a1a;
      z-index: 1;
    }
    .hr-section .worker-description{
      width: 345px;
    }
    .hr-section .worker-photo{
      left: 44%;
      width: 493px;
    }
    .hr-section h3{
      max-width: 680px;
      width: 100%;
      margin-bottom: 1em;
    }
    .hr-contact-wrapper{
      width: 310px;
      height: 160px;
      background-image: -webkit-gradient(linear, left top, right top, from(#f7844a), to(#ffad2f));
      background-image: -webkit-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: -o-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: linear-gradient(to right, #f7844a 0%, #ffad2f 100%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .hr-contact-info a{
      display: block;
      width: auto;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      position: relative;
      padding-left: 31px;
    }
    .hr-contact-info a:before{
      top: 50%;
      -webkit-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
              transform: translate(0,-50%);
      left: 0;
    }
    .hr-email{
      margin-bottom: 20px;
    }
    .hr-email:before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='12' viewBox='0 0 16 12'%3E%3Cdefs%3E%3Cpath id='eseba' d='M211 3324v1a1 1 0 0 1-1 1h-4v.002h-7V3326h-3a1 1 0 0 1-1-1v-3c0-.022.011-.04.012-.062L195 3317l8 6 8-6 .012 7zm-15.988-8.998c0-.27.1-.506.297-.704a.962.962 0 0 1 .703-.296h14c.272 0 .507.1.704.296a.965.965 0 0 1 .296.704l-8 6.001z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-195 -3314)'%3E%3Cuse fill='%23fff' xlink:href='%23eseba'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 16px;
      height: 12px;
    }
    .hr-tel:before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cpath id='aa4ya' d='M210.953 3355.771a.346.346 0 0 0-.167-.185l-3.963-1.574c-.197-.062-.34-.006-.426.167l-2.185 4.37c-.074.123-.055.253.056.39l2.13 2.129a13.389 13.389 0 0 1-4.334 4.352l-2.13-2.149c-.136-.111-.265-.13-.388-.055l-4.37 2.184c-.174.087-.23.229-.168.427l1.575 3.962c.049.088.11.149.185.186a.33.33 0 0 0 .13.018.43.43 0 0 0 .13-.018c3.629-.456 6.746-1.984 9.35-4.583 2.606-2.599 4.137-5.72 4.593-9.361a.42.42 0 0 0 .019-.13.3.3 0 0 0-.037-.13z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-195 -3354)'%3E%3Cuse fill='%23fff' xlink:href='%23aa4ya'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 16px;
      height: 16px;
    }
  /*contacts*/
    .offices-map-section{
      padding: 120px 0 140px;
      background-color: #fff;
    }
    .offices-map-section h3{
      margin-bottom: 1.11666em;
      white-space: nowrap;
    }
    .office-item{
      padding: 31px 30px 29px 19px;
      font-size: 16px;
      margin-bottom: 20px;
    }
    .office-item .col-4 > p{
      margin-bottom: 0;
    }
    .office-item h4{
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 1.2em;
    }
    .manager-mail{
      position: relative;
      padding-left: 33px;
    }
    .manager-mail:before{
      width: 16px;
      height: 12px;
      top: 50%;
      -webkit-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
              transform: translate(0,-50%);
      left: 0;
    }
    .office-item:nth-of-type(2n+1){
      background-color: #f4f4f4;
    }
    .office-item:nth-of-type(2n){
      background-image: -webkit-gradient(linear, left top, right top, from(#f7844a), to(#ffad2f));
      background-image: -webkit-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: -o-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: linear-gradient(to right, #f7844a 0%, #ffad2f 100%);
      color: #fff;
    }
    .office-item:nth-of-type(2n+1) a{
      color: #666;
    }
    .office-item:nth-of-type(2n) a{
      color: #fff;
    }
    .office-item:nth-of-type(2n+1) .manager-mail:before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='12' viewBox='0 0 16 12'%3E%3Cdefs%3E%3Cpath id='rd37a' d='M180 950v1a1 1 0 0 1-1 1h-4v.002h-7V952h-3a1 1 0 0 1-1-1v-3c0-.022.011-.04.013-.062L164 943l8 6 8-6 .012 7zm-15.988-8.997c0-.272.1-.506.297-.704a.963.963 0 0 1 .703-.297h14c.272 0 .507.1.704.297a.964.964 0 0 1 .296.704l-8 6z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-164 -940)'%3E%3Cuse fill='%23f78449' xlink:href='%23rd37a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .office-item:nth-of-type(2n) .manager-mail:before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='12' viewBox='0 0 16 12'%3E%3Cdefs%3E%3Cpath id='m4ssa' d='M181 1157v1a1 1 0 0 1-1 1h-4v.003h-7V1159h-3a1 1 0 0 1-1-1v-3c0-.022.011-.04.012-.062L165 1150l8 6 8-6 .012 7zm-15.988-8.997c0-.271.1-.506.297-.704a.963.963 0 0 1 .703-.297h14c.272 0 .507.1.704.297a.964.964 0 0 1 .296.704l-8 6z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-165 -1147)'%3E%3Cuse fill='%23fff' xlink:href='%23m4ssa'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .manager-numbers{
      padding-left: 15px !important;
    }
    .manager-numbers a{
      display: block;
      white-space: nowrap;
    }
    .earth-block{
      margin-left: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .earth-wrapper{
      max-width: 799px;
      width: 100%;
      position: relative;
    }
    .earth-wrapper > img{
      width: 100%;
    }
    #earth-pins a{
      display: block;
      position: absolute;
      width: 64px;
    }
    #earth-pins a img{
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      width: 100%;
    }
    #earth-pins a img:first-child{
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
    }
    #earth-pins a img:last-child{
      opacity: 0;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
    }
    #earth-pins a:hover img:first-child{
      opacity: 0;
    }
    #earth-pins a:hover img:last-child{
      opacity: 1;
    }
    .modal-dialog{
      margin: 6.75rem auto;
    }
  /*industry*/
    .industry-page{
      padding: 120px 0 125px;
    }
    .industry-page h3{
      margin-bottom: 1.45em;
    }
    .train-section h3{
      margin-bottom: 1.6em;
    }
    .industry-img-wrapper{
      position: static;
    }
    .industry-img-wrapper div{
      position: absolute;
      width: 39.844vw;
      right: 0;
      top: 0;
    }
    .industry-img-wrapper div img{
      width: 100%;
    }
    .building-section,.quote-section,.house-appliances-section{
      background-color: #f4f4f4;
    }
    .img-left-side .d-flex .industry-img-wrapper{
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
    }
    .img-left-side .d-flex .industry-img-wrapper div{
      left: 0;
      right: auto;
    }
    .industry-page h5{
      color: #1a1a1a;
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1.33;
      margin-bottom: 1.5em;
    }
    .industry-page p{
      margin-bottom: 2em;
    }
    .industry-page ul{
      padding: 0;
      margin-bottom: 2.25em;
      max-width: 560px;
      width: 100%;
    }
    .industry-page ul li {
      padding-left: 13px;
      position: relative;
    }
    .industry-page ul li:before{
      width: 6px;
      height: 6px;
      background-color: #f78449;
      border-radius: 50%;
      left: 0;
      top: 6px;
    }
    .quote-section{
      min-height: 360px;
    }
    .quote-img div{
      height: 100%;
      position: absolute;
      width: 40vw;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right center;
    }
    .quote-section .quote-text{
      padding: 79px 15px;
    }
    .quote-text h4 {
      color: #1a1a1a;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.33;
      position: relative;
      margin-bottom: 0;
      z-index: 1;
    }
    .quote-text h4:before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='173' height='137' viewBox='0 0 173 137'%3E%3Cdefs%3E%3Cpath id='gqsxa' d='M597.599 3857.803l17.6-63.6h-39.6l-23.2 57.601c-9.2 22-10.8 29.599-10.8 39.999 0 22.799 16.4 38.399 38.8 38.399 22 0 38.4-15.2 38.4-38.4 0-16.4-8-28.4-21.2-34zm94.399 0l17.6-63.6h-39.6l-23.2 57.601c-9.2 22-10.8 29.599-10.8 39.999 0 22.799 16.4 38.399 38.8 38.399 22 0 38.4-15.2 38.4-38.4 0-16.4-8-28.4-21.2-34z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-541 -3794)'%3E%3Cuse fill='%23fff' xlink:href='%23gqsxa'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 173px;
      height: 137px;
      top: -14px;
      left: -142px;
      z-index: -1;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .our-excellence-section.industry-page {
      color: #fff;
    }
    .our-excellence-section.industry-page h5{
      color: #fff;
      margin-bottom: 2em;
    }
    .industry-page .excellence-text{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .industry-text blockquote{
      color: #1a1a1a;
      font-weight: 700;
      line-height: 2;
      padding-left: 22px;
      margin-left: 30px;
      margin-bottom: 2em;
      position: relative;
    }
    .industry-text blockquote:before{
      width: 2px;
      height: 71%;
      top: 50%;
      -webkit-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
              transform: translate(0,-50%);
      left: 0;
      background-color: #f78449;
    }
    .house-appliances-section{
      padding-bottom: 97px;
    }
    .house-appliances-section .industry-text-wrapper{
      margin-left: auto;
    }
    .house-appliances-section .quote-text{
      padding: 0;
      margin-bottom: 89px;
    }
    .house-appliances-section .quote-text h4{
      padding-left: 115px;
    }
    .house-appliances-section .quote-text h4:before{
      left:0;
    }
    .house-appliances-img div img{
      width: 100%;
    }
    .warranty-text-section{
      background-image: -webkit-gradient(linear, left top, right top, from(#f7844a), to(#ffad2f));
      background-image: -webkit-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: -o-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: linear-gradient(to right, #f7844a 0%, #ffad2f 100%);
      padding: 15px 0;
    }
    .warranty-text-wrapper{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .big-car-img{
      max-width: 519px;
      width: 100%;
      margin-right: 37px;
      -ms-flex-negative: 2;
          flex-shrink: 2;
    }
    .big-car-img svg{
      width: 100%;
    }
    .warranty-text{
      max-width: 854px;
      width: 100%;
      -ms-flex-negative: 1;
          flex-shrink: 1;
    }
    .warranty-text h4{
      color: #fefefe;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.33;
      margin-bottom: 0;
    }
    .industry-page .row.d-flex{
      min-height: 30vw;
    }
  /*about us*/
    .about-us-page-text{
      margin-right: auto;
    }
    .about-us-page-text p{
      margin-bottom: 0;
    }
    .about-first-content{
      margin-bottom: 40px;
    }
    .about-us-pict img{
      width: 100%;
    }
    .about-us-page .col-6{
      -ms-flex: 0 0 50%!important;
      -webkit-box-flex: 0!important;
              flex: 0 0 50%!important;
      max-width: 50%!important;
    }
    .quote-section .quote-text.about-us-page{
      padding-top: 120px;
    }
    .about-us-page-quote{
      min-height: 321px;
    }
    .motivation-text-section{
      min-height: 472px;
      padding-top: 100px;
      background-image: url(../img/plane-img.jpg);
      position: relative;
      margin-bottom: -16px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .motivation-text-section:before{
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.3);
      top: 0;
      left: 0;
    }
    .motivation-text{
      position: relative;
      z-index: 10;
    }
    .motivation-text h4{
      color: #ffffff;
      font-size: 80px;
      font-weight: 800;
      line-height: 1.15;
    }
    .about-us-features-overview{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #fff;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .orange-block-features{
      width: 20%;
      background-color: #f78449;
      background-image: url(../img/decor-img.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center bottom;
    }
    .orange-block-text{
      position: relative;
      top: 50%;
      -webkit-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
              transform: translate(0,-50%);
    }
    .features-box-center{
      position: relative;
      top: 50%;
      -webkit-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
              transform: translate(0,-50%);
    }
    .part-one-feature{
      width: 40%;
    }
    .operativeness-img-wrapper{
      overflow: hidden;
    }
    .operativeness-img{
      max-width: 279px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      top: 100%;
      -webkit-transform: translate(0,-100%);
          -ms-transform: translate(0,-100%);
              transform: translate(0,-100%);
    }
    .operativeness-img img{
      width: 100%;
    }
    .icon-features{
      padding-bottom:35px;
      text-align: center;
      margin-bottom: 35px;
    }
    .line-bottom{
      position: relative;
    }
    .line-bottom:before{
      width: 70px;
      height: 2px;
      background-color: #999999;
      opacity: 0.5;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%,0);
          -ms-transform: translate(-50%,0);
              transform: translate(-50%,0);
    }
    .about-us-features-overview p{
      color: #1a1a1a;
      font-size: 24px;
      font-weight: 700;
      text-align: center!important;
      margin-bottom: 0;
    }
    .white-p p{
      color: #fff;
    }
    .individual-approach{
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../img/individual-approach-img.jpg);
    }
    .opacity-block{
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../img/opacity-img.jpg);
    }
    .white-p .line-bottom:before{
      background-color: #fff;
    }
    .building-section.about-us-page{
      padding-bottom: 0!important;
      margin-bottom: -1px;
    }
    .clarity-block{
      background-image: url(../img/people-img.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .comfort-block{
      background-image: url(../img/tea-img.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .cup-img-wrapper{
      overflow: hidden;
    }
    .cup-img{
      max-width: 294px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      -webkit-transform: translate(0,-100%);
          -ms-transform: translate(0,-100%);
              transform: translate(0,-100%);
      top: 100%;
    }
    .cup-img img{
      width: 100%;
    }
  /*complex*/
    .industry-page.complex-page ul{
      max-width: none;
    }
    .industry-page.complex-page .industry-text{
      margin-bottom: 20px;
    }
    .complex-text{
      margin-right: auto;
    }
    .number-box{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 24px;
    }
    .number-box span{
      color: #f78449;
      font-size: 80px;
      font-weight: 700;
      line-height: 1;
      margin-right: 19px;
    }
    .number-box h5{
      margin-bottom: 0;
    }
    .company-features-item{
      padding: 31px 16px 31px 35px;
      border: 2px solid #eff2fa;
      min-height: 260px;
      margin-bottom: 30px;
    }
    .big-features-item{
      min-height: 550px;
    }
    .company-features-wrapper{
      margin-bottom: 70px;
    }
    .company-features-wrapper p{
      margin-bottom: 0;
    }
    .quote-section.complex-page{
      background-color: #1a1a1a;
      min-height: 400px;
    }
    .quote-section.complex-page h4{
      color: #fff;
    }
    .quote-section.complex-page h4:before{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='173' height='137' viewBox='0 0 173 137'%3E%3Cdefs%3E%3Cpath id='xmf2a' d='M440.599 3474.803l17.6-63.599h-39.6l-23.2 57.6c-9.2 22-10.8 29.6-10.8 39.999 0 22.8 16.4 38.4 38.8 38.4 22 0 38.4-15.2 38.4-38.4 0-16.4-8-28.4-21.2-34zm94.399 0l17.6-63.599h-39.6l-23.2 57.6c-9.2 22-10.8 29.6-10.8 39.999 0 22.8 16.4 38.4 38.8 38.4 22 0 38.4-15.2 38.4-38.4 0-16.4-8-28.4-21.2-34z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-384 -3411)'%3E%3Cuse fill='%23f78449' xlink:href='%23xmf2a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      top: -72px;
    }
    .quote-section.complex-page .quote-text{
      padding-top: 110px;
    }
    .chemical-industry-section.complex-page ul{
      max-width: 676px;
      margin-bottom: 0;
    }
    .solution-on-way-block{
      margin-bottom: 60px;
    }
    .our-excellence-section.complex-page ul{
      max-width: 1300px;
    }
    .solutions-for-optimize-wrapper .solution-icon-item{
      width: 140px;
      height: 140px;
      margin: 0 auto;
      border-radius: 50%;
      position: relative;
      margin-bottom: 30px;
      background-image: -webkit-gradient(linear, left top, right top, from(#f7844a), to(#ffad2f));
      background-image: -webkit-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: -o-linear-gradient(left, #f7844a 0%, #ffad2f 100%);
      background-image: linear-gradient(to right, #f7844a 0%, #ffad2f 100%);
    }
    .solutions-for-optimize-wrapper p{
      color: #ffffff;
      font-weight: 300;
      line-height: 1.625;
      text-align: center!important;
      margin-bottom: 0!important;
    }
    .solutions-for-optimize-wrapper .solution-icon-item div{
      width: 137px;
      height: 137px;
      background-color: #1a1a1a;
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
      border-radius: 50%;
    }
    .solutions-for-optimize-wrapper .col-md-3{
      margin-bottom: 67px;
    }
    .solutions-for-optimize-wrapper .solution-icon-item div svg{
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }
    .our-excellence-section.complex-page h5{
      margin-bottom: 2.7em;
    }
    .planet-img{
      max-width: 500px;
      margin-right: 45px;
    }
    .planet-img img{
      width: 100%;
    }
    .warranty-text-section.complex-page{
      padding-bottom: 0;

    }


  
/*responsive*/
  @media screen and (min-width: 1921px){
    .global-wrapper{max-width: none}
  }
  @media screen and (max-width: 1712px){
    .main-slider-section{min-height: 550px}
    .container{max-width: 1380px;}
    .resp-number{font-size: 160px;}
    .big-section-title{bottom: -15%;}
    .big-map-title{bottom: -45px;}
    .big-title-st{text-align: right;}
    .service-overview{width: 33.333%;}
    .details-btn{margin: 0 auto;}
    .type-weight-service{-ms-flex: 0 0 50%;-webkit-box-flex: 0;flex: 0 0 50%;max-width: 50%;}
    .number-solution{font-size: 120px;}
    .solution-overview-content{-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
    .worker-photo{width: 320px}
    .grey-title-block{top: 35px}
    .hr-section .worker-photo{left: 38%}
    .hr-section .grey-title-block{top: 40px}
    .company-features-wrapper h5{font-size: 20px;}
    .about-us-features-overview p{font-size: 20px;}
  }
  @media screen and (max-width: 1510px){
    .container{max-width: 1250px;}
    .solution-overview{padding: 30px 35px 20px 40px;}
    .big-section-title{font-size:120px;bottom: -11%;}
    .resp-number{font-size:120px;}
    .our-excellence-wrapper .col-3{-ms-flex: 0 0 50%;-webkit-box-flex: 0;flex: 0 0 50%;max-width: 50%;}
    .big-map-title{bottom: -30px;}
    .about-us-section{padding-bottom: 100px;}
    .what-we-do-section, .logistic-services-section{padding-top: 100px;}
    .logistic-services-section .big-title-st, .what-we-do-section .big-titile-st{right: -10px;}
    .type-weight-section .big-title-st{right: -10px}
    .our-excellence-section .big-title-st{right: -10px;}
    .news-section .big-title-st{right: 5px;position: relative}
    .worker-photo{left: 50%;}
    .prev-page-section .grey-title-block{top: 25px}
    .hr-section .grey-title-block{top: 25px}
    .hr-section .worker-photo{left: 35%;width: 390px}
    .quote-img div{width: 45vw}
    .about-us-features-overview p{font-size: 18px;}
    .company-features-item{padding: 20px 10px 20px 20px;}
    .icon-features{padding-bottom: 25px;margin-bottom: 20px;}
  }
  @media screen and (max-width: 1420px){
    .container{max-width: 1190px;padding: 0 30px;}
    .solutions-overview-wrapper .col-6{-ms-flex: 0 0 100%;-webkit-box-flex: 0;flex: 0 0 100%;max-width: 100%;}
    .what-we-do-section, .logistic-services-section,.type-weight-section{padding-top: 80px;}
    .about-us-section{padding: 60px 0;}
    .logistic-services-section{padding-bottom: 80px;}
    .worker-description{position: relative;top: 30px;}
    .news-section,.our-excellence-section,.career-form-section,.jobs-list-section,.offices-map-section,.industry-page{padding: 80px 0;}
    .vacancies-section{padding-top: 80px;}
    section h2, section h3{font-size: 44px}
    .grey-title-block{top: 25px}
    .hr-section .worker-photo{left: 32%;width: 350px}
    .change-default .col-6{-ms-flex: 0 0 100%;-webkit-box-flex: 0;flex: 0 0 100%;max-width: 100%;}
    .industry-img-wrapper div{position: static;max-width: 600px;width: 100%;margin: 0 auto;}
    .img-left-side .d-flex .industry-img-wrapper{-webkit-box-ordinal-group: 2;-ms-flex-order: 1;order: 1}
    .house-appliances-section .col-5{-ms-flex: 0 0 50%;-webkit-box-flex: 0;flex: 0 0 100%;max-width: 100%;}
    .house-appliances-img{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-ordinal-group: 2;-ms-flex-order: 1;order: 1}
    .house-appliances-img > div{width: 50%;}
    .house-appliances-section .quote-text{margin-bottom: 0;}
    .quote-text h4,.warranty-text h4{font-size: 20px;}
    .house-appliances-section .quote-text h4{padding-right: 20px;}
    .icon-features{padding-bottom: 20px;margin-bottom: 15px;}
    .about-us-features-overview p{font-size:16px;}
    .motivation-text h4{font-size: 60px}
    .company-features-wrapper h5{font-size: 18px;}
    .number-box span{font-size: 60px;margin-right: 10px;}
  }
  @media screen and (max-width: 1199px){
    .main-slider-section{min-height: 450px}
    section h2, section h3{font-size: 36px}
    .worker-description{margin-left:0;top: 120px;left: 20%}
    .workers-think{height: 500px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
    .container{max-width: 1040px;}
    .to-vacancies-btn{margin:0 auto;}
    .what-we-do-section, .logistic-services-section{padding-top: 50px;}
    .about-us-section{padding: 30px 0;}
    .logistic-services-section{padding-bottom: 50px;}
    .vacancies-section,.type-weight-section{padding: 0;padding-top: 50px;}
    .resp-number{font-size: 90px;}
    .news-description .title-like-link{font-size: 18px;}
    .global-wrapper{font-size: 14px;}
    .news-description{padding-top: 15px;}
    .news-time{margin-bottom: 10px;}
    .our-excellence-section,.career-form-section,.jobs-list-section,.offices-map-section,.industry-page{padding: 50px 0}
    #map{height: 400px;}
    .map-nav-wrapper{padding: 50px 0;padding-left:60px;}
    .section-title{margin-bottom: 1em;padding-bottom:.75em;}
    .map-block{padding-left: 15px;}
    .about-us-img img{width: 100%;height:200px;-o-object-fit:cover;object-fit:cover;-o-object-position:top;object-position:top;right: auto;}
    .big-section-title{bottom: -25%;}
    .big-map-title{bottom: -20px;right: 60px;}
    .main-menu{padding-top: 100px;}
    .show-more{height: 380px}
    .vacancies-section{min-height: auto}
    .worker-photo{left: 20%;}
    .about-job-there{margin-bottom: 0;}
    .prev-page-section .grey-title-block{top: 18px}
    .prev-page-section{height: 380px}
    .hr-section .workers-think{height: 320px;}
    .hr-section .worker-photo{left: 4%;width: 320px}
    .hr-section .worker-description{top: 10px;}
    .offices-wrapper{margin-bottom: 50px;}
    .quote-img div{width: 65vw;}
    .quote-text h4, .warranty-text h4{font-size: 18px}
    .orange-block-features{width: 100%;-webkit-box-ordinal-group: 0;-ms-flex-order: -1;order: -1;padding: 20px 0;}
    .part-one-feature{width: 50%;}
    .operativeness-img{max-width: 200px}
    .cup-img{max-width: 220px}
    .motivation-text-section{min-height: 350px}
    .quote-section .quote-text.about-us-page h4:after{width: calc(100% + 30px);height:calc(100% + 30px);top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);background-color: rgba(244,244,244,.7);z-index: -2;border-radius: 10px;}
    .quote-text h4:before{z-index: -1}
    .quote-section .quote-text.about-us-page{padding-top: 15%;}
    .big-features-item,.company-features-item{min-height: 250px}
    .company-features-wrapper{margin-bottom: 20px;}
    .solutions-for-optimize-wrapper p{font-size: 14px;}
    .orange-block-features{background-image: none}
  }
  @media screen and (max-width: 992px){
    .job-description p{text-align: justify;}
    .news-section{padding: 50px 0}
    .service-overview{width: 50%;height: 450px;}
    .resp-number{font-size: 75px;}
    .show-type{height: 230px;}
    .type-weight-content .type-icon{margin-bottom: 15px;}
    .type-weight-content h6{margin-bottom: .5em;}
    .menu-list > li > a{margin-bottom: 20px;}
    .menu-list-wrapper{margin-bottom:30px;}
    .footer-item h2, .footer-item p{margin-bottom: 1em;}
    .type-weight-section .big-title-st{right: -5px;}
    .logistic-services-section .big-title-st, .what-we-do-section .big-titile-st{right: -5px;}
    .big-section-title{bottom: -19px;}
    .worker-photo{left: 3%}
    .grey-title-block{top: 15px}
    .prev-page-section .grey-title-block{top: 15px}
    .hr-section .grey-title-block{top: 16px}
    .hr-section .worker-photo{left: 4%;}
    .hr-section .worker-description{top: 50px;left: 30%}
    .quote-img div{width: 80vw}
    .about-us-page-text p{margin-bottom: 1em;}
    .about-first-content{margin-bottom: 50px;}
    .motivation-text h4{font-size: 48px}
    .motivation-text-section{min-height: 320px}
    .warranty-text h4{font-size: 16px;}
    .warranty-text-section.complex-page p{padding-bottom: 10px;}
    .quote-section.complex-page .quote-text{margin-left: auto;}
    .icon-features svg{width: 40px}
    .about-us-features-overview p{font-size: 14px;}
    .icon-features{margin-bottom: 5px;padding-bottom: 10px;}
  }
  @media screen and (max-width: 768px){
    .main-slider-section{min-height: 370px}
    .subscribe-btn{height: 45px;line-height: 41px;}
    .footer-two > div{-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
    .copyright-text{margin-bottom: 10px;}
    section h2, section h3{font-size: 28px}
    .global-wrapper{font-size: 12px;}
    .news-description .title-like-link{font-size: 15px;}
    .type-weight-content{height:100%;bottom: auto;top: 0;padding: 25px 15px}
    .show-type{height:100%}
    .type-text{opacity: 0;}
    .type-weight-service{padding: 10px}
    .type-weight-content h6{font-size: 16px;}
    .nav-arrow{display: none!important;}
    .side-fixed-block{bottom: auto;width: 80px}
    .global-wrapper{padding-right: 0;}
    .main-slide-content h1{font-size: 36px}
    .burger-btn{height: 80px;}
    .logo-wrapper{top:5px;}
    .slider-navigation{bottom: 30px}
    .resp-number{font-size: 50px}
    .big-section-title{bottom: -13px;}
    .service-overview{height: 350px;}
    .service-overview-content ul{margin-bottom: 15px;}
    .service-overview-content{height: 75px;}
    .show-more{height: 300px;}
    .details-btn{width: 200px;height: 50px;line-height: 46px;}
    .for-borders{padding:0 15px 0 30px; }
    .excellence-icon svg{width: 100%;}
    .worker-description{left: 30%}
    .submenu{left: 60%}
    .lang-switch{width: 100%;position: static;-webkit-transform: translate(0);-ms-transform: translate(0);transform: translate(0);display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;margin-top: 50px!important;}
    .close-btn{width: 80px;}
    .grey-title-block{top: 10px}
    .inputs-wrapper input{max-width: none;}
    .prev-page-section{height: 280px}
    .prev-page-section .grey-title-block{top: 11px}
    .inputs-wrapper input,.job-title p{font-size: 18px}
    .hr-section .worker-description{position: absolute;left: 50%;-webkit-transform: translate(-50%,0);-ms-transform: translate(-50%,0);transform: translate(-50%,0);}
    .hr-section .workers-think{height: 430px;}
    .hr-section .worker-photo{-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);left: 60%;}
    .quote-text h4, .warranty-text h4{font-size: 16px;}
    .quote-img div{width: 100%;}
    .quote-text h4:before{width: 95px;left: -82px}
    .house-appliances-section .quote-text h4{padding-left: 70px;}
    .house-appliances-section .col-5{-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .house-appliances-img > div{width: 100%}
    .quote-img-house{max-width: 600px;margin: 0 auto;}
    .house-appliances-section .quote-text{margin: 20px 0;}
    .footer-one{padding: 60px 0}
    .part-one-feature{width: 100%;}
    .operativeness-img,.cup-img{max-width: 280px}
    .motivation-text h4{font-size: 36px}
    .number-box{margin-bottom: 10px;}
    .big-features-item, .company-features-item {min-height: 220px;padding: 15px;}
    .company-features-wrapper h5{font-size: 16px;}
    .number-box span{font-size: 48px;}
    .solution-on-way-block{margin-bottom: 30px;}
    .solutions-for-optimize-wrapper .col-sm-6{margin-bottom: 40px;}
    .solutions-for-optimize-wrapper .solution-icon-item{margin-bottom: 15px;}
    .our-excellence-section.complex-page h5{text-align: center;}
    .quote-section.complex-page h4:before{top:-30px;left: -75px}
    .icon-features svg{width: auto;}
    .about-us-features-overview p{font-size: 16px;}
    .icon-features{margin-bottom: 20px;padding-bottom: 25px;}
  }
  @media screen and (max-width: 576px){
    .main-slider-section{min-height: 340px}
    .main-slide-content h1{font-size: 21px}
    .main-slide-content .section-title{font-size: 10px;}
    .main-slide-content h2{font-size: 14px;}
    .company-logo{display: none;}
    .type-weight-service{-ms-flex: 0 0 100%;-webkit-box-flex: 0;flex: 0 0 100%;max-width: 100%;}
    .type-weight-content{padding: 50px 20px 20px 20px;}
    .resp-number{display: none;}
    .news-overview-wrapper .col-sm-4{margin-bottom: 50px;}
    .news-section{padding-bottom: 20px;}
    .number-solution{font-size: 80px}
    .solution-overview{padding: 15px 25px 15px 25px;}
    .solution-text h6{margin-bottom: 10px;}
    .gradient-words{font-size: 48px;top: -35px;}
    .excellence-text p{word-break:break-word;}
    .excellence-text{padding-left: 0;}
    section h2, section h3{font-size: 24px;}
    .worker-description p{font-size: 14px}
    .workers-think{height: 395px;position: relative;left: -70px;top: -1px}
    .worker-description{position: absolute;width:260px;right: -70px;left: auto;}
    .submenu{position: relative;left: 10%}
    .map-nav-wrapper{padding: 50px 30px;}
    .main-menu{padding-top: 80px;}
    .our-excellence-wrapper .col-3 {-ms-flex: 0 0 100%;-webkit-box-flex: 0;flex: 0 0 100%;max-width: 100%;}
    .worker-photo{left: 1%;width: 230px}
    .prev-page-section{height: 250px}
    .inputs-wrapper input,.job-title p{font-size: 16px}
    .job-title{padding: 20px;padding-right: 50px;}
    .job-title:after{right: 20px}
    .job-text{padding: 20px}
    .job-text p{text-align: justify;}
    .hr-contact-wrapper{margin: 0 auto;width:100%}
    .hr-section .workers-think{left: auto;}
    #earth-pins a{width: 45px}
    .hr-section .worker-photo{width: 280px}
    .quote-section .quote-text{margin-left: auto;}
    .industry-page h5{font-size: 1.1em;margin-bottom: 1em;}
    .industry-page h3,.industry-page p{margin-bottom: 1em;}
    .big-car-img svg{height: 100%;}
    .big-car-img{display: none;}
    .warranty-text-section{padding: 50px 0}
    .industry-page p{text-align: justify;}
    .motivation-text-section{min-height: 300px}
    .quote-section.complex-page .quote-img div{background-position: left center}
    .quote-section.about-us-page-quote .quote-img div{background-position: center;}
    .big-features-item, .company-features-item {min-height: 150px;margin-bottom: 15px;}
    .warranty-text-section.complex-page{padding-bottom: 50px}
    .warranty-text-section.complex-page p{padding-bottom: 0;}
    .quote-section.complex-page h4:before{left: 0;top: -60px}
  }
  @media screen and (max-width: 490px){
    .service-overview{width: 100%}
    .show-more{height: 300px}
    .service-overview-content ul{margin-bottom: 25px;}
    .solution-overview-content > div{-ms-flex: 0 0 100%;-webkit-box-flex: 0;flex: 0 0 100%;max-width: 100%;}
    .solution-overview{padding-top: 5px;}
    .solution-text h6,.solution-text p,.number-solution{text-align: center;}
    .social-bar-footer{-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
    .social-bar-footer span{padding: 0;display: inline-block;margin-bottom: 10px;}
    .our-excellence-section{padding-bottom: 0;}
    .our-excellence-section.industry-page{padding-bottom: 50px;}
    .container{padding: 0 20px}
    .to-vacancies-btn{width: 270px;}
    .to-vacancies-btn:before{width: 274px}
    .our-excellence-section .title-wrapper{margin-bottom: 40px;}
    .worker-description{right: -110px;}
    .contacts-header-wrapper .footer-item{-ms-flex: 0 0 100%;-webkit-box-flex: 0;flex: 0 0 100%;max-width: 100%;}
    .lang-switch{max-width: 200px}
    .inputs-wrapper input{font-size: 14px}
    .hr-section .worker-description{max-width: 280px;width: 100%;}
    .icon-features{padding-bottom: 15px;margin-bottom: 10px;}
    .icon-features svg{width: 35px}
    .about-us-features-overview p{font-size: 12px;}
    .motivation-text-section{background-position: left center;}
    .solutions-for-optimize-wrapper .col-sm-6{margin-bottom: 25px;}
    .solutions-for-optimize-wrapper .col-md-3{margin-bottom: 30px;}
    .solutions-for-optimize-wrapper .col-md-4{margin-bottom: 30px;}
    .solutions-for-optimize-wrapper p{font-size: 11px;}
    .solutions-for-optimize-wrapper .solution-icon-item{margin-bottom: 10px;}
    .solutions-for-optimize-wrapper .solution-icon-item div{width: 110px;height: 110px;}
    .solutions-for-optimize-wrapper .solution-icon-item{width: 114px;height: 114px;}
    .solutions-for-optimize-wrapper .solution-icon-item div svg{width: 50px}
  }
  @media screen and (max-width: 390px){
    .worker-photo{width: 150px}
    .workers-think{height: 317px}
    .worker-description{right: -70px;top: 70px;width: 180px;}
    .worker-description p{margin-bottom: 5px;}
    .burger-btn{height: 60px;}
    .side-fixed-block{width: 60px;}
    .close-btn{width: 60px;}
    .worker-description p{font-size: 12px;}
    .submit-btn{height: 40px}
    .hr-section .worker-photo{width: 240px}
    .hr-section .workers-think{height: 370px}
    .office-item{padding: 20px}
    .office-item h4{margin-bottom: .5em;}
    .office-item .col-8,.office-item .col-4{-ms-flex: 0 0 100%;-webkit-box-flex: 0;flex: 0 0 100%;max-width: 100%;}
    .office-item .col-4{padding: 0 15px!important;margin-top: 10px;}
    .industry-text blockquote{margin-bottom: 1em;margin-left: 15px;}
    .quote-text h4, .warranty-text h4{font-size: 14px;}
    .house-appliances-section .quote-text h4{padding-left: 40px;}
    .quote-text h4:before{width: 65px;left: -62px;}
    section h2, section h3{font-size: 18px}
    .icon-features{padding-bottom: 5px;margin-bottom: 5px;}
    .motivation-text h4{font-size: 32px;}
    .motivation-text-section {min-height: 250px;padding-top: 70px;}
    .number-box span{font-size: 36px;}
  }
  @media screen and (max-height: 400px){
    .main-menu-wrapper + .lang-switch{padding-top: 50px !important;}
    .nav-arrow{height: 80px}
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .copyright-text{margin-right: auto;}
   .company-features-wrapper h5{width: 70%}
   .industry-page .excellence-icon svg{top: 30px}
   .excellence-icon svg{transform: translate(-50%,0)!important;-ms-transform:translate(-50%,0);}
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 768px){
   .copyright-text{margin-left: auto;}
  }
  @media screen and (-webkit-min-device-pixel-ratio:0){
    .industry-page .excellence-icon svg{top: 30px}
  }

/*test*/
.on-before{z-index: 1;position: relative;}
.default-demo-section{
  /*height: 100vh;*/
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.default-demo-section:before{
  width: 100%;
  height: 100%;
  background-color:rgba(26,26,26,.5);
  top: 0;
  left: 0;
}
.industry-name-wrapper{
  padding: 0 20px;
  margin-bottom: 120px;
}
.industry-name{
  margin: 0 auto;
  max-width: 465px;
  width: 100%;
  background-image: linear-gradient(to right, #f7844a 0%, #ffad2f 100%);
  padding: 75px 15px 43px;
}
.industry-name h2{
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  text-align: center;
  position: relative;
}
.industry-name h2:before{
  width: 70px;
  height: 2px;
  background-color: #ffffff;
  top: -34px;
  left: 50%;
  transform: translate(-50%,0);
}
.our-destination-main h3{
  color: #ffffff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}
.our-destination-main h4{
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.our-destination-main h4:before{
  width: 90%;
  height: 20px;
  background-image: linear-gradient(to right, #f7844a 0%, #ffad2f 100%);
  opacity: 0.58;
  top: 30%;
  left: 50%;
  transform: translate(-50%,0);
}
.service-wrapper{
  background-color: rgba(26,26,26,.75);
  width: 360px;
  height: 209px;
  position: relative;
}
.sevrice-presentation-icon{
  width: 120px;
  height: 120px;
  background-image: linear-gradient(to right, #f7844a 0%, #ffad2f 100%);
  border-radius: 50%;
  left: 50%;
  margin-bottom: 20px;
  transform: translate(-50%,-50%);
  position: absolute;
}
.sevrice-presentation-icon svg{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.service-wrapper p{
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}
